/*imports*/ 
@import "normalize";
@import "skeleton";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans:400,600,700|Merriweather:400italic);

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html {
	// position: absolute; left: 0; top: 0;
	// background: url(../img/poster.jpg) no-repeat;
	// background-size: 100%;
}

html, body {
    height: 100%;
    width: 100%; 
    position:relative;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: 13px 'Open Sans', sans-serif;
	color: #1c1f26;
	line-height: 1em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

ol, ul {
	list-style: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/*--------------------------------------------------------
Typography
--------------------------------------------------------*/

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 400;
}


span .bold {
	font-weight: bold;
}

strong { font-weight: bold; }

a {
	color: #358fe3;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

a:hover {
	color: #868991;
}

p.lead {
	font-size: 20px;
	color: #868991;
	line-height: 1.4;
}

p.small {
	font-size: 16px;
	line-height: 1.2;
}

hr {
	margin: 15px 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}

.logo {
	margin-top: 5px;
	width: 170px;
	position: relative;
	z-index: 1001; 
	// float: left;
}


$navheight: 50px;

nav {
	background: rgba(28, 31, 38, 1);
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: $navheight;
	top: 0px;
}

#navholder {
	float:right;
}

.links {
	height: $navheight;
	display: table-cell;
	vertical-align: middle;
}

.links li {
	display: inline;
	margin: 0 15px 0 0;
}

.links a {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.links a:visited {
	color: white;
}

.links a:hover {
	color: #358fe3;
	// border-bottom: 2px solid #358fe3;
}

.links li.current, .links li.current a {
	// border-bottom: 2px solid #358fe3;
	color: #358fe3;
}


div.band .columns {
	padding-top: 1em;
	padding-bottom: 1em;
}

header.band {
	color: white;
	position: absolute;
}

header #blurb {
	position: relative;
}



a.button {
	background: #e33f0c;
	text-align: center;
	padding: .5em 1em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0.2em 0 #ab3009;
	text-transform: uppercase;
	letter-spacing: 0.1em;
		
	/*transition cross-browser stuff*/
	-webkit-transition: background 0.2s ease-out;  /* Safari 3.2+, Chrome */
	-moz-transition: background 0.2s ease-out;  /* Firefox 4-15 */
	-o-transition: background 0.2s ease-out;  /* opera */
	transition: background 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

a.button:hover {
	background: #ab3009;
}

#footer {
	height: 40px;
	width: 100%;
	background: #1c1f26;
}

.last a {
	margin: 0 1em;	
}

.social-tuts {
	color: #E36316;
}

.social-dribbble {
	color: #c5376d;
}

.social-facebook {
	color: #3B5998;
}

.full-width {
	background: #f0f2f5;
	padding: 60px 0px 60px 0px;
	margin: 53px 0px 0px 0px;
}

.transparentgray {
	background: rgba(240, 242, 245, 0.25);
}


/* ABOUT */

#about {
	// background: url(../img/sitemodel.png);
	// background-repeat: no-repeat;
	// background-size: 50%;
	// background-position: 0% 75%;

}


/*Board ---------------------------------------------*/

.boardpics {		
	margin: 60px 0 0px 0px;
}

.board .spacer {
	clear: both;
	border-bottom: solid #ccc 1px;
	margin: 30px 10px 40px 10px;
}

.job-position {
	color: #868991;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	margin: -3px 0px 14px 0px;
}

// .production .job-position {
// 	margin: 0px 0 14px 0;
// }



/*--------------------------------------------------------
Parallax
--------------------------------------------------------*/


#parallax4 {
	width: 100%;
	height: 215px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}


#parallax4 .vertical-text,
#parallax4 .pattern {
	height: 215px;
}

#parallax1, #parallax2,  #parallax3 {
	width: 100%;
	height: 440px;
	
	position: relative;
	overflow: hidden;
}

#parallax3 {

}

#parallax1 .vertical-text,
#parallax2 .vertical-text,
#parallax3 .vertical-text,
#parallax1 .pattern,
#parallax2 .pattern,
#parallax3 .pattern {
	height: 440px;
}


	.bg1 {
		background: url(../img/parallax1.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}



	.bg3 {
		background: url(../img/teaser3a.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	.bg4 {
		background: url(../img/parallax4.jpg) 50% 0% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}

	

	/*Parallax3------------------------------------------*/
	
	#parallax3 h1 {
		text-align: center;
		margin-bottom: 10px;
	}

	#parallax3 h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	
	
	
	#parallax3 .content {
		margin: 180px 300px 0 300px;
		padding: 20px 20px 20px 20px;
		text-align: center;
		background-color: rgba(0,0,0,0.25); 
	}


	// #parallax4 .content {
	// 	margin: 70px 300px 0 300px;
	// 	padding: 20px 20px 20px 20px;
	// 	text-align: center;
	// }

	

.pattern {
	background: url(../img/pattern2.png);
	width: 100%;
	position: absolute;
}	

.vertical-text {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

/* BASE 
 * ------------------------------------------------ */


.page {
	padding-top: 64px;
	padding-bottom: 80px;
	position: relative;
	background: white;
} 

#wrapper {
	width: 100%;
	height: 100%;
}

div.band .columns {
	padding-top: 2em;
	padding-bottom: 2em;
}

header.band {
	position:relative;
}

// .homebg {
	// position: fixed; left: 0; top: 0;
	// min-width: 100%; min-height: 100%;
	// background: url(../img/poster.jpg) no-repeat;
	// background-size: cover;
	// overflow: hidden;
	// z-index:-100;
	// background-color: clear;
//}

#home {
	height:100%;
}

#videoheader {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#videoholder {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#videoholder img {
	position:relative;
	width: 100%;
	height: auto;
}

$start-opacity: 1;
.videoheader-content {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	opacity: $start-opacity;
}

video#bgvid {
	position: absolute; left: 0; top: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden;
	// z-index: -100;
}

#blurb {
	height: 100%;
}

$blurb-top: 65%;
#blurb .caption { 
	color: white;
	font: 30px "Oswald", Helvetica, Arial, sans-serif;
	line-height: 1.1em;
	position:relative;
	top:$blurb-top;
}

.quote {
	color: white;
	margin: 30px 450px 0 0px;
	font: "Merriweather", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	font-weight: 400;
	font-style: italic;
	position:relative;
	top:$blurb-top;
}

.author {
	color: white;
	margin: 20px 0;
	font: "Merriweather", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	font-weight: 400;
	font-style: italic;
	position:relative;
	top:$blurb-top;
}

#videocontrol {
	color: white;
	font: 20px "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 300;
	position:absolute;
	top:85%;
	margin-left: 10px;
}

#videocontrol a {
	color: #868991;
	text-decoration: none;
}

#videocontrol a:visited {
	color: #868991;
}

#videocontrol a:hover {
	color: white;
}


header .line {
	border-bottom: solid white 1px;
	margin: 0 0 20px 0;
	width: 160px;

}


header .quote {
	margin: 30px 200px 0 0px;
	font-size: 16px;
	line-height: 1.3em;
}



	
a.button {
	padding: .75em 1.5em;
}

p {
	margin-top: 30px;
	font-size: 18px;
	color: #666;
	text-align: justify;
	line-height: 1.5em;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	line-height: 1.2em;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 35px;
}

h1.white {
	color: white;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
}

h2.white {
	color: white;
}


h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 1.4em;
}

h3.white {
	color: white;
}


.concert h1 {
	margin-bottom: 10px;
}

h3.board {
	margin: 8px 0 20px 0;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	line-height: 1.4em;
}

h4.light {
	font-weight: 300;
}

h4.board {
	margin: -5px 0 20px 0;
}


h4.white {
	color: white;
}

h5 {
	color: #868991;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;

}

.board h5 {
	margin-bottom: 5px;
}

p.prlx-quote {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	z-index: 200;
	margin: 0 10% 0 10%;
}
	
.prlx-author {
	height: 24px;
	width: 300px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin: 26px auto 0 auto;
	display: block;
	z-index: 200;
}

.nmchlogo {
	width: 346px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.subheader {
	font-size: 22px;
	width: 480px;
	line-height: 1.4em;
}

.blockcenter {
	display: block;
	margin: 40px auto;
}

.image_border {
	border: 1px solid #ddd;

}

.image_fullwidth {
	width: 960px;
}

.director {
	margin: 15px 0 25px 0;
}

.production {
	margin: 0px 0 25px 0;
}

/*--------------------------------------------------------
Downloads
--------------------------------------------------------*/

.downloads {
	margin: 0 10px 0 10px;
}

.downloads ul {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.downloads li {
	font-size: 14px;
	color: #777;
	display: inline;
	margin: 0 19px 0 0px;
	vertical-align: middle;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}


#concert {
	margin-top: -80px;
}

#about {
	margin-top: -80px;
}


/* TABLET (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (min-width: $tabletWidth) and (max-width: $baseWidthMQ - 1) {
	#wrapper {
		height: 430px;
	}

	.page {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		background: white;
	} 

	
	header #blurb {
		top: 260px;
	}

	header .caption { 
		font: 20px "Oswald", Helvetica, Arial, sans-serif;
		margin: 0;
		line-height: 1.1em;
	}

	header .quote {
		margin: 30px 0px 0 0px;
		font-size: 14px;
		line-height: 1.1em;
	}

	header .author {
		font-size: 14px;
		line-height: 1.1em;
	}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	

	h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}


	p.prlx-quote {
		font-size: 20px;
	}
	
	.prlx-author {
		font-size: 9px;
		width: 200px;
	}

	.nmchlogo {
		display: block;
		margin: 0px auto;
		width: 173px;
		position: relative;
		top: -20px;
	}

	.subheader {
		font-size: 18px;
		width: auto;
		line-height: 1.4em;
		margin-bottom: 30px;
	}

	.image_fullwidth {
		width: 280px;

	}

	.full-width {
		padding: 30px 0px 20px 0px;
		margin: 53px 0px 0px 0px;
	}

	.downloads {
		padding-bottom: 30px;
	}

	.downloads ul {
		line-height: 1.3em;
		display: block;
	}

	.downloads li {
		margin: 0 0px 0 0px;
		display: block;
		text-align: center;
	}


	#parallax4 {
		height: 150px;
	}


	#parallax4 .vertical-text,
	#parallax4 .pattern {
		height: 150px;
	}


	.bg1 {
		background: url(../img/parallax1_phone.jpg) 50% 50% no-repeat;
	}

	.bg3 {
		background: url(../img/teaser3a_phone.jpg) 50% 50% no-repeat; background-size: 100%;
	}

	.pattern {
		background: none;
	}

	.job-position {
		text-align: center;
	}

	.director {
		margin: 0px 0 15px 0;
	}

	.production {
		margin: 0 0 15px 0;
	}

	.productionboard {
		margin: 0 0 20px 0;
	}

	.board .spacer {
		margin: 50px 10px 30px 10px;
	}

	#concert {
		margin-top: -60px;
	}

	#about {
		margin-top: -40px;
	}

	#ambassador {
		margin-top: 20px;
	}
}


/*  MOBILE (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (max-width: $tabletWidth - 1) {

	#wrapper {
		height: 192px;
	}

	.page {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		background: white;
	} 

	
	header #blurb {
		top: 260px;
	}

	header .caption { 
		font: 20px "Oswald", Helvetica, Arial, sans-serif;
		margin: 0;
		line-height: 1.1em;
	}

	header .quote {
		margin: 30px 0px 0 0px;
		font-size: 14px;
		line-height: 1.1em;
	}

	header .author {
		font-size: 14px;
		line-height: 1.1em;
	}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	

	h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}

	$navheight: 70px;

	nav {
		background: rgba(28, 31, 38, 1);
		width: 100%;
		position: fixed;
		z-index: 1000;
		height: $navheight;
		top: 0px;
	}

	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
	}

	#navholder {
		height: 22px;
		width: 280px;
		float:none;
		margin-left: auto;
		margin-right: auto;
	}

	.links {
		height: 22px;
		width: 260px;
		margin: 4px auto;
		display: block;
	}

	.links a {
		font-size: 12px;
		margin: 0 0 0 0;
		padding: 0;
	}

	.links li {
		display: block;
		margin: 4px 15px 0 0;
		float: left;
	}

	.links li.first {
		margin-left: 10px;
		
	}

	// .links li.current, .links li.current a {
	// 	border-bottom: 1px solid #358fe3;
	// }

	// .links a:hover {
	// 	border-bottom: 1px solid #358fe3;
	// }

	.links li.last {
		margin-right: 0;
	}

	$blurb-top: 25%;
	#blurb .caption { 
		font-size: 14px;
		top:$blurb-top;
	}

	.quote {
		margin: 10px 0px 0 0px;
		font-size: 11px;
		top:$blurb-top;
	}

	.author {
		margin: 20px 0;
			font-size: 10px;
		top:$blurb-top;
	}


	#videoheader {

		margin-top: 50px
	}

	.videoheader-content { display: none; }


	p.prlx-quote {
		font-size: 20px;
	}
	
	.prlx-author {
		font-size: 9px;
		width: 200px;
	}

	.nmchlogo {
		display: block;
		margin: 0px auto;
		width: 173px;
		position: relative;
		top: -20px;
	}

	.subheader {
		font-size: 18px;
		width: auto;
		line-height: 1.4em;
		margin-bottom: 30px;
	}

	.image_fullwidth {
		width: 280px;

	}

	.full-width {
		padding: 30px 0px 20px 0px;
		margin: 53px 0px 0px 0px;
	}

	.downloads {
		padding-bottom: 30px;
	}

	.downloads ul {
		line-height: 1.3em;
		display: block;
	}

	.downloads li {
		margin: 0 0px 0 0px;
		display: block;
		text-align: center;
	}

	#parallax3 {
		height: 220px;
	}

	#parallax4 {
		height: 110px;
	}

	#parallax2 .vertical-text,
	#parallax3 .vertical-text,
	#parallax2 .pattern,
	#parallax3 .pattern {
		height: 220px;
	}

	#parallax4 .vertical-text,
	#parallax4 .pattern {
		height: 110px;
	}

	#parallax3 .content {
		margin: 50px 50px 0 50px;
		text-align: center;
	}

	#parallax4 .content {
		margin: 15px 50px 0 50px;
		text-align: center;
	}

	.bg1 {
		background: url(../img/parallax1_phone.jpg) 50% 50% no-repeat;
	}

	.bg3 {
		background: url(../img/teaser3a_phone.jpg) 50% 50% no-repeat; background-size: 100%;
	}

	.pattern {
		background: none;
	}

	.job-position {
		text-align: center;
	}

	.director {
		margin: 0px 0 15px 0;
	}

	.production {
		margin: 0 0 15px 0;
	}

	.productionboard {
		margin: 0 0 20px 0;
	}

	.board .spacer {
		margin: 50px 10px 30px 10px;
	}

	#concert {
		margin-top: -60px;
	}

	#about {
		margin-top: -40px;
	}

	#ambassador {
		margin-top: 20px;
	}
}

/* MOBILE (LANDSCAPE)
 * ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: $tabletWidth - 1) {
	#wrapper {
		height: 100%;
	}

	$navheight: 50px;

	nav {
		height: $navheight;
	}

	#navholder {
		float:right;
		margin: 0;
		width: auto;
	}

	.logo {
		// display: block;
		margin:13px 0 0 0;
		width: 140px;
		float:left;
	}

	.links {
		height: $navheight;
		width: auto;
		display: table-cell;
		vertical-align: middle;
		margin: 0;
	}

	.links li {
		display: inline;
		margin: 0 15px 0 0;
		float: none;
	}

	.links a {
		font-size: 12px;
	}

	.links li.first {
		margin-left: 0px;		
	}

	$blurb-top: 35%;
	#blurb .caption { 
		top:$blurb-top;
	}

	.quote {
		top:$blurb-top;
	}

	.author {
		top:$blurb-top;
	}
}




/*as we don't have many media queries, we'll stick them all here*/
// @media only screen and (min-width: 767px) { 
	
// 	div.band .columns {
// 		padding-top: 2em;
// 		padding-bottom: 2em;
// 	}

// 	header.band {
// 		background-repeat: no-repeat;
// 		-webkit-background-size:cover;
// 		-moz-background-size:cover;
// 		-o-background-size:cover;
// 		background-size:cover;
// 		background-position:center;
// 		background-image:url(../img/home1.jpg);
// 	}

	
// 	header.band h1 {
		
// 	}
	
// 	a.button {
// 		padding: .75em 1.5em;
// 	}
	
// 	footer {
// 		text-align: left;
// 	}

// 	.last {
// 		text-align: right;
// 	}

// }

// @media only screen and (min-width: 480px) {      
            
//         div.band .columns {
// 			padding-top: 2em;
// 			padding-bottom: 2em;
// 		}

// 		header.band {
// 			background-repeat: no-repeat;
// 			-webkit-background-size:cover;
// 			-moz-background-size:cover;
// 			-o-background-size:cover;
// 			background-size:cover;
// 			background-position:center;
// 			background-image:url(../img/home1_phone.jpg);
// 		}
        
// 	}


