<div class="four columns sidebar">

          <div class="missionstatement">
          <h4>Legacy of Hope</h4>
            <hr size="2" color="#3E3F4"style="margin-bottom: 10px; margin-top: 0;")/>
            <p>The Legacy of Hope Foundation provides medical care and facilities for underserved children and communities around the world. In that spirit, please join us in our global campaign to fulfill the last living wish of Nelson Mandela—to help build the first Nelson Mandela Children’s Hospital.</p>

            <a href="/mission">Learn more about our mission</a>
            </div>
            <div class="fundraiser">

            <h4>Fundraising Status</h4>
            <hr size="2" color="#3E3F4"style="margin-bottom: 35px; margin-top: 0;")/>
            <div style="float:right; position: relative; height:215px; width: 90px; margin-top: -35px; margin-left: 20px;">
              <span class="thermometer"></span>
            </div>
            <p>$100M is needed to build the Nelson Mandela’s children’s hospital</p>
            <p>We're pleased to announce that over half of the funds have been raised to date.</p>
            </div>

            <div class="donatebox">


             <h3><a>Give Here!</a> Help fulfill Nelson Mandela's dream</h3>
             <p>Support The Legacy of Hope Foundation</p>
             <div class="donatebuttonholder">
              <button class=".donateboxbutton">Donate</button>
              </div>
              
            
          </div>
        </div>