<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{text-align: center; margin-top: 40px; }
    #mc_embed_signup form{ padding: 0 0 0 0;}
    #mc_embed_signup label h5{text-align: center; 
    text-transform: uppercase;
    font-size: 16px;
    color: #e6e6e6;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 2;
    padding-left: 15px;
    padding-right: 15px;}

    #mc_embed_signup input.email{ text-align: center; margin-left: auto; margin-right: auto; background-color: rgb(21,21,21); color: white; margin-bottom: 20px; }

    #mc_embed_signup input.button{ margin-left: auto; margin-right: auto; text-align: center;border: 1px solid #e6e6e6;
        border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
    transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear; 
        box-sizing: border-box;
        text-transform: uppercase;
    font-size: 16px;
    color: #e6e6e6;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 1;
    padding-left: 15px;
    padding-right: 15px;
font-family: "Oswald";
font-weight: 200;
margin-left: auto;
margin-right: auto;
};



    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//legacyofhope.us9.list-manage.com/subscribe/post?u=8bc7815ff28d32756f46a2fd2&amp;id=bd7fe779cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL"><h5>Get updates about the concert</h5></label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8bc7815ff28d32756f46a2fd2_bd7fe779cd" tabindex="-1" value=""></div>
    
</form>
</div>

<!--End mc_embed_signup-->