
 <!-- FOOOTERS-->
  <div class="prefooter">
    <div class="wrapper-content">
      <div class="pf1">
        <span class="donatebuttonholder">
      <button onclick="showDonate()" >Give Now</button>
    </span>
    <p> &nbspto support the Legacy of Hope Foundation</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper-content">
    
      <div class="f1">
        <p class="f2p-desktop">© 2014 Legacy Of Hope Foundation - All Rights Reserved</p>
        <p class="f2p-phone">© 2014 Legacy Of Hope Foundation</p>
      </div>
       <div class="f2">
        <p>powered by &nbsp&nbsp </p><a href="http://bespinholdings.com/" target="_blank"><img src="img/BHI_logo.png"/></a>
      </div> 
    </div>
  </div>
<!-- END FOOTERS -->

<% include loh-signup %>