<div class="four columns sidebar">

          <div class="missionstatement">
          <h4>Legacy<em>Of</em>Hope</h4>
            <hr size="2" color="#3E3F4"style="margin-bottom: 10px; margin-top: 0;")/>
            <p>The Legacy of Hope Foundation provides medical care and facilities for underserved children and communities around the world. In that spirit, please join us in our global campaign to fulfill the last living wish of Nelson Mandela—to help build the first Nelson Mandela Children’s Hospital.</p>

            <a href="/mission">Learn more about our mission</a>
            </div>
            <div class="fundraiser">

            <h4>Fundraising Status</h4>
            <hr size="2" color="#3E3F4"style="margin-bottom: 32px; margin-top: 0;")/>
           <!--  <div style="float:right; position: relative; height:215px; width: 90px; margin-top: -35px; margin-left: 20px;"> -->
              <img src="/img/home_thermometer.png"/>
              <!-- <span class="thermometer"></span> -->
           <!--  </div> -->
            <p>$100M is needed to build the Nelson Mandela Children’s Hospital</p>
            <p>We're pleased to announce that over half of the funds have been raised to date.</p>
            </div>

            <div class="donatebox sidebox">


             <h3><a href="javascript: showDonate()">Give Here!</a> Help fulfill Nelson Mandela's dream</h3>
             <p>Support The Legacy of Hope Foundation</p>
             <div class="donatebuttonholder">
              <button onclick="showDonate()" >Donate</button>
              </div>
          </div>

          <div class="sidebox execsumbox">
          <h3>Download: <a target="_blank" href="pdf/executive_summary.pdf">Executive Summary</a></h3>
          </div>
        </div>