
    <!-- CONTACT FORM -->
    <div id="contact">
      <div id="contactfade" class="black_overlay"></div>
      <div class="pattern"></div>
      <div class="container contact-inner">
        <div class="twelve columns">
          <div class="card">

            <form class="legacy-frm" id="contact-form">
              <div class="close-contact"><a onclick=""><i class="fa fa-times"></i></a></div>
              <h1>Contact Us</h1>

              <div class="contactinfo">
                <h1> Legacy of Hope Foundation</h1>
                <h2>399 W.  Broadway Suite 2A</h2>
                <h2>New York, New York 10012</h2>
                <h2>jt(at)legacyofhopeconcerts.org</h2>
                <h2>(949) 463 1795</h2>
              </div>
              
              <label>
                <span>Your Name (required):</span>
                <input id="name" type="text" name="name" placeholder="Your Full Name" minlength="2" required/>
              </label>
              <label>
                <span>Your Email (required):</span>
                <input id="email" type="email" name="email" placeholder="Valid Email Address" required/>
              </label>
              <label for="email2">
                <span>Confirm Email (required):</span>
                <input name="email2" id="email2" type="email" placeholder="Confirm Your Email" required>
              </label>
              <label>
                <span>Message (required):</span>
                <textarea id="message" name="message" placeholder="Your Message to Us" required></textarea>
              </label> 
              <label>
                <span>Sponsor Enquiry:</span>
                <input type="checkbox" name="sponsor" id="sponsor"/>
              </label> 
              <div id="sponsorarea">
                <label>
                  <span>Company Name (required):</span>
                  <input id="company" type="text" name="company" placeholder="Your Company Name" />
                </label>
                <label>
                  <span>Phone (required):</span>
                  <input id="phone" type="text" name="phone" placeholder="Your Phone Number" />
                </label>
                <label>
                  <span>Referrer:</span>
                  <input id="referrer" type="text" name="referrer" placeholder="Who referred you?" />
                </label>
                <label>
                  <span>Your Interest (required):</span>
                  <textarea id="interest" name="interest" placeholder="Your Particular Interest" ></textarea>
                </label>
              </div>
              <div id="contactresult" style="display:none;"></div>
              <label style="margin-top:20px;">
                <input type="submit" class="contactbutton primarybutton" value="Send" /> 
                <input type="reset" class="contactbutton" value="Reset" /> 
              </label> 
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript' src="/js/contact.js"></script>
    <!-- END CONTACT FORM -->