<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

   
  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="banner" src="/img/arun_hero.jpg" alt="Arun Gandhi speaks at the 2013 Legacy of Hope Mandela Day event"/>

      
 <div class="buffer"><img src="/img/spotlight_border.png"/></div>
      <div class="wrapper-wrapper-spotlight">
      <div class="wrapper-spotlight arun">

        <div class="honorary spotlight withpicture andcaption">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Honorary Board</h2>
              <h2>Spotlight</h2>
              <h3>Arun Gandhi</h3>
            </div>
          </div>
         <div class="second">
          <img src="/img/arun_dalai_lama_spotlight.jpg"/>
          </div>
          <div class="third">
          <p class="caption">His Holiness the Dalai Lama with special guests Arun Gandhi (grandson of Mahatma Gandhi) and Martin Luther King III (son of Martin Luther King Jr) during celebrations in honor of His Holiness's 76th birthday held in Washington DC, USA, on July 6, 2011.</p>
          </div>
      </div>



      <p class="top">Millions around the world have been influenced and inspired by Nelson Mandela. Of those millions, relatively few met the great South African Leader in person. Arun Gandhi, the fifth grandson of Mahatma Gandhi, was one of those fortunate few. <em><i>"Mandela is my hero. He is the best example of how a person can change and see the light.”</i></em> </p>

      <p>Arun Gandhi was born in Durban, South Africa and is an Indian-American author and socio-political activist. Arun met Mr. Mandela for the first time in 1952, when Arun was just a teenager. He recalls that, “Mandela was just coming into politics, and he was known to be very militant and aggressive. That same year, my father Manilal Gandhi had been able to convince Chief Albert Lutuli, the President of the African National Congress at that time, to adopt a policy of non-violence as a means of equality for the people in South Africa. But Mr. Mandela and the young members of the ANC didn’t subscribe to it. The whole thing fell through and the struggle took a very violent turn.”</p>

      <p>Arun’s association with South Africa broke off in 1956 when he returned to India as a young man. He had just met the woman who would become his wife, and they decided to get married in India. Once in India, the South African government wouldn’t allow their return to South Africa. From that point on, Arun could only read about Mr. Mandela’s politics and philosophies through newspapers and magazines. In the span of these observations, however, Arun witnessed Mandela’s transformation to the leader we all know today.
      </p>
      <p class="quote center ital">"Non-violence, which Mr. Mandela showed us very beautifully, transformed him and he became a man respected by the entire world."</p>
      <p class="ital">“What really inspired me was that in spite of Mandela believing in militancy at a young age, he was able to see the light and change. Towards the end of his life he was a very different person. In this capacity he gave people courage. People can change if they are willing to see the light. Nelson Mandela was able to show this transformation very remarkably. When he came out of prison, he could have come out very bitter. He could have taken that bitterness and transformed South Africa into a very vengeful country. He could have retaliated with vengeance for all the suffering that the non-whites had gone through. But Mandela was able to see the light. He was able to forgive and change his own attitude. Instead of seeking revenge with violence, he used his enlightened non-violent attitude to transform South Africa. That was one of the most remarkable positions Mandela held. Forgiving is not an easy thing. He had the capacity to forgive and as a result, it created a better nation.” </p>

      
     <!--  <p class="quote ital">What really inspired me was that in spite of Mandela believing in militancy at a young age, he was able to see the light and change ... Instead of seeking revenge with violence, he used his enlightened non-violent attitude to transform South Africa.</p> -->
      <p class="big center"><strong><a href="/">The Legacy of Hope Foundation</a> was created in part to fulfill the last living wish of Nelson Mandela—to build a children’s hospital in South Africa. In support of this goal, Arun Gandhi has aligned his credibility and enthusiasm with this worthy cause.</strong></p>

      
      <p class="ital">“I am very honored to be a Board Member of the Legacy of Hope Foundation. The important thing about building this hospital are the people in Africa as a whole. They have been neglected and exploited for a VERY long time. Basic amenities like schools, hospitals and healthcare have been totally neglected. This neglect can be seen throughout the continent of Africa where there are currently only four children’s hospitals. Africa is a HUGE continent. Geographically, Africa is larger than the United States and China combined. For such a huge continent to be totally neglected and exploited has had its negative effect. I think creating this hospital is a very important thing. The Nelson Mandela Children’s Hospital will provide a very important need for the country and the children it will serve. I was born in Africa. I lived there for 22 years. I feel very disturbed by the fact that people in Africa have been neglected.
      </p>

       <p class="quote ital center">"I’m hoping that people around the world will see the light, just as President Mandela did. My hope is we all see the light, and change, and make a difference [in Africa]"</p>


       <div class="arun2">
      <img class="arun2 rounded" src="/img/arun_bracelet.jpg" alt="Arun Gandhi displays his Legacy of Hope: Mandela's Wish bracelet"/>
      <p class="caption">Arun Gandhi displays his <a href="http://konectidy.com/legacy-of-hope-bracelet/" target="_blank">Legacy of Hope: Mandela's Wish Bracelet</a></p>
      </div>
      <p class="ital ">Non-violence, which Mr. Mandela showed us very beautifully, transformed him and he became a man respected by the entire world.  By that kind of transformation, we can make this world a better place. Nobody really has the means to transform this whole world alone. We have to do little things that ultimately grow into bigger things that make a difference. Mr. Mandela has been an inspiration. My grandfather has been an inspiration. I continue to be inspired by other people. Mandela is my hero. He is the best example of how a person can change and see the light. And so in that respect, he is my hero. I respect him. I love him. He inspires me!”</p>



      <img class="barclays rounded withstraggler" src="/img/spotlight_barclays.jpg"/>

      <p class="clearleft"><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. Through the unifying power of music and technology, millions of people all across the world will have access to a celebration of bringing light and change to young people, so they, like us, may carry on the legacy of peace and good works left by Nelson Mandela. The Legacy of Hope Foundation invites you to join this unprecedented occasion of global connectedness. 
      </p>
      <% include partials/loh-disqus %>
    </div>
    <script type="text/javascript" src="/js/spotlight.js"></script>
</div>
    


    <% include partials/loh-footer %>
    
  </div>
</body>
</html>