<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

   
  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="banner" src="/img/botlhale2_1.jpg" alt="Botlhale Boikanyo performs at the 2014 Legacy of Hope Mandela Day event"/>

      
 <div class="buffer"><img src="/img/spotlight_border.png"/></div>
      <div class="wrapper-wrapper-spotlight">
      <div class="wrapper-spotlight botlhale2">

        <div class="honorary spotlight ">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Youth Ambassador</h2>
              <h2>Spotlight</h2>
              <h3>Botlhale Boikanyo</h3>
            </div>
          </div>
       <!--   <div class="second">
          <img src="/img/arun_dalai_lama_spotlight.jpg"/>
          </div>
          <div class="third">
          <p class="caption">His Holiness the Dalai Lama with special guests Arun Gandhi (grandson of Mahatma Gandhi) and Martin Luther King III (son of Martin Luther King Jr) during celebrations in honor of His Holiness's 76th birthday held in Washington DC, USA, on July 6, 2011.</p>
          </div> -->
      </div>



      <p class="top">Winner of South Africa’s Got Talent and Legacy of Hope Youth Ambassador, 13-year-old Botlhale Boikanyo grew up inspired by Nelson Mandela. Looking back at his influence on her career as a young girl and poet growing up in South Africa, Bothale recalls — </p>
      <p><i><em>“He taught me to cherish each moment. I vividly remember seeing him doing the Madiba dance with a smile on his face. You could tell he loved people. He engaged with people. He was an optimist. He believed in so much positivity that nothing could ever bring him down or make him feel sad.”</em></i></p>

      <p ><strong>Botlhale (pronounced bo-thall-ee) has taken the inspiration of the Madiba dance and turned it into an opportunity to teach and influence others through her poetic and powerful visual performances.</strong></p>

      <p class="ital">“Through what God has given me, I am able to educate someone about this great hero. I am honored to be on a stage where I am able to inspire someone in the name of his legacy and how he showed the world to forgive. As my wonderful Sunday school teacher and the Bible would say — forgive one another, as you would someday want to be forgiven. Nelson Mandela truly spread that message across the country, because after all that he had been through, he was still able to forgive.”</p>

      <p><strong>The Legacy of Hope Foundation, in recognition of Botlhale’s talents and ability to inspire, is honored to have her represent us as a Youth Ambassador. Since taking on this responsibility, Botlhale has appealed to the international community through numerous interviews and performances, to carry out a simple wish for Nelson Mandela; that wish is to build the Nelson Mandela Children’s Hospital in her home country.</strong></p>

      <p class="ital">"This hospital will serve as a great monument because it represents his ideals. I can picture him up there looking down at his children’s hospital and just smiling and saying, 'I have contributed to that child’s health. I have contributed to that child’s happiness' — and tomorrow that same child will contribute to another child’s happiness. This child will be the next future president and will build more hospitals. In that way, this hospital will be a great pleasure and a blessing. In that spirit, this hospital reminds me of one of my favorite Madiba quotes:</p>

      <p class="bigquote ital">"It always seems impossible until it’s done."</p>

      
      </div>
      </div>
      <img class="scootup" src="/img/botlhale2_2.jpg"/>

      <div class="wrapper-wrapper-spotlight">
      <div class="wrapper-spotlight botlhale2">


      <img class="barclays rounded withstraggler" src="/img/spotlight_barclays.jpg"/>

      <p class="clearleft"><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center on December 13th, 2014, is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. Through the unifying power of music and technology, millions of people all across the world will have access to a celebration of bringing light and change to young people, so they, like us, may carry on the legacy of peace and good works left by Nelson Mandela. The Legacy of Hope Foundation invites you to join this unprecedented occasion of global connectedness. 
      </p>
      <% include partials/loh-disqus %>
    </div>
    <script type="text/javascript" src="/js/spotlight.js"></script>
</div>
    


    <% include partials/loh-footer %>
    
  </div>
</body>
</html>