<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
        <img class="bhero" src="img/botlhale_hero.jpg"/>

        <div class="wrapper-content botlhale">
        <h1>Youth Ambassador 'B' on Fox TV</h1>
        <h4>BOTLHALE BOIKANYO interviewed on Fox News 11, Los Angeles</h4>
        <p><strong>Botlhale Boikanyo</strong> is a young, ambitious and inspired Poet from Johannesburg, South Africa.  At the age of 11 and well beyond her years in both maturity and insight, Bolthale’s early career was put to test under the bright light auditions of the 2012 South Africa’s Got Talent competition. In that setting, Bolthale’s (pronounced bo-thall-ee) took judges firmly by the heart and walked away the clear and undeniable winner for her gut wrenching and heart lifting prose, inspired by her greatest mentor, <strong>Nelson Mandela.</strong> 
        <p>Simply known as ‘B’ by friends and family, Botlhale was asked to join the Legacy of Hope Foundation as the Official Youth Ambassador. In her acceptance of this responsibility, ‘B’ explains her passion for Mr. Mandela and her desire to pitch in and help fulfill his last living wish.</p>

        <p class="center quote"><strong>“I simply want to help Legacy of Hope in their efforts to support the Nelson Mandela Children’s Hospital in my native country. There would be no greater honor.” </strong></p>
        <p>The following video interview is from Fox News 11 (KTTV) Anchor Susan Hirasuna, following Bolthale’s performance at the <a href="/mandeladay">2014 Legacy of Hope Mandela Day Event</a> held at the Wallis Theater for the Performing Arts.</p>
        <p class="center watch">watch the video:</p>
        <script type='text/javascript' src='http://KTTV.images.worldnow.com/interface/js/WNVideo.js?rnd=792962;hostDomain=www.myfoxla.com;playerWidth=575;playerHeight=324;isShowIcon=false;clipId=10413182;flvUri=;partnerclipid=;adTag=;advertisingZone=;enableAds=false;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType='></script><a href="http://www.myfoxla.com" title="Los Angeles News | FOX 11 LA KTTV">Los Angeles News | FOX 11 LA KTTV</a>
        <p class="center">Read the interview at <a href="http://www.myfoxla.com/story/26070793/honoring-nelson-mandela-in-the-voice-of-a-13-year-old">www.myfoxla.com</a></p>
        <p class="center">If you enjoyed our story, please consider supporting the <em><nobr>The Legacy of Hope Foundation</nobr></em></p>

      </div>



      <% include partials/loh-footer %>
    </div>
  </body>
  </html>