<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
  <% include partials/loh-head %>
  
   
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="banner" src="/img/chuck_hero.jpg" alt="Chuck Nice speaks at Mandela Day 2014"/>

      

      <div class="wrapper-spotlight chuck">

        <div class="spotlight withpicture">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Spotlight</h2>
              <h3>Chuck Nice</h3>
            </div>
          </div>
         <div class="second">
          <img src="/img/chuck_spotlight.jpg" alt="Chuck Nice headshot"/>
          </div>
         
      </div>


      <p class="top">Chuck Nice sports a quick and brilliant wit combined with a timeless heartwarming smile. With a well-traveled career in television, radio and stand-up comedy, Chuck has repeatedly won audiences over with a combination of raw humor and an uncanny ability to hit you on the forehead with the obvious. Chuck wears a microphone well. He has the gift to create spontaneous and unabbreviated laughs combined with a deep thinker’s mind that genuinely cares about humanity. Standing firmly on these character traits, Chuck has been an outstanding member of the Legacy of Hope Community and we are honored to have him represent Mandela’s wish to build a children’s hospital in South Africa.</p>

      <p class="clearboth big"><strong>In support of the Legacy of Hope Foundation and the Nelson Mandela Children’s Hospital, Chuck Nice was the emcee for both the 2013 and 2014 Legacy of Hope Mandela Day events held in New York and Los Angeles. At both events, the audience certainly laughed, but they were also given a strong and meaningful message: Nelson Mandela had a final wish. It’s now our turn to work hard and honor this wish and his legacy for future generations.</strong></p>

      <p class="ital">“I think it’s very important when someone like Nelson Mandela passes, that we all continue his good work. That’s really what he was all about. He showed the world through osmosis how to be a better person, and as a result how to become better with one another. His message was exactly this: ‘as you LOVE and RECEIVE LOVE, you become a better person.’ Not the other way around. His message wasn’t ‘I will become a better person and then I will be able to love and receive love.’ NO! First learn to love and receive love and THEN you will become a better person. This is what he wanted people to understand. This is why his message translated to—we are going to have a South Africa, but it’s going to be an equal and free South Africa. It’s not going to be a black and a white South Africa. He didn’t want to see Apartheid lifted...then say, OK guys – now it’s our turn to oppress. Mandela gave us a different message that spoke to overcoming darkness by representing the light of the human spirit.</p>


 <p class="bigquote ital">"Look, here’s a person who took persecution and oppression and did not allow it to make him bitter. Instead he CHOSE, which is the most important word here...he CHOSE to see an opportunity and lift us all to a higher place."</p>
      <p class="ital">"There are several figures throughout history that fall into that category of transcending us to a higher place. There is Gandhi and Christ, Buddha and Mandela and Martin Luther King. The theme is ‘you have to be greater than the darkness around you.’ You CAN overcome darkness. It’s a bitter and difficult struggle. But it’s achievable."</p>

     

      <p class="big"><strong>Growing up in Philadelphia, Chuck Nice was raised by parents who lived through segregation. Mandela’s message of inclusion, which paralleled Martin Luther King’s words, offered an alternative and inspiring mindset.</strong></p>

      <p class="ital">"When I was a kid, I found out about the South African struggle and how Mandela handled himself in the face of these challenges. They really didn’t teach us about Apartheid as much as they should have, and with great reason, because America had its own dark apartheid. I can understand the resistance to that type of education, because we have our own problems here. But when I found out this individual spent so much time behind bars and was then released to become the President? This message was one of powerful inclusion and had a great and lasting effect on me."</p>

      <p class="big"><strong>Nelson Mandela’s example of transcendence translated across the globe. Today, one footprint of his legacy will be seen in healthcare, specifically a children’s hospital in South Africa.</strong></p>

      <p class="bigquote ital">"Children’s healthcare is not charity. It is necessary. Healthcare for children should be free PERIOD. I think this particular hospital represents Mandela’s message perfectly."</p>
      <p class=" ital">"Children cannot help the fact that they are born into a situation where they can’t receive proper treatment. And so your zip code, you parent’s social station in life should not dictate whether or not you live or die. We have to be able to care for one another. The big thing for Africa is the lack of children’s hospitals on the entire continent. This particular hospital under the Mandela banner was one of the dreams he held in keeping with his legacy. Mandela’s legacy is the human condition, of hope and being citizens of the globe – and being responsible to one another. The Nelson Mandela Children’s Hospital offers free healthcare for the children of South Africa regardless of their inability to pay. I think that’s a perfect tone to his legacy.</p>

      </div>
      <div class="chuck1">
      <div class="photo-overlay"><img src="/img/mission_hero.jpg"/></div>
      <img src="/img/mission_hero.jpg" class="chuck1" alt="Nelson Mandela with child"/>
      </div>

      <div class="wrapper-spotlight chuck">
      <p class="ital">"Hospitals in general are a place of caring. The thing is, as human beings, as people...no one looks at an old person who falls ill and dies and says, ‘what a tragedy.' It may or may not be a tragedy, but we don’t look at it that way. We say...‘well they’ve had a full life.'' Children on the other hand, whenever they are ill or whenever they are suffering and cannot receive the necessary attention and healthcare, we look at that as a tragedy. And the reason for this tragedy is because they affect us all. Children affect everyone around them. When a child falls sick—a family falls sick. When grandma was sick, the whole family was affected, but in a far less poignant way because grandma’s old. Let’s just be honest! We love grandma but no one lives forever. But when a child falls sick, you see the future falling sick. That is the reason why I won’t say it’s more important, but I will say it’s more pressing."</p>

     

      <p class="big"><strong>Nelson Mandela offered a living example of caring and being responsible to one another. He showed us how to love one another, even when confronted by the darkness of the enemy. In this spirit, Chuck Nice has felt Mandela’s message within his close circle of friends, family and associates.</strong></p>

      <p class="ital">"I saw my parents constantly change into better people. The more they aged, the more they became better people and changed their views on certain things. My parents probably were my first ‘personal Mandelas.’ I’ve had several other people in my life that did the same thing. My mentor, Jerry Steinberg was a guy who took a great deal of interest in me and helped me tremendously. And my wife, who is probably the most loving person I’ve ever encountered. So I seek to try and mirror the traits of these people in my life that have set these examples. All of these people have helped me understand my place in the universe. Isn’t that what Mandela showed us on a larger scale? I think so. And I feel we are all in a better place as a result."</p>

      <img class="barclays rounded withstraggler" src="/img/spotlight_barclays.jpg"/>

      <p class="clearleft"><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center on December 13th, 2014, is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. This event is a celebration of the unifying power of music and the potential of young people everywhere — regardless of race, status, or geographical location — and the legacy left by Nelson Mandela in his tireless work for freedom, peace, and equality in the world. The Legacy of Hope Foundation invites you to learn more and participate in whatever way you can.</p>
      </p>
    </div>
    <script type="text/javascript" src="/js/spotlight.js"></script>




    <% include partials/loh-footer %>
  </div>
</body>
</html>