<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
        <img class="stage" src="img/concert_stage.png"/>

        <div class="wrapper-content c">
        <h1>Legacy<em>Of</em>Hope</h1>
        <h2>Nelson Mandela</h2>
        <h3>Children's Hospital Concert</h3>
        <h4>December 13th, 2014, New York</h4>
        <p>The LEGACY OF HOPE FOUNDATION will produce a historic evening of music and entertainment this December in support of a global campaign to fulfill the last living wish of Nelson Mandela—to build a dedicated children’s hospital in Johannesburg, South Africa. This will be the fifth dedicated children’s hospital serving the entire continent of Africa.</p>
        <p>The LEGACY OF HOPE NELSON MANDELA CHILDREN'S HOSPITAL CONCERT will feature 10 premier artist/performers and will be broadcast and streamed worldwide. This concert will be Interspersed with never before seen documentary footage. These vignettes celebrate Nelson Mandela’s love of children and his dream of free and accessible healthcare for the children of South Africa. </p>
        <div class="countdown">
          <h1>Concert Begins in</h1>
          <span class="days">
            <div id="days">&nbsp</div>
            <h2>days</h2>
          </span>
          <span class="hours">
            <div id="hours">&nbsp</div>
            <h2>hrs</h2>
          </span>

          <span class="minutes">
            <div id="minutes">&nbsp</div>
            <h2>mins</h2>
          </span>
        </div>
        <script type="text/javascript" src="/js/countdown.js"></script>
        <link rel="stylesheet" href="/css/animate.css">

         <div class="where label">
            <h4>Where</h4>
            <p>Barclays Center, New York</p>
         </div>
         <img class="barclays" src="img/concert_barclays.png"/>
         <p class="first copy">Stay tuned for more details and ticket sales information</p>
         <p class="second copy">Please consider supporting<br><strong>The Legacy of Hope Foundation</strong></p>
         <div class="donatebuttonholder">
      <button onclick="showDonate()" >Give Now</button>
    </div>




      </div>



      <% include partials/loh-footer %>
    </div>
  </body>
  </html>