<!DOCTYPE html>
<html>

<head>
 <!-- CSS up here -->
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>

 <% include partials/loh-head %>
 <!-- <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" /> -->

</head>

<body>
  <div class="wrapper new"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>
      <div class="bg">
      <img class="concert1" src="/img/concert_hero_transparent.png"/>
      <img class="concert2" src="/img/concert_mandela_transparent.png"/>
      </div>
      <div class="container copy">

      <div class="six columns offset-by-three">
      <h1>Legacy<em>of</em>Hope</h1>
      <h2>Nelson Mandela</h2>
      <h3>Children's Hospital Concert</h3>

         <div class="countdown2 fadey">

                  <h1>December 13th, Barclay Center, NY</h1>
                  <span class="days">
                    <h2 id="days"></h2>
                  </span>
                  <span class="hours">
                    <h2 id="hours">hrs</h2>
                  </span>

                  <span class="minutes">
                    <h2 id="minutes"></h2>
                  </span>
                  <span class="seconds">
                    <h2 id="seconds"></h2>
                  </span>
                </div>
        <script type="text/javascript" src="/js/countdown.js"></script>
        <link rel="stylesheet" href="/css/animate.css">



        <img class="headliner stevie" src="/img/concert_steviewonder.png"/>
         <img class="headliner macklemore" src="/img/concert_macklemore.png"/>
          <img class="headliner miri" src="/img/concert_miri.png"/>
                    </div>



          <div class="ten columns offset-by-one plus">
          <h4>plus more...</h4>
          <img class="busta" src="/img/concert_busta.png"/>
          <img class="grandmaster" src="/img/concert_grandmasterflash.png"/>
          <img class="blueman" src="/img/concert_blueman.png"/>
          <img class="vusi" src="/img/concert_vusi.png"/>
          <img class="imagine" src="/img/concert_imaginedragons.png"/>
          <h4>AND MORE COMING...</h4>
          </div>

          <div class="eight columns offset-by-two cta">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <span class="tickets button"><h5>Get Tickets</h5></span>
          <span class="watch button"><h5>Watch Live Here</h5></span>
          <span class="app button"><h5>Get the App!</h5></span>


          </div>
      </div>
      
  <% include partials/loh-footer %>
</div>
</body>
</html>