<!DOCTYPE html>
<html>

<head>

<% include partials/loh-head %>

</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
    <% include partials/loh-menu %>



      <!-- HERO -->

      <div class="wrapper-fix herofix">
        <div class="hero ">
          <img src="img/concert_hero.jpg"/>
        </div>
      </div>
      <div class="herospacer"><img src="img/concert_hero.jpg"/></div>
      <div class="herobuffer"></div>
      <script src="js/hero.js"></script>
      <!-- END HERO -->





      <!-- PAGE -->

      <div class="page">

        <img src="img/concert_img1.png" class="concertimg1"/>
        <div class="spacer spacer1"></div>
        <div class="spacer spacer2"></div>
        <div class="spacer spacer3"></div>
        <div class="wrapper-content">
          <h1 class="drop-margin">The Concert</h1>
          <h3>December 13th, 2014. New York</h3>
          <br />
          <p>Join Legacy of Hope for a worldwide simulcast concert in support of raising $30M for the Nelson Mandela Children's Hospital. The concert will feature a collection of the world's most talented and respected musicians and will be broadcast around the world in celebration of Mr. Mandela's Legacy and his vision to help the underserved children of his country.</p>
          
          
        </div>
      </div>
      <!-- END PAGE -->



      <% include partials/loh-footer %>
    </div>
  </body>
  </html>