<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>


  <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />
 <script type='text/javascript' src="/js/url-decoder.js"></script>

</head>

<body>
  <div class="wrapper donatepage"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <div class="page container">
        <div class="twelve columns">
          <h1>Make a Donation</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>



        <div class="four columns step1 step">
          <div class="heading">
            <h3>1) Select amount</h3>
          </div>
          <div class="button enabled" amount="5.00"><h5>$5</h5></div>
          <div class="button enabled" amount="50.00"><h5>$50</h5></div>
          <div class="button other enabled" amount=""><h5>Other</h5></div>
          <input type="text" class="otheramount" placeholder="Amount (USD)" onkeypress="return isNumber(event)" onkeyup="updateAmount()" disabled></input>
        </div>
        <div class="four columns step2 step ">
          <div class="heading disabled">
            <h3>2) Select Method</h3>
          </div>
          <div class="button option1" method="paypal"><h5>Paypal Account</h5></div>
          <div class="button option2" method="credit_card"><h5>Credit Card</h5></div>
        </div>
        <div class="four columns step3 step">
          <div class="heading disabled">
            <h3>3) Enter Email Address</h3>
          </div>
          <input type="text" class="emailaddress" disabled placeholder="Email Address" onkeyup="updateEmailAddress()"></input>

          <div class="button submit"><h5>Submit</h5></div>
        </div>
      </div>
      

  <script type='text/javascript' src="/js/donate3.js"></script>





  <div class="push"></div>
</div>
</div>
<% include partials/loh-footer %>

</div>
</body>
</html>