<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>


  <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />

</head>

<body>
  <div class="wrapper donatepage"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <div class="page">
      <div class="container">

        <div class="top">
          <h1>Make a Donation</h1>
          <!-- <h2>Legacy<em>Of</em>Hope</h2> -->
          <p>Make a donation today to help our cause. Below are several key area's in which we need your support and your donations. Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          <hr>
        </div>
        <div class="optionscontainer">
        <% for (var i = 0; i < donate_options.length; i++) { %>
              <div class="four columns option">
                <div class="amount">
                  <h1><%=donate_options[i].name %></h1>
                  <h2>$<%=donate_options[i].amount %></h2>
                </div>
                <div class="stats">
                  <div><p><i><%= donate_options[i].description %></i></p></div>
                   <% for (var j = 0; j < donate_options[i].stats.length; j++) { %>
                    <div>
                      <p><%= donate_options[i].stats[j] %></p>
                    </div>
                   <% } %>
                   <div class="donatebuttonholder">
                      <button onclick="showDonate()">Give Now</button>
                  </div>
                </div>
              </div>
              <% } %>
              </div>


              <p class="textcode">Or text <b><em>Mandela</em></b> to 50555 to donate $10 via text message</p>


          <div class="push"></div>
        </div>
        </div>
</div>
        <% include partials/loh-footer %>
        
      </div>
    </body>
    </html>