<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>


  <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="/css/ccard.css" media="screen" type="text/css" >
  <!-- <link rel="stylesheet" href="/css/animate.css" media="screen" type="text/css" > -->


</head>

<body>
  <div class="wrapper donatepage"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <div class="page container">
        

            <div class="heading twelve columns">
              <h1 >Make a Donation</h1>
            </div>

            <div class="step1">
              <!-- <h2>Legacy<em>Of</em>Hope</h2> -->
              <div class="eight columns">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="buttons four columns">
                <p class="nextstep">Please scroll down</p>
                <div class="button option1" amount="$5"><h5>$5</h5></div>
                <div class="button option2" amount="$50"><h5>$50</h5></div>
                <div class="button option3" amount=""><h5>Other amount</h5></div>
                <p>Paypal & credit card</p>
              </div>
              <hr>
            </div>

            <div class="step2 animated fadeInDown">

              <div class="heading twelve columns">
                <h3 class="donatevia">Donate via</h3>
              </div>
              <div class ="six columns paypal">
               <div class="button paypaloption"><h5>Paypal</h5></div>
             </div>
             <div class ="six columns cc">
              <div class="button ccoption"><h5>Credit Card</h5></div>
            </div>
            <p class="nextstep">Please scroll down</p>
            <hr>
          </div>




          <div class="step3 animated fadeInDown">
           <div class="six columns ccard-container">
             <div class="card-wrapper"></div>
             </div>
             <div class="six columns form-container active">
             <p class="nextstep">Please scroll down</p>
              <form >
                <input placeholder="Amount" type="text" name="ccamount" onkeypress="return isNumber(event)">
                <input placeholder="Card number" type="text" name="ccnumber">
                <input placeholder="First name"type="text" name="ccfirst-name">
                <input placeholder="Last name" type="text" name="cclast-name">
                <input placeholder="MM/YY" type="text" name="ccexpiry">
                <input placeholder="CVC" type="text" name="cccvc">
                <input placeholder="Email address" type="text" name="ccemail">

                <p class="validatemessage">Error with form</p>
                <div class="button submit" onclick="submitCC()"><h5>Submit</h5></div>
              </form>
          </div>
          <div class="three columns validate-container ">
            <div class="validate vamount"><p></p></div>
            <div class="validate vnumber"><p></p></div>
            <div class="validate vfname"><p></p></div>
            <div class="validate vlname"><p></p></div>
            <div class="validate vexpiry"><p></p></div>
            <div class="validate vcvc"><p></p></div>
            <div class="validate vemail"><p></p></div>
            <div class="validate vsubmit"><p></p></div>
          </div>
          <hr>
        </div>



        <div class="step4 animated fadeInDown">
           <div class="eight columns confirm-container offset-by-two">
            <div class="confirm cfamount"><p><b>Amount: </b><span></span></p></div>
            <div class="confirm cfnumber"><p><b>Credit Card Number: </b><span></span></p></div>
            <div class="confirm cftype"><p><b>Type: </b><span></span></p></div>
            <div class="confirm cffname"><p><b>First Name: </b><span></span></p></div>
            <div class="confirm cflname"><p><b>Last Name: </b><span></span></p></div>
            <div class="confirm cfexpiry"><p><b>Expiration Date: </b><span></span></p></div>
            <div class="confirm cfcvc"><p><b>CVC: </b><span></span></p></div>
            <div class="confirm cfemail"><p><b>Email: </b><span></span></p></div>
          </div>
        <!--   <div class="six columns confirm-container">
            <div class="confirm cfamount"><p></p></div>
            <div class="confirm cfnumber"><p></p></div>
            <div class="confirm cffname"><p></p></div>
            <div class="confirm "><p></p></div>
            <div class="confirm cfexpiry"><p></p></div>
            <div class="confirm cfcvc"><p></p></div>
          </div> -->
          <div class="twelve columns confirm-buttons-container">
            <div class="button confirmBtn" onclick="confirmCC(true)"><h5>Confirm</h5></div>
            <div class="button changeBtn" onclick="confirmCC(false)"><h5>Change something</h5></div>
          </div>
          <hr>
        </div>

      <script src="/js/ccard.js"></script>
      <script type='text/javascript' src="/js/donate2.js"></script>




      <div class="push"></div>
  </div>
</div>
<% include partials/loh-footer %>

</div>
</body>
</html>