<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>


  <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />
 <script type='text/javascript' src="/js/url-decoder.js"></script>

</head>

<body>
  <div class="wrapper donatepage"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <div class="page container">
        <div class="twelve columns">
          <h1>Make a Donation over $1 million</h1>
        </div>

        <div class="eight columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>



        <div class="part part1 four columns enabled">
          <div class="heading heading1">

            <h3><i class="fa fa-angle-down caret"></i>Select amount</h3>

          </div>
        <div class="step step1">
          <div class="button option1 enabled" amount="5.00"><h5>$5</h5></div>
          <div class="button option2 enabled" amount="50.00"><h5>$50</h5></div>
          <div class="button option3 enabled" amount=""><h5>Other amount</h5></div>
          <p>Paypal & credit card</p>
        </div>

      </div>
      <hr>

  <script type='text/javascript' src="/js/donate3.js"></script>





  <div class="push"></div>
</div>
</div>
<% include partials/loh-footer %>

</div>
</body>
</html>