<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />

   <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
        <!-- <img class="bhero" src="/img/botlhale_hero.jpg"/> -->

        <div class="wrapper-spotlight graca">
        <h1>Graça Machel mourns her husband, Mandela</h1>
        <h4>Christiane Amanpour speaks with Graça Machel about her late husband, her first TV interview after six months of mourning</h4>

        <p>Graça Mancel was at Nelson Mandela’s side in his final (and many say happiest) years. For six months after Mandela passed away, Graça Machel withdrew from the world to mourn her loss. Now she has re-emerged to continue her work and his legacy. She speaks passionately here about her activism with women and children and about life with one of history’s towering moral figures — Nelson Mandela.</p>


        <iframe class="no-pp" width="700" height="395" src="//www.youtube.com/embed/8OhJwkBv1Fs" frameborder="0" allowfullscreen></iframe>

         <iframe class="pp lilvid" width="320" height="190" src="//www.youtube.com/embed/8OhJwkBv1Fs" frameborder="0" allowfullscreen></iframe>


         <p class="big center"><a href="
  http://amanpour.blogs.cnn.com/2014/06/30/graca-machel-nelson-mandela/" target="_blank">Read the original story on Christiane Amanpour's blog on CNN</a></p>


<% include partials/loh-disqus %>
      </div>


<div class="push"></div>
</div>
      <% include partials/loh-footer %>

  </body>
  </html>