<!DOCTYPE html>
<html>

<head>

<% include partials/loh-head %>

</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
        <% include partials/loh-menu %>

        
      <!-- HEROBLURB -->
      <section class="wrapper-fix heroblurbfix">
        <div class="wrapper-content">
          <div class="heroblurb">
            <h1>The Guitar Initiative</h1>
            <p>guitars generously donated by</p>
            <img src="img/gibson-logo.png"/>
          </div>
        </div>
      </section>

      <!-- END HEROBLURB -->


      <!-- HERO -->
      <div class="wrapper-fix herofix">
        <div class="hero ">
          <img src="img/guitar_hero.jpg"/>
        </div>
      </div>
      <div class="herospacer"><img src="img/guitar_hero.jpg"/></div>
      <div class="herobuffer"></div>
      <script src="js/hero.js"></script>

      <!-- END HERO -->





      <!-- PAGE -->
      <div class="safari-fix-parallax-wrapper">
      <div id="guitar-desktop" class="page">
        <div class="guitarimgholder">
          <img class="guitarimg1" src="img/guitar_img1.png"/>
        </div>
        <div class="spacer"><img width="480" height="150" id="spacer1"/></div>
        <div class="spacer"><img width="500" height="90" id="spacer2"/></div>
        <div class="spacer"><img width="560" height="100" id="spacer3"/></div>
        <div class="spacer"><img width="580" height="70" id="spacer4"/></div>
        <div class="spacer"><img width="560" height="150" id="spacer5"/></div>
        <div class="wrapper-content">
          <h1>The Guitar Initiative</h1>

          <p>The Guitar Initiative is a campaign to increase awareness and support for Nelson Mandela’s <strong>Legacy of Hope</strong>, through the medium of music. The Initiative has two main goals: to obtain musician and celebrity endorsements, and to produce ongoing recordings by artists to benefit the Children’s Hospital and its young patients. This campaign is supported by Gibson and managed by veteran music producer and executive producer of Legacy of Hope Concerts, Eric Gast.</p>

          <div class="guitarcopy1">
            <p>In the first phase of the Guitar Initiative, musicians and celebrities worldwide are signing guitars and pledging their support for Nelson Mandela’s vision of free and accessible healthcare for children all over the world. It has included, so far, artists such as The Crystal Method, members of the Grateful Dead, Steve Jones (Sex Pistols), Guns N Roses, members of Bob Marley’s Wailers, Blues Traveler,  Allman Brothers, Fishbone, Parliament Funkadellic, Robbie Robertson, Andy Frasier (Free), Nine Inch Nails, The Roots, Depeche Mode and Joseph Arthur.</p>
          </div>
        </div>
        <img class="guitarimg2" src="img/guitar_img2.jpg"/>


        <!-- BOTTOM -->
        <div class="bottomsection table">
          <div class="row">
            <div class="left cell rowspan">
              <div class="top guitarcopy2">

                <p>At the end of the campaign, these signed guitars will be displayed on the walls of the Nelson Mandela Children’s Hospital, commemorating the significant role music and art played in building this historical state-of-the-art pediatric hospital. Selected guitars will be offered to the public during the upcoming Legacy of Hope fundraising campaigns. </p>
                <p>The Guitar Initiative also encompasses the larger vision of building a recording facility in the Children’s Hospital, where the recovering children will learn and practice skills related to music production. The children will learn to produce live performances given by visiting international musicians, as part of their recovery program, practical education, and to support the ongoing work of the hospital. </p>
                <p>The hospital recording facility is a radical concept that supports a wide range of goals: patient recovery, necessary skill training, and fundraising efforts that are required maintain a state-of-the-art hospital serving children from all socio-economic backgrounds. This ground-breaking Initiative is intended to be a template for future hospitals serving children around the world. </p>
              </div>
              <div class="bottom">
                <div id="guitarcopy3"><p>"Achieving this through the beauty of music<br>and art is what Legacy of Hope is all about."</p>
                  <p class="bp3">— Eric Gast, Executive Producer, Legacy of Hope Concerts</p>
                </div>
                <img class="guitarimg5"src="img/guitar_img5.jpg" />
              </div>
            </div>
            <div class="right cell">
              <img class="guitarimg3" src="img/guitar_img3.jpg" />
              <img class="guitarimg4"src="img/guitar_img4.jpg" />
            </div>
          </div>
        </div>
        <img class="tpguitarimg5"src="img/guitar_img5.jpg" />
      </div>




      <!-- MOBILE PORTRAIT PAGE -->
      <div id="guitar-phone-portrait" class="page">
       <div class="wrapper-content">
         <h1>The Guitar Initiative</h1>
         <p>Bands and celebrities are signing guitars worldwide for the <strong>Legacy of Hope</strong> campaign.  By lending their signatures to these instruments, they are pledging their support of Mr. Mandela’s values and commitment for free and accessible healthcare for the children of Africa. They’re also committing the use of their social media in support with messaging, textcode and the connected digital campaigns that support’s the Legacy of Hope campaign.</p>

         <p id="generous">guitars generously donated by</p>

       </div>
       <img class="ppguitarimg1" src="img/phone_guitar_img1.jpg"/>
       <div class="wrapper-content">
         <p id="phone-artists">Signing of the guitars have included musical artists such as The Crystal Method,
          members of the Grateful Dead, Steve Jones (Sex Pistols), Guns N Roses, members
          of Bob Marley’s Wailers, Blues Traveler, Allman Brothers, Fishbone, Parliament
          Funkadellic, Robbie Robertson, Andy Frasier(Free), Nine Inch Nails, The Roots, Depeche Mode and Joseph Arthur.</p>
        </div>
        <img class="ppimg" src="img/phone_guitar_img2.jpg"/>
        <div class="wrapper-content">
          <p id="ppcopy1">At the end of this campaign, these guitars will go up on the walls of the Nelson Mandela Children’s Hospital commemorating music and art’s significant role in building this historical state-of-the-art hospital.</p>
          <p>There are plans to build a recording facility for the children to learn and run as part of the healing process while producing a live streamed branded feed of top talent shows for global distribution.</p>
        </div>
        <div id="guitarcopy3">
          <div class="wrapper-content"><p>"Achieving this through the<br>beauty of music and art<br>is what Legacy of Hope is all about."</p>
          </div>
        </div>
        <img class="ppimg"src="img/guitar_img4.jpg" />
        <img class="ppimg"src="img/guitar_img6.jpg" />
        <img class="ppimg"src="img/guitar_img7.jpg" />
      </div> 

      <!-- END MOBILE PORTRAIT PAGE -->



      <!-- MOBILE LANDSCAPE PAGE -->
      <div id="guitar-phone-landscape" class="page">
        <img class="plguitarimg1" src="img/guitar_img1.png"/>
        <div class="spacer spacer1"></div>
        <div class="wrapper-content">
          <h1>The Guitar Initiative</h1>
          <p>Bands and celebrities are signing guitars worldwide for the <strong>Legacy of Hope</strong> campaign.  By lending their signatures to these instruments, they are pledging their support of Mr. Mandela’s values and commitment for free and accessible healthcare for the children of Africa. They’re also committing the use of their social media in support with messaging, textcode and the connected digital campaigns that support’s the Legacy of Hope campaign.</p>

        </div>
        <div id="generous"><p>guitars generously donated by</p>
          <img class="plguitarimg2" src="img/black_gibson_logo.png"/>
        </div>
        <div class="wrapper-content">
          <p id="plguitarcopy1">Signing of the guitars have included musical artists such as The Crystal Method,members of the Grateful Dead, Steve Jones (Sex Pistols), Guns N Roses, members of Bob Marley’s Wailers, Blues Traveler, Allman Brothers, Fishbone, Parliament Funkadellic, Robbie Robertson, Andy Frasier(Free), Nine Inch Nails, The Roots, Depeche Mode and Joseph Arthur.</p>
        </div>
        <img class="plguitarimg3" src="img/guitar_img2.jpg"/>

        <div class="table">
          <div class="row">
            <div class="left cell rowspan">
              <div class="guitarcopy2 textfill">
                <p>At the end of this campaign, these guitars will go up on the walls of the Nelson Mandela Children’s Hospital commemorating music and art’s significant role in building this historical state-of-the-art hospital.</p>
                <p>There are plans to build a recording facility for the children to learn and run as part of the healing process while producing a live streamed branded feed of top talent shows for global distribution.</p>
              </div>
              <div class="bottom">
                <div id="guitarcopy3"><p>"Achieving this through the<br>beauty of music and art<br>is what Legacy of Hope is all about."</p>
                </div>
                <img class="plguitarimg6" src="img/guitar_img6.jpg"/>
              </div>
            </div>
            <div class="right cell">
              <img class="plguitarimg4" src="img/guitar_img3.jpg"/>
              <img class="plguitarimg5" src="img/guitar_img7.jpg"/>
            </div>
          </div>
        </div>

        <img class="plguitarimg7" src="img/guitar_img4.jpg"/>
      </div>
      <!-- END MOBILE LANDSCAPE PAGE -->


      <% include partials/loh-footer %>
      </div>
    </div>
  </body>
  </html>
