<!DOCTYPE html>
<html>

<head>
 <% include partials/loh-head %>
 <script type="text/javascript" src="/js/unslider.min.js"></script>
</head>

<body>
  <div class="wrapper home"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>





      <!-- HERO -->
        <div class="banner">
          <ul>
            <li>
              <div class="hero">
                <img src="/img/home_hero.png"/>
                <div class="heroblurb">
                  <div class="wrapper-content">
                    <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                    <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                    <p class="herop2">- Nelson Mandela</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="hero ">
                <img src="/img/home_hero.png"/>
                <div class="heroblurb">
                  <div class="wrapper-content">
                    <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                    <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                    <p class="herop2">- Nelson Mandela</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="hero ">
                <img src="/img/home_hero.png"/>
                <div class="heroblurb">
                  <div class="wrapper-content">
                    <h3>Celebrating the Nelson Mandela Children's Hospital</h3>
                    <p class="herop1">“A specialized, dedicated children’s hospital will be a credible demonstration of the commitment of African leaders to place the rights of children at the forefront. Nothing less would be enough."</p>
                    <p class="herop2">- Nelson Mandela</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="herobuffer"></div>
        <script type="text/javascript">
         
            $('.banner').unslider({
              speed: 500,                
              dots: true,               
              fluid: true,
              pause: true          
            });



      
        </script>







        <!-- PAGE -->

        <div class="page">
          <div class="wrapper-content">
            <div class="about">

            </div>
            <div class="fundraiser">
            </div>
          </div>
          <div class="sponsors"></div>
        </div>
        <!-- END PAGE -->






        <% include partials/loh-footer %>
      </div>
    </body>

    </html>