<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>


</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <!-- HERO -->
      <div class="wrapper-fix herofix">

        <div class="slider">
          <div><img src="img/hospital_hero1.png" style="width:100%"/></div>
          <div><img src="img/hospital_hero2.png" style="width:100%"/></div>
          <div><img src="img/hospital_hero3.png" style="width:100%"/></div>

        </div>
        <script type="text/javascript" src="/js/slick.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){

            $('.slider').slick({
              dots: false,
              infinite: true,
              speed: 300,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 5000,
              pauseOnHover: false
            });
          });
        </script>
      </div>
      <div class="herospacer">
        <img src="/img/hospital_hero1.png"/>
        </div>
      <div class="herobuffer"></div>






      <!-- PAGE -->
      <div class="safari-fix-parallax-wrapper">
        <div class="page hospital">
          <div class="container">
            <div class="eight columns maincopy">

              <h1>The Nelson Mandela Children's Hospital</h1>
              <h3>A crucially needed pediatric hospital in South Africa is long overdue.</h3>
              <p style="font-weight: 600;">THIS MUCH NEEDED FACILITY WILL ADDRESS THE FACT THAT THERE ARE ONLY FOUR DEDICATED CHILDREN’S HOSPITALS CURRENTLY SERVING THE ENTIRE CONTINENT OF AFRICA. </p>
              <p>To put all this in perspective, there are 12 children’s hospitals in the state of Florida.</p>
              <p>This new hospital will celebrate the legacy of Mr. Mandela and his love of children while advancing his vision for future generations. The Nelson Mandela Children’s Hospital will be a turning point on how the world views specialized pediatric care to all children, regardless of their ability to pay. Many South African children are currently ignored in their attempt to heal or survive. These children are often thrown into comprehensive facilities that lack staff, medicine, equipment and critical pediatric expertise. In these facilities, children are unfortunately viewed as ‘little adults’ where the old and young suffer and heal, side-by-side. With our collective support, this will all change because of Mr. Mandela’s vision.</p>



            </div>



            <% include partials/loh-sidebar %>

            <img class="hospitalphoto" src="/img/hospital.jpg" style="float:left"/>

            <div class="label">
              <p>Nelson Mandela Children's Hospital<br><i>Architectural Rendering</i><br>slated to open 2016</p>
            </div>
          </div>
        </div>











        <% include partials/loh-footer %>
      </div>
    </div>
  </body>
  </html>