<!DOCTYPE html>
<html>

<head>


  <% include partials/loh-head %>
  
  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
   
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <div class="wrapper-wrapper-spotlight">

     
      <div class="wrapper-spotlight larry">
   

       <div class="honorary spotlight withpicture">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Honorary Board</h2>
              <h2>Spotlight</h2>
              <h3>Larry King</h3>
            </div>
          </div>
          <div class="third">
          <p class="caption">The Legacy of Hope Foundation is honored to have Larry King, one of our world’s most prominent media personalities, serving as an Honorary Board member. In support of the Nelson Mandela Children’s Hospital, Larry King shares his thoughts and experience when he had the opportunity to meet with Mr. Mandela in South Africa.</p>
          </div>
      </div>



      <img class="larry1" src="/img/larry_suspenders.jpg"/>

         <div class="titlebanner"><p>Written by Larry King</p><hr class="style-two"></div>

         <p class="bigquote center ital">It’s clear to me that Nelson Mandela was the greatest figure of the 20th century.</p>

      <p>In fact, when you look at what he was able to accomplish, how he accomplished it, and all the subsequent changes in the world, I think you might be able to term him The Last Hero.</p>

      <p>Events make people. For example, Adolph Hitler and the rise of Nazism made Dwight Eisenhower. No apartheid, no Nelson Mandela. The world has changed so much. Right now, there’s virtually no circumstance to create a Mandela.</p>

      <p>It’s impossible to be a hero now as the president or as a world leader. Whatever he does will have reverberations that will make somebody unhappy. Whatever she does will be criticized. It’s almost impossible to find a man or a woman who, universally, nobody can say a negative word about.</p>

      <p>But there’s nothing you can say against Nelson Mandela.</p>

      <p>For someone to stand for his principles, to be willing to die for them, and to discipline himself through years of prison to achieve his aims is extraordinary enough. But then to create change, take power and invite his prison guards to his inauguration? Most other men in his situation would have stepped out of jail and there would have been war. It’s incredible that he found that place within himself to be that forgiving – it’s a higher calling.</p>

      <p>I spent some time with him at his home. I had an extraordinary day in South Africa in which I was able to have lunch with Nelson and dinner with the man who freed him – Frederik de Klerk. De Klerk told me how he had spoken with Mandela the night before he was to be released from prison and invited him to fly him from Cape Town to Johannesburg to speak to the legislature. The offer was declined. Nelson chose to walk out of the prison and be among the people.</p>


      <p>When I went to Mandela’s home, he greeted me wearing suspenders. That’s one of the little honors of my life -- that a giant figure would treat me that way.</p>

      <div class="titlebanner bottom"><hr></div>

      <img class="barclays rounded withstraggler" src="/img/spotlight_barclays.jpg"/>

      <p class="clearleft ital"><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center on December 13th, 2014, is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. This event is a celebration of the unifying power of music and the potential of young people everywhere — regardless of race, status, or geographical location — and the legacy left by Nelson Mandela in his tireless work for freedom, peace, and equality in the world. The Legacy of Hope Foundation invites you to learn more and participate in whatever way you can.</p>
      </p>

      <% include partials/loh-disqus %>
    </div>
    <script type="text/javascript" src="/js/spotlight.js"></script>

    </div>


    <% include partials/loh-footer %>
  </div>
</body>
</html>