<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>




      <!-- HERO -->
      <div class="wrapper-fix herofix">
        <div class="hero ">
          <img src="img/sponsors_hero.jpg" alt="Legacy of Hope - Sponsors" />
        </div>
      </div>
      <div class="herospacer"><img src="img/sponsors_hero.jpg"/></div>
      <div class="herobuffer"></div>
      <script src="js/hero.js"></script>
      <!-- END HERO -->





      <!-- PAGE -->
      <div class="safari-fix-parallax-wrapper">
        <div class="page sponsors">
        <!-- CONTACT FORM -->
   
       <div class="container contact-inner ">
        <div class="twelve columns">
          <div class="card">

            <form class="legacy-frm" id="contact-form-sponsors">
              <h1>Contact Us</h1>

              <div class="contactinfo">
                <h1> Legacy of Hope Foundation</h1>
                <h2>399 W.  Broadway Suite 2A</h2>
                <h2>New York, New York 10012</h2>
                <h2>jt(at)legacyofhopeconcerts.org</h2>
                <h2>(949) 463 1795</h2>
              </div>
              
              <label>
                <span>Your Name (required):</span>
                <input id="sname" type="text" name="name" placeholder="Your Full Name" minlength="2" required/>
              </label>
              <label>
                <span>Your Email (required):</span>
                <input id="semail" type="email" name="email" placeholder="Valid Email Address" required/>
              </label>
              <label for="email2">
                <span>Confirm Email (required):</span>
                <input name="email2" id="semail2" type="email" placeholder="Confirm Your Email" required>
              </label>
              <label>
                <span>Message (required):</span>
                <textarea id="smessage" name="message" placeholder="Your Message to Us" required></textarea>
              </label> 
              <label class="enquiry">
                <span>Sponsor Enquiry:</span>
                <input type="checkbox" name="sponsor" id="sponsor"/>
              </label> 
                <label>
                  <span>Company Name (required):</span>
                  <input id="scompany" type="text" name="company" placeholder="Your Company Name" />
                </label>
                <label>
                  <span>Phone (required):</span>
                  <input id="sphone" type="text" name="phone" placeholder="Your Phone Number" />
                </label>
                <label>
                  <span>Referrer:</span>
                  <input id="sreferrer" type="text" name="referrer" placeholder="Who referred you?" />
                </label>
                <label>
                  <span>Your Interest (required):</span>
                  <textarea id="sinterest" name="interest" placeholder="Your Particular Interest" ></textarea>
                </label>
              <div id="contactresult" class="contactresult-sponsors" style="display:none;"></div>
              <label style="margin-top:20px;">
                <input type="submit" class="contactbutton primarybutton" value="Send" /> 
                <input type="reset" class="contactbutton" value="Reset" /> 
              </label> 
            </form>
          </div>
        </div>
      </div> 

    <script type='text/javascript' src="/js/contact-sponsors.js"></script>
    <!-- END CONTACT FORM -->
          


    </div>

        <% include partials/loh-footer %>
      </div>
    </div>
  </body>
  </html>