<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <% include partials/loh-head %>



</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      <!-- HERO -->
      <div class="wrapper-fix herofix">

        <div class="slider">
          <div class="a"><img src="img/mission_hero.jpg" alt="Nelson Mandela at NMCH"/></div>
          <div class="b"><img src="img/hospital_hero1.jpg" alt="Groundbreaking for the Nelson Mandela Children's Hospital"/></div>
          <div class="c"><img src="img/hospital_hero2.jpg" alt="NMCH shovel"/></div>
          <div class="d"><img src="img/hospital_hero3.jpg" alt="Children and adults alike celebrate the groundbreaking of the Nelson Mandela Children's Hospital"/></div>

        </div>
        <script type="text/javascript" src="/js/slick.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){

            $('.slider').slick({
              dots: false,
              infinite: true,
              speed: 300,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 5000,
              pauseOnHover: false

            });
          });
        </script>
      </div>
      <div class="herospacer">
        <img src="/img/hospital_hero1.jpg"/>
      </div>
      <div class="herobuffer therm">
        <div class="container">
        
          <a href="/donate" class="seven columns progressbar">
            <div class="rise"></div>
          </a>
          <a href="/donate"class="three columns words">
              <h3 >50% of funds raised!</h3>
              </a>
              <div class="two columns givenow">
                <a href="/donate">Give Now</a>
                </div>
             


            </div>
          </div>






        <!-- PAGE -->
        <div class="safari-fix-parallax-wrapper">
          <div class="page mission">
            <div class="container">

             <div class="six columns ">

               <h1>The Mission</h1>
               <p>The Legacy of Hope Foundation was created to provide medical care and facilities for underserved children and communities around the world.</p>
               <p>The first initiative for Legacy of Hope is to help build the Nelson Mandela Children’s Hospital in Johannesburg, South Africa. Legacy of Hope, a collaboration between the music, philanthropy and entertainment communities, was formed to bring this much-needed medical facility to fruition.</p>
               <p>$100M is needed to build the Nelson Mandela Children’s Hospital.</p>
               <p>Join the Legacy of Hope team by making a donation and help empower Mr. Mandela’s Vision.</p>
               <a href="/hospital">Learn more about the Hospital&nbsp&nbsp&nbsp<i class="fa fa-chevron-right 6x"></i></a>



             </div>
             <div class="six columns ">

              <h1>The Hospital</h1>
              <h1>The Nelson Mandela Children's Hospital</h1>
              <h3>HELP BUILD A DEDICATED SPECIALIST HOSPITAL FOR THE CHILDREN OF SOUTHERN AFRICA</h3>
              <p style="font-weight: 600;">THIS MUCH NEEDED FACILITY WILL ADDRESS THE FACT THAT THERE ARE ONLY FOUR DEDICATED CHILDREN’S HOSPITALS CURRENTLY SERVING THE ENTIRE CONTINENT OF AFRICA.</p>
              <p>To put all this in perspective, there are 12 children’s hospitals in the state of Florida.</p>
              <p>This new hospital, which will open in 2016, will celebrate the legacy of Mr. Mandela by improving the healthcare of Southern African children for generations to come. No child will be turned away due to inability to pay. The Nelson Mandela Children’s Hospital will be also be a turning point for pediatric specialist training and research in the region. Many Southern African children are not receiving the critical care that they need for complex illnesses because there are not enough facilities or medical professionals dedicated to treating them. The Nelson Mandela Children’s Hospital will also provide a holistic healing environment for the children, as well as room for reflection for parents. It is our collective effort that will ensure that we improve the lives of the future leaders of this world.</p>



            </div>




            <% include partials/loh-sidebar %>

            <img class="hospitalphoto" src="/img/hospital.jpg" style="float:left" alt="Architectural rendering of the future Nelson Mandela Children's Hospital"/>

            <div class="label">
              <p>Nelson Mandela Children's Hospital<br><i>Architectural Rendering</i><br>slated to open 2016</p>
            </div>
          </div>
        </div>











        <% include partials/loh-footer %>
      </div>
    </div>
  </body>
  </html>