<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>




      <!-- HERO -->

      <div class="wrapper-fix herofix">
        <div class="hero ">
          <img src="img/mission_hero.jpg"/>
        </div>
      </div>
      <div class="herospacer"><img src="img/mission_hero.jpg"/></div>
      <div class="herobuffer"></div>
      <script src="js/hero.js"></script>
      <!-- END HERO -->





      <!-- PAGE -->

      <div class="page mission1">
        <div class="container">
          <div class="eight columns maincopy">
            <h1>Legacy<em>Of</em>Hope</h1>
            <p>The Legacy of Hope Foundation was created to provide medical care and facilities for underserved children and communities around the world.</p>
            <p>The first initiative for Legacy of Hope is to help build the Nelson Mandela Children’s Hospital in Johannesburg, South Africa. Legacy of Hope, a collaboration between the music, philanthropy and entertainment communities, was formed to bring this much-needed medical facility to fruition.</p>
            <p>$100M is needed to build the Nelson Mandela Children’s Hospital.</p>
            <p>Join the Legacy of Hope team by making a donation and help empower Mr. Mandela’s Vision.</p>
            <a href="/hospital">Learn more about the Hospital&nbsp&nbsp&nbsp<i class="fa fa-chevron-right 6x"></i></a>
          </div>

          <% include partials/loh-sidebar %>

          
          <img class="missionphotos" src="/img/missionphotos.jpg"/>
          


        </div>

          <div class="missioncopy1 gray">
          <div class="wrapper-content" >
            <h4>THIS IS A WONDERFUL GESTURE OF MADIBA AND THE FUND ESTABLISHED BY HIM FOR THE SPECIFIC BENEFIT OF THE MOST VULNERABLE IN SOCIETY, OUR CHILDREN.</h4>
            <h5>ARCHBISHOP EMERITUS DESMOND TUTU</h5>
          </div>
        </div>
        </div>
        
      









        <% include partials/loh-footer %>
      </div>
    </body>
    </html>