<!DOCTYPE html>
<html>

<head>


  <% include partials/loh-head %>
  
  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
   
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <div class="wrapper-wrapper-spotlight">


  
     
      <div class="wrapper-spotlight octavia">




       <div class="honorary spotlight ">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Honorary Board</h2>
              <h2>Spotlight</h2>
              <h3>Octavia Spencer</h3>
            </div>
          </div>
        <!--   <div class="second">
          <img src="/img/octavia_thehelp.jpg"/>
          </div> -->
      </div>


         <p class="top">Legacy of Hope Honorary Board Member Octavia Spencer is an American actor best known for her role as Minny, the sassy and lovable maid featured in the 2011 Academy Award-winning film <i>The Help.</i> For her performance, Octavia won the award for ‘Best Supporting Actress’ by The Academy of Motion Picture Arts and Sciences. Directed by Tate Taylor, <i>The Help</i> is a layered story of inequality under a dark backdrop of racism, framed by the Civil Rights landscape of 1963 Jackson, Mississippi. <i>The Help</i> thematically parallels the struggles of those who lived, worked and survived as minorities under South Africa’s unjust political system of Apartheid rule. As a young African-American woman growing up in Alabama, Octavia reflects on how Nelson Mandela and a children’s hospital as a banner to his legacy will continue to inspire long beyond his graceful years.</p>
   
        <img class="octavia1 bigimage rounded" src="/img/octavia_hero2.jpg"/>

         <p class="ital">“I was a teen at the time the revolution to end Apartheid in South Africa had reached a crescendo. Because I was well versed in the American Civil Rights movement, I felt very connected to the struggles of the disenfranchised black South Africans in their fight for equality. Nelson Mandela became the face of that movement for me. He was at the time my modern-day Dr. King, a beacon of hope and inspiration. Nelson Mandela became our symbol of freedom.”</p>


         <p><strong>The Legacy of Hope Foundation was created to provide medical care and facilities for underserved children and communities around the world. The Nelson Mandela Children’s Hospital, slated to open in 2016, is one example of this mission. As a Legacy of Hope Honorary Board member, Octavia Spencer embraces Mandela’s vision, not only for the children of South Africa, but also for those willing to take action to continue his achievements.</strong></p>

         <p class="bigquote ital">“My thoughts are that in a perfect world...no child would go hungry and every child would have access to both an impeccable education and quality healthcare."</p>
          <p class="ital">"Sadly, hunger, literacy and adequate healthcare are issues that continue to pervade the world population especially with regard to children. By providing medical care to the underserved, Legacy of Hope and the Nelson Mandela Children’s Hospital would have a positive impact on the socio-economic development of those communities. There are only four dedicated children’s hospitals on the continent of Africa. Combine that with the fact Africa is the second most populous continent in the world. The disparity in the number of its children's hospitals is hard to fathom.”</p>


        <p><strong>Legacy of Hope is active in educating younger generations about Nelson Mandela and the lessons of equality that he stood for. Octavia believes that a hospital as a monument to Mandela and his legacy will safeguard us from forgetting, bringing to mind the maxim, “Those who cannot remember the past are condemned to repeat it.”</strong></p>

        <p class="ital">“A hospital under the banner of Nelson Mandela could be considered a living monument, a tangible yet practical source to further educate patients about Nelson Mandela, the injustices he suffered, his accomplishments, and his impact on the world as a whole. Mr. Mandela was my global inspiration, just like my mother, who was my local inspiration. Both taught me to live by example and be the best me I could be. For that, I'm eternally grateful.”</p>

        <!-- <hr class="style-two" style= "margin-top: 80px; margin-bottom: 80px; width: 150%; margin-left: -25%;"> -->

        <img class="barclays rounded withstraggler" src="/img/spotlight_barclays.jpg"/>

      <p class="clearleft"><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. This event is a celebration of the unifying power of music and the potential of young people everywhere — regardless of race, status or geographical location — and the legacy left by Nelson Mandela in his tireless work for freedom, peace and equality in the world. The Legacy of Hope Foundation invites you to learn more and participate in whatever way you can.</p>
      </p>
      <% include partials/loh-disqus %>
    </div>
    <script type="text/javascript" src="/js/spotlight.js"></script>

    </div>


    <% include partials/loh-footer %>
  </div>
</body>
</html>