<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />

   <link rel="stylesheet" href="/css/stickyfooter.css" media="screen" type="text/css" />
   <link rel="canonical" href="http://www.prnewswire.com/news-releases/legacy-of-hope-foundation-names-honorary-board-in-support-of-the-nelson-mandela-childrens-hospital-282303181.html" />
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>


        <div class="wrapper-spotlight pr1 first">
        <h1>Legacy Of Hope Foundation Names Honorary Board In Support Of The Nelson Mandela Children's Hospital</h1>
        <h4>Legacy of Hope Press Release</h4>
        </div>
        <img class="banner" src="/img/board_hero.jpg"/>
  <div class="wrapper-spotlight pr1">
        <p>NEW YORK, Nov. 11, 2014 /PRNewswire/ -- The Legacy of Hope Foundation, whose mission is to support medical care and facilities for underserved children and communities around the world is focusing all of its efforts on bringing Nelson Mandela's last wish to create a much needed children's hospital on the continent of Africa, (home to over 450 million children). To understand this imbalance more clearly, there are roughly 12 children's hospitals serving the state of Florida alone. There are only 4 dedicated children's hospitals in all of Africa. This state-of the-art facility is slated to open in 2016.</p>

<p>The Legacy of Hope Foundation, supported by an international community of dignitaries, patrons, advocates, civil rights leaders and celebrities is poised to take on the role to fulfill Mr. Mandela's last wish. <b>Graca Machel,</b> widow of Mr. Nelson Mandela and the Chair of the Nelson Mandela Children's Trust said, <i>"I am inspired by his rich legacy that promotes justice, compassion, and solidarity. Children were very dear to Madiba and his last wish was to build the Nelson Mandela Children's Hospital."</i></p>

<p><i>This is a wonderful gesture of Madiba and the fund established by him for the specific benefit of the most vulnerable in society, our children."</i> <b>- Archbishop Emeritus Desmond Tutu</b></p>

<p>The Legacy of Hope Honorary Board consists of the late <b>Dr. Maya Angelou, Ruby Bridges, Christy</b> and <b>Ed Turlington Burns, Viola Davis, Dame Judi Dench, Arun Gandhi, Whoopi Goldberg, Dr. Sanjay Gupta, Salma Hayek Pinault, Katherine Heigl, Sir Anthony Hopkins, Ashley Judd, Larry King, Sir Ben Kingsley, Nicole Kidman, Natalie Portman, Susan Sarandon, Octavia Spencer, Charlize Theron, Ben Vereen, Barbara Walters</b> and <b>Elie</b> and <b>Marion Wiesel.</b> The Legacy of Hope Foundation also lists former IBF Middleweight Champion <b>Sam Soliman</b> as an Ambassador and <b>Botlhale Boikanyo</b> as a Youth Ambassador.</p>

<p><i>"It's clear to me that Nelson Mandela was the greatest figure of the 20th century"</i><b> – Larry King</b></p>

<p><i>"I felt honored when asked to be a part of the Legacy of Hope Foundation -- to play a part of something that Nelson Mandela has asked the world for. He asked us to build a children's hospital in South Africa with his name as the banner. He needed to give every child a chance. We really don't know what these little people will grow up to be. But the truth is—these kids could very well be the next Nelson Mandela."</i><b> – Ruby Bridges,</b> American activist known for being the first black child to attend an all-white elementary school in the South.</p>

‪<p><i>"I have been honored by an invitation... to lend my support to Nelson Mandela's final and perhaps most desired legacy, better health and medical care for the children of Africa: Nelson Mandela Children's Hospital in Johannesburg South Africa."</i><b>  - Arun Ghandi</b></p>

<p><i>"A hospital under the banner of Nelson Mandela will be a living monument, a tangible yet practical source to further educate patients about Nelson Mandela, the injustices he suffered, his accomplishments, and his impact on the world as a whole."</i><b> – Octavia Spencer</b></p>

<p><i>"I think this particular hospital represents Mandela's message perfectly. Your zip code, your social status in life should not dictate whether or not you live or die. We have to care for one another. The big thing for Africa is the lack of children's hospitals on the entire continent. This particular hospital under the Mandela banner was one of the dreams he held in keeping with his legacy. The Nelson Mandela Children's Hospital offers free healthcare for the children of South Africa regardless of their inability to pay. I think that's a perfect tone to his legacy."</i> -Chuck Nice - Television personality and comedian <b>Chuck Nice</b> has been Master of Ceremonies at both Legacy of Hope Mandela Day events in New York City and Los Angeles.</p>

<p>This monumental campaign features a revolutionary digital approach to educating and empowering youth worldwide. Legacy of Hope, in partnership with Bespin Holdings (BHI), has developed a customized "Legacy of Hope" platform for events, incorporating messaging, live event streaming, cause awareness, and educational features.</p>  

<p>The Legacy of Hope Foundation, a registered 501(c)(3), was created to support medical care and facilities for underserved children and communities throughout the world.</p>
      </div>


<div class="push"></div>
</div>
      <% include partials/loh-footer %>

  </body>
  </html>