<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="rhero" src="/img/ruby_hero.jpg" />

      <div class="wrapper-content ruby">
        <div class="spotlight">
          <div class="first nobottommargin">
          <div>
          <h1>Legacy<em>Of</em>Hope</h1>
          <h2>Honorary Board</h2>
          <h2>Spotlight</h2>
          <h3>Ruby Bridges</h3>
          </div>
          </div>
         <!--  <div class="second">
          <img src="/img/ruby_spotlight.jpg"/>
          </div> -->
        </div>

        <p class="top nobottommargin">In a groundbreaking moment on November 14th, 1960, Ruby Bridges walked up the steps, along side her mother and four U.S. Marshalls, of the William Frantz Elementary School in New Orleans, Louisiana. Her enrollment in an all-white school caused recognition at national levels and raised unprecedented attention as the Civil Right’s Movement gained speed and direction within the United States. Ruby was the face of courage. This historical moment was photographed and published around the world and remains an iconic moment, capturing the essence of the Civil Right’s movement in America. In 1964, Norman Rockwell befittingly painted <i>The Problem We All Live With,</i> depicting an innocent Ruby Bridges caught in the heated process of racial desegregation. </p>

        <img class="ruby1 " src="/img/ruby_img1.jpg" alt="U.S. Marshals escorted Ruby Bridges to and from school on November 14th, 1960"/>
        <p class="caption">U.S. Marshals escorted Ruby Bridges to and from school on November 14th, 1960</p>
        <div class="blueline"></div>
        <p class="center big"><strong>Ruby Bridges was honored on July 18th, 2014, at the Beverly Hills, Wallis Center for the Performing Arts, <a href="/mandeladay">Legacy of Hope Mandela Day Celebration.</a> Following this event, Ruby shared her thoughts on what Nelson Mandela meant to her and how a children’s hospital in his name would honor his Legacy. </strong> </p>



        <p class="ital">“I was a part of the Civil Rights Movement here in New Orleans when I was just a little six-year-old girl. I remember civil rights activism led by Dr. King and what I call the Freedom Fighters. These people were near and dear to my heart and Nelson Mandela was definitely one of the Freedom Fighters for me. I found it amazing how Mr. Mandela had the strength to serve 27 years in prison. But then to be released and to be so humble—how many of us could do the same? Yet that was his recipe for bringing people together. And he didn’t just bring a hand full of people in one small city together, but an entire country. It was just amazing to me!</p>

        <div class="quote"><p class="ital quote one">"We need more peacemakers. We need more freedom fighters. Legacy of Hope allows people to come together and do whatever they can."</p></div>
        <p class="ital">"His life really, really meant so much to me. I was truly sorry I didn’t have the opportunity to meet him in person, but I did watch carefully from afar. Through this observation, I realized how much Nelson Mandela became a true inspiration to me. I felt honored when asked to be a part of the Legacy of Hope Foundation and play a part of something that Nelson Mandela has asked the world for. He asked us to build a children’s Hospital in South Africa with his name as the banner. This vision resonated with what I wanted to do anyway so I’m honored to carry on the Legacy of a man whom I’ve admired so deeply.  This admiration makes me ask myself, ‘What was Nelson Mandela thinking?’ My answers tell me that, he needed to right the wrongs and give everybody an equal opportunity. He needed to give every child a chance. We really don’t know what these little people will grow up to be. But the truth is—these kids could very well be the next Nelson Mandela.</p>

        <div class="quote"><p class="ital quote two ">"We really don’t know what these little people will grow up to be. But the truth is—these kids could very well be the next Nelson Mandela."</p></div>
        
        <div class="ruby2">
        <img src="/img/ruby_obama.jpg" class="ruby2" alt="Ruby Bridges meeting with President Barack Obama"/>
        <p class="caption">Ruby Bridges meeting with President Barack Obama</p>
        </div>
        
        <p class="ital">"Nelson Mandela’s work parallels my work. I carry a message about education and bringing kids together. I pass out books and we read together. My message is about understanding each other and embracing our differences. In the last 18 years, I’ve been going into schools and hospitals and meeting so many kids—from all walks of life. I’ve had the opportunity to see school kids that have nothing. These kids I meet are resilient and amazing! My message and the message of Legacy of Hope is everything that has anything to do with children. It’s about healthcare, education, sound mental health and making that child whole again. I understand that Africa has four children’s hospitals serving the entire continent. That’s an imbalance. I think there are some 12 children’s hospitals in Florida alone. Legacy of Hope and the Nelson Mandela Children’s Hospital is a great cause and I want to see it through, and be involved to the end.  We have to continue his Legacy—because the universe is calling upon us to do just that. The thing that we see, and what we feel today is that the universe is grieving the losses of those freedom fighters. We need more peacemakers. We need more freedom fighters. Legacy of Hope allows people to come together and do whatever they can. This is just so important to nurture these potential peacemakers and freedom fighters for future generations.”</p>

        <img class="barclays" src="/img/home_barclays.jpg"/>

        <p><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center on December 13th, 2014, is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. This event is a celebration of the unifying power of music, the bright potential of young people everywhere — regardless of race, status, or geographical location — and the legacy left by Nelson Mandela in his tireless work for freedom, peace, and equality in the world. The Legacy of Hope invites you to learn more and participate in whatever way you can.</p> 
        </div>
        
      </div>




      <% include partials/loh-footer %>
    </div>
  </body>
  </html>