<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="/css/pages/spotlight.css" media="screen" type="text/css" />
  <% include partials/loh-head %>
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="banner" src="/img/soliman_hero.jpg" />

      <div class="wrapper-spotlight sl soliman">
         <div class="honorary spotlight withpicture andcaption">
          <div class="first">
            <div>
              <h1>Legacy<em>Of</em>Hope</h1>
              <h2>Ambassador</h2>
              <h2>Spotlight</h2>
              <h3>Sam Soliman</h3>
            </div>
          </div>
         <div class="second">
          <img src="/img/soliman_gloves.jpg"/>
          </div>
          <div class="third">
          <p class="caption">Tweet <a href="https://twitter.com/intent/tweet?url=http://legacyofhope.org/&hashtags=Win,SamsGlovesLOH" target="_blank">#Win #SamsGlovesLOH</a> to enter to win Sam Soliman's boxing gloves!</p>
          </div>
      </div>
     
       <!-- <h2>Middleweight Boxer Sam Soliman Named Legacy of Hope Ambassador</h2>  -->
      <p class="top"> In his prime, Nelson Mandela was a respected and light-footed boxer with an admiration for the physical and strategic demands placed on anyone who steps in a ring. In this respect, Mandela would have loved the grace and ferocity of IBF middleweight Sam Soliman.</p>
      </p>

      <p>Soliman, the Melbourne boxer, Australia’s only current world champion, welcomed the opportunity to align himself with the great South African statesman and humanitarian by becoming an Ambassador for the Legacy of Hope Foundation, a group dedicated to bringing Mandela’s last living wish to fruition. That wish, is to build the Nelson Mandela Children’s Hospital in Johannesburg, South Africa slated to open in 2016.</p>

      <p>Sam Soliman was recently training in New York City this early October, preparing to defend his IBF middleweight crown against American Jermain ‘Bad Intentions’ Taylor in Biloxi, Mississippi. During training, Sam took valuable time out of routine to accept an appointment and become an ambassador to the Legacy of Hope Foundation. During this appointment, Soliman was staggered to learn that there are only four children’s hospitals serving the entire continent in Africa with an estimated 460 million children in need of basic healthcare.</p>

      <div class="soliman1">
        <img src="/img/soliman_gast.jpg" class="soliman1 rounded" alt="Sam Soliman met with Legacy of Hope CEO Eric Gast to become an Ambassador for the Legacy of Hope Foundation."/>
        <p class="caption">Sam Soliman met with Legacy of Hope CEO Eric Gast to become an Ambassador for the Legacy of Hope Foundation.</p>
        </div>
      <p>The Legacy of Hope foundation has a respectable cast of Ambassadors and celebrities on their Honorary Board including fellow Australian film star Nicole Kidman. Legacy of Hope CEO Eric Gast welcomed Sam’s passion to the cause with open arms at a ceremony to formalize the ambassadorship. “Your positive role in the community is the embodiment of what the Legacy of Hope Foundation stands for.” Sam Soliman was humbled. “Any small thing I can do to assist Mr. Mandela’s dream becoming a reality will make me happy.” As Sam’s first gesture as an Ambassador, he autographed a pair of his IBF middleweight boxing gloves and a signed photograph that will be given away as part of the Legacy of Hope campaign.</p>

      <p class="center big">Tweet <a href="https://twitter.com/intent/tweet?url=http://legacyofhope.org/&hashtags=Win,SamsGlovesLOH" target="_blank">#Win #SamsGlovesLOH</a> to enter to win Sam Soliman's boxing gloves!</p>

 </div>
      <% include partials/loh-footer %>

    </div>
  </body>
  </html>