<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>

</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>




      <!-- HERO -->
      <div class="wrapper-fix herofix">
        <div class="hero ">
          <img src="img/sponsors_hero.jpg" alt="Legacy of Hope - Sponsors" />
        </div>
      </div>
      <div class="herospacer"><img src="img/sponsors_hero.jpg"/></div>
      <div class="herobuffer"></div>
      <script src="js/hero.js"></script>
      <!-- END HERO -->





      <!-- PAGE -->
      <div class="safari-fix-parallax-wrapper">
        <div class="page sponsors">
        
          <div class="container">

            <div class="columns twelve print deck">
             <h2>Sponsor Deck</h2>
             <a href="pdf/LEGACYOFHOPE_Deck_Print.pdf" target="_blank"> <img src="img/deck_print.jpg"  alt="Download Sponsor Deck" /></a>
              <a href="pdf/LEGACYOFHOPE_Deck_Print.pdf" target="_blank">Download Sponsor Deck</a>

           </div>
         <!--   <div class="columns six digital deck">
            <h2>Digital Deck</h2>
            <a href="pdf/LEGACYOFHOPE_Deck_Digital.pdf" target="_blank"> <img src="img/deck_digital.jpg"  alt="Download Sponsor Deck (digital)" /></a>
             <a href="pdf/LEGACYOFHOPE_Deck_Digital.pdf" target="_blank">Download Digital Deck</a>

          </div> -->
          <p>The Legacy of Hope Foundation thanks you for your consideration of being part of this momentous historic event.</p>

        </div>
        </div>

        <!-- END PAGE -->



        <% include partials/loh-footer %>
      </div>
    </div>
  </body>
  </html>