<!DOCTYPE html>
<html>

<head>

  <% include partials/loh-head %>
</head>

<body>
  <div class="wrapper"> 
    <div class="wrapper-inner">
      <% include partials/loh-menu %>

      
      <img class="thero" src="/img/tata_hero.jpg" alt="Tata Vega performs at the 2014 Legacy of Hope Mandela Day event"/>

      <div class="wrapper-content tata">
        <div class="spotlight">
          <div class="first">
          <div>
          <h1>Legacy<em>Of</em>Hope</h1>
          <h2>Spotlight</h2>
          <h3>T&#193ta Vega</h3>
          </div>
          </div>
          <div class="second">
          <img src="/img/tata_spotlight.jpg"/>
          </div>
        </div>

        <p class="ital top">Imagine standing twenty feet away from the bright spotlight of a legendary artist such as Sir Elton John. Now imagine you are his background singer, performing on some of the largest concert stages around the world. This is the magnificent life of Táta Vega, recently featured in the Academy Award winning documentary film, <strong>Twenty Feet from Stardom.</strong></p>
        <p >Before he passed, Nelson Mandela made an appeal to the world in the spirit of hope, that a children’s hospital be built in Johannesburg, South Africa, to honor his life and legacy. How does this request from one of our worlds’ greatest leaders and champions for human rights, resonate with a woman who grew up in Panama City? In a moving conversation, Táta Vega shared her thoughts following the <a href="/mandeladay">July 18th, 2014 Legacy of Hope Mandela Day event</a> held at the Wallis Annenberg Center for the Performing Arts, on what would have been Nelson Mandela’s 96th birthday.</p>

        <p class="ital leftalign">“The Mandela Day event was amazing. I admire Ruby Bridges who is a living legend—a beautiful and very humble woman. I enjoyed the talented little girl Botlhale, the singer Poe, and Chuck Nice the comedian. The whole show was, from beginning to end, wonderful! One of the most amazing moments for me personally, was singing “Black Bird” because I had done a little bit of research.  I was so surprised that it had to do with the civil rights movement and then specifically about women.  It floored me!  What it meant to me – it had to do with freedom, and I took it personally.  The song was so deep to me. You could tell by the applause that evening that people were moved.  I can’t even begin to tell you how humbling and honored I am, to be called on to do something like this.</p>
        <p class="ital leftalign">"That night was about Nelson Mandela. I love Nelson Mandela. I love what he stood for. I love the fact that he was willing to go to PRISON or DIE for what he believed in. I know poverty. I’ve lived on the streets. I sang on the streets for spare change so that I could eat. I slept outdoors on hard cold concrete at night. It was rough. But it’s nothing…IT WAS NOTHING, compared to being a citizen in a country where a government failed to recognize you as an intelligent and capable human being based on color. For this fact alone, I will support Mr. Mandela’s dream and be a part of seeing this hospital come to life.</p>
        <p class="ital leftalign">"I see children and they are brilliant. They are fearless. Children are so beautiful and smart. They’re just funny little things, the way they think and see life. I think kids make the world a better place, and I believe Mr. Mandela shared this same insight. Children are everything we hold dearly as adults. This pediatric hospital is something the children of South Africa desperately need. The WORLD needs this too.” </p>


        <img class="barclays" src="/img/home_barclays.jpg"/>

        <p><a href="/concert">The Legacy of Hope Nelson Mandela Children’s Hospital Concert</a> at Barclays Center on December 13th, 2014, is part of a collective solution to build the fifth children’s hospital exclusively dedicated to pediatrics on the entire continent of Africa. This event won’t be so much about the wealth of one person or a small group of individuals, but rather a global effort with a collective mindset. In short, Legacy of Hope has created a center stage for a worthy cause and we welcome your help, even if you are standing twenty feet away.</p>
        </div>
      




      <% include partials/loh-footer %>
    </div>
  </body>
  </html>