@import "style.scss";
@import "skeleton/skeleton.scss";


#nav .menu-team a{
  color: #358fe3; 
}


body {
	font: 13px 'Open Sans', sans-serif;
	color: #1c1f26;
	line-height: 1em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	line-height: 1.2em;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 35px;
}

h1.white {
	color: white;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 1.4em;
	font-weight: 400;
	margin-bottom: 0px;
}

h3.white {
	color: white;
}

h3.board {
	margin: 8px 0 20px 0;
}
h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	line-height: 1.4em;
	font-weight: 400;
	margin-bottom: 30px;
}

h4.light {
	font-weight: 300;
}

h4.board {
	margin: -5px 0 20px 0;
}


h4.white {
	color: white;
}


h5 {
	color: #868991;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0px;
	text-align: left;

}


.board h5 {
	margin-bottom: 5px;

}

.partners h5 {
	margin-bottom: 7px;
	line-height: 1em;
}
p {
	margin-top: 30px;
	font-size: 18px;
	color: #666;
	text-align: justify;
	line-height: 1.5em;
}



.prefooter p{
	color: black;
}
.footer p{
	color: white;
}


$hero-height: 565px;
.herofix {
	 height: $hero-height; 
	 top: $navheight;
}
.hero{
  width: 100%;
  height: $hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	width: 1200px;
	position: absolute;
}

.herospacer{
  height: $hero-height +$navheight;
}


.director {
	margin: 15px 0 25px 0;
}

.job-position {
	color: #868991;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	line-height:1em;
	margin: -3px 0px 14px 0px;
}

.spacer {
	clear: both;
	border-bottom: solid #ccc 1px;
	margin: 30px 10px 20px 10px;
}

h3.board {
	margin: 8px 0 20px 0;
}

h4.board {
	margin: -5px 0 20px 0;
}

.board h5 {
	margin-bottom: 5px;
}

.production h4 {
	font-size: 18px;
	margin-bottom: 3px;
}

.production {
	margin: 0px 0 25px 0;
}

.boardimg1{
	width: 100%;
	display: block;
}

.production{
	margin-bottom: 0px;
}
.page{
	padding-bottom: 20px;
}

/* Smartphones (portrait) ----------- */
//  MOBILE (PORTRAIT)
// * ------------------------------------------------
@media only screen 
and (max-width: $phone-landscape - 1px)  {


#nav-dropdown .menu-team a{
  color: #358fe3; 
}

	.page .wrapper-content{
		width: 100%;
	}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

		h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

		h3 {
		font-size: 18px;
	}

	#ambassador h3 {
		margin-bottom: 20px;
	}
	h4 {
		font-size: 14px;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}


	$pp-hero-height: 150px;
.herofix {
	 height: $pp-hero-height; 
	 top: $pp-navheight;
}
.hero{
  width: 100%;
  // height: $pl-hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	height: $pp-hero-height;
	width: auto;
	position: absolute;
	left: 0px;
}

.herospacer{
  height: $pp-hero-height +$pp-navheight;
}	

.director {
		margin: 0px 0 15px 0;
	}
	.job-position {
		text-align: center;

	}
		.board .spacer{
		margin: 50px 10px 30px 10px;
	}

	#ambassador {
		margin-top: 20px;
	}

	#ambassador h3 {
		margin-bottom: 20px;
	}


		.productionboard {
		margin: 0 0 20px 0;
	}
}


/* MOBILE (LANDSCAPE) (iphone 5 and android)
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $phone-wide-landscape - 1px)  {

#nav-dropdown .menu-team a{
  color: #358fe3; 
}
#nav .menu-team a{
  color: white; 
}

#nav .menu-team{
	display: inherit !important;
	padding-right: 15px !important;
}

$pl-hero-height: 230px;
.herofix {
	 height: $pl-hero-height; 
	 top: $pl-navheight;
}
.hero{
  width: 100%;
  // height: $pl-hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	height: $pl-hero-height;
	width: auto;
	position: absolute;
	left: 0px;
}

.herospacer{
  height: $pl-hero-height +$pl-navheight;
}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

		h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}
		h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	
	#ambassador h3 {
		margin-bottom: 20px;
	}
.director {
		margin: 0px 0 15px 0;
	}
	.job-position {
		text-align: center;

	}
		.spacer{
		margin: 50px 10px 30px 10px;
	}

		#ambassador {
		margin-top: 20px;
	}

	#ambassador h3 {
		margin-bottom: 20px;
	}

		.productionboard {
		margin: 0 0 20px 0;
	}

}


/* MOBILE (LANDSCAPE) iphone 5
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-wide-landscape) 
and (max-width: $phone-even-wider-landscape - 1px)  {


#nav-dropdown .menu-team a{
  color: #358fe3; 
}
#nav .menu-team a{
  color: white; 
}

#nav .menu-team{
	display: inherit !important;
	padding-right: 15px !important;
}

$pl-hero-height: 270px;
.herofix {
	 height: $pl-hero-height; 
	 top: $pl-navheight;
}
.hero{
  width: 100%;
  // height: $pl-hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	height: $pl-hero-height;
	width: auto;
	position: absolute;
	left: 0px;
}

.herospacer{
  height: $pl-hero-height +$pl-navheight;
}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

		h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}
		h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	
	#ambassador h3 {
		margin-bottom: 20px;
	}
.director {
		margin: 0px 0 15px 0;
	}
	.job-position {
		text-align: center;

	}
		.spacer{
		margin: 50px 10px 30px 10px;
	}

		#ambassador {
		margin-top: 20px;
	}

	#ambassador h3 {
		margin-bottom: 20px;
	}

		.productionboard {
		margin: 0 0 20px 0;
	}

	}


/* MOBILE (LANDSCAPE) android
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-even-wider-landscape) 
and (max-width: $tablet-portrait - 1px)  {

#nav-dropdown .menu-team a{
  color: #358fe3; 
}
#nav .menu-team a{
  color: white; 
}


#nav .menu-team{
	display: inherit !important;
	padding-right: 15px !important;
}

$pl-hero-height: 305px;
.herofix {
	 height: $pl-hero-height; 
	 top: $pl-navheight;
}
.hero{
  width: 100%;
  // height: $pl-hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	height: $pl-hero-height;
	width: auto;
	position: absolute;
	left: 0px;
}

.herospacer{
  height: $pl-hero-height +$pl-navheight;
}

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

		h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}
		h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	
	#ambassador h3 {
		margin-bottom: 20px;
	}
.director {
		margin: 0px 0 15px 0;
	}
	.job-position {
		text-align: center;

	}
		.spacer{
		margin: 50px 10px 30px 10px;
	}

		#ambassador {
		margin-top: 20px;
	}

	#ambassador h3 {
		margin-bottom: 20px;
	}

		.productionboard {
		margin: 0 0 20px 0;
	}

	}




/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

#nav-dropdown .menu-team a{
  color: #358fe3; 
}
#nav .menu-team a{
  color: white; 
}


	.page .wrapper-content{
		width: 100%;
	}


	

	h1, h2, h3, h4, h5, p {
		margin: 0 10px 0 10px;
		text-align: center;
	}

	h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	h3 {
		font-size: 18px;
	}
		h4 {
		font-size: 14px;
	}


	p {
		margin-top: 15px;
		font-size: 16px;
		line-height: 1.4em;
		text-align: justify;
	}	


	#nav .menu-team{
	display: inherit !important;
	padding-right: 15px !important;
}



$tp-hero-height: 410px;


.herofix {
	 height: $tp-hero-height; 
	 // top: $pp-hero-offset;
}
.hero{
  height: $tp-hero-height;
  overflow:hidden;
  	background-color: white;
  width: 100%;
  position: relative;
 
}
.hero img{

	height: $tp-hero-height * .88;
	position: absolute;
	// top: -$tl-hero-offset;
	right:0px;
	width: auto;
}

.herospacer{
  height: $tp-hero-height;
}
		.director {
		margin: 0px 0 15px 0;
	}

		.job-position {
		text-align: center;

	}

	.spacer{
		margin: 50px 10px 30px 10px;
	}

	#ambassador {
		margin-top: 20px;
	}
	.productionboard {
		margin: 0 0 20px 0;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {


$tl-hero-height: 525px;


.herofix {
	 height: $tl-hero-height; 
	 // top: $pp-hero-offset;
}
.hero{
  height: $tl-hero-height;
  overflow:hidden;
  	background-color: white;
  width: 100%;
  position: relative;
 
}
.hero img{

	height: $tl-hero-height * .92;
	position: absolute;
	// top: -$tl-hero-offset;
	right:0px;
	width: auto;
}

.herospacer{
  height: $tl-hero-height;
}

.director {
		margin: 0px 0 15px 0;
	}

		.spacer{
		margin: 50px 10px 30px 10px;
	}
	}
	