@import "style.scss";


#nav .menu-concert a{
  color: #358fe3; 
}

$hero-height: 565px;
$hero-offset: 220px;
.herofix {
	 height: $hero-height; 
	 top: $navheight;
}
.hero{
	background-color: black;
  width: 100%;
  height: $hero-height;
  position: relative;
    overflow:hidden;
 
}
.hero img{
	width: 1200px;
	position: absolute;
	top: -$hero-offset;
}


.page{
	padding-bottom: 105px;
	width: 100%;
}

.herospacer{
  height: $hero-height;
}
.concertimg1{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
}

.drop-margin{
	margin-bottom: 0px;
}
.spacer{
  display:block;
  float:right;
  clear:right;
}
.spacer img{
  opacity: 0.0;
  width: 100%;
}

.spacer1{
	height:80px;
	width:50%;
}
.spacer2{
	height:160px;
	width:50%;
}
.spacer3{
	height:260px;
	width:25%;
}
.concertcopy2{
	max-width:780px;
}


/* Smartphones (portrait) ----------- */
//  MOBILE (PORTRAIT)
// * ------------------------------------------------
@media only screen 
and (max-width: $phone-landscape - 1px)  {

#nav-dropdown .menu-concert a{
  color: #358fe3; 
}



$pp-hero-height: 275px;
$pp-hero-offset: 120px;
.herofix {
	 height: $pp-hero-height; 
	 top: $pp-navheight;
}
.hero{
  height: $pp-hero-height;

 
}
.hero img{
	height: $pp-hero-height * 1.3;
	width: auto;
	top:-$pp-hero-offset;
}
.herospacer{
	height: $pp-hero-height;
}

$pp-padding-top: 37px;
.page{
	padding-top: $pp-padding-top;
	text-align: center;
	padding-bottom: 30px;
}
.herobuffer{
  margin-top: -($pp-herobuffer + $pp-padding-top);
}

.page p{
	text-align: justify;
}


.concertimg1{
	display: none;
}
.spacer{
	display:none;
}

.concertcopy1 p{
	text-align: center;
}
}


/* MOBILE (LANDSCAPE) (iphones 5 and android)
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

#nav-dropdown .menu-concert a{
  color: #358fe3; 
}
#nav .menu-concert a{
  color: white; 
}

#nav .menu-concert{
	display: inherit !important;
	padding-right: 15px !important;
}
$pl-hero-height: $phone-portrait - $pl-navheight;
$pl-hero-offset: 100px;
.herofix {
	 height: $pl-hero-height; 
	 top: $pl-navheight;
}
.hero{
  height: $pl-hero-height;
 
}
.hero img{
	// height: $pl-hero-height * 1.2;
	width: 100%;
	top:-$pl-hero-offset;
}
.herospacer{
	height: $pl-hero-height;
}

$pl-padding-top: 30px;
.page{
	padding-top: $pl-padding-top;
	text-align: center;
	padding-bottom: 30px;
}
.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
	text-align: justify;
}


.concertimg1{
	display: none;
}
.spacer{
	display: none;
}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

#nav-dropdown .menu-concert a{
  color: #358fe3; 
}
#nav .menu-concert a{
  color: white; 
}


#nav .menu-concert{
	display: inherit !important;
	padding-right: 15px !important;
}
.concertimg1{
	width: 69%;
	height: auto;
}
.concertcopy2{
	max-width: 85%;
	text-align: justify
}

.spacer3{
	height: 200px;
}


	}

