@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,Light);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700,Light);
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BEBAS___.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Oswald";
  color: #151920;
  background-color: #252525; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px; }

h2 {
  font-size: 30px;
  font-weight: 400; }

h3 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 1.3em; }

h4 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.3em; }

h5 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.55em;
  text-align: center; }

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45em;
  font-family: "Open Sans";
  margin: 35px auto; }

strong {
  font-weight: bold !important; }

a {
  color: #358fe3;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  text-decoration: none; }

a:hover {
  color: #358fe3; }

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #252525;
  position: relative; }

.wrapper-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

.wrapper-content {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

.wrapper-fix {
  position: fixed;
  width: 100%; }

#navfix {
  height: 50px;
  z-index: 1000; }

#navbar {
  background-color: #1c1f26;
  width: 100%;
  position: relative;
  height: 60px;
  margin-top: -10px; }

#navholder {
  margin-top: 10px;
  float: right; }

.logo {
  margin-top: 15px;
  width: 170px;
  position: relative;
  z-index: 1001; }

.links {
  height: 50px;
  display: table-cell;
  vertical-align: middle; }

.links span {
  display: inline;
  margin: 0 15px 0 0;
  float: left; }

.links a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px; }

.links a:hover {
  color: #358fe3; }

.menu-dropdown {
  width: 229px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.0;
  visibility: hidden;
  -webkit-transition: opacity .5s;
  /* Safari */
  transition: opacity .5s; }

.menu-dropdown-background {
  background-color: #414141;
  width: 100%;
  height: 100%;
  opacity: .6; }

#nav .menu-hamburger {
  display: none; }

#nav-dropdown {
  text-align: right;
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  position: absolute;
  top: 0px; }

#nav-dropdown li {
  display: block;
  margin-right: 35px; }

#nav-dropdown li a {
  line-height: 1.7em;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px;
  z-index: 1000; }

#nav-dropdown li a:hover {
  color: #358fe3; }

.ddclick {
  position: absolute;
  width: 100%;
  height: 1000px; }

.page {
  padding-top: 64px;
  position: relative;
  background: white;
  z-index: 5; }

.herobuffer {
  width: 100%;
  height: 15px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  margin-top: -79px; }

.prefooter {
  width: 100%;
  height: 60px;
  background-color: #e46315;
  font-style: italic;
  font-size: 18px;
  z-index: 1000;
  position: relative; }

.prefooter p {
  margin: 10px auto 15px auto; }

.pf1 {
  float: left;
  margin-top: 7px;
  height: auto; }

.pf2 {
  display: table-cell;
  float: right;
  vertical-align: middle;
  height: auto;
  margin: 10px auto 15px auto; }

.pf2 p {
  float: right;
  margin: 7px 10px 0 0; }

.pf2 img {
  float: right;
  height: 35px;
  margin: 0 10px 0 0; }

.footer {
  height: 60px;
  width: 100%;
  background-color: #1c1f26;
  color: white;
  z-index: 1000;
  position: relative; }

.footer p {
  font-size: 12px;
  margin-top: 24px;
  font-style: italic;
  margin-bottom: 0px; }

.f1 {
  float: left; }

.f2 {
  float: right; }

.f2p-phone {
  display: none; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 479px) {
  .wrapper-inner {
    width: 320px;
    margin: 0 auto; }

  h1 {
    text-align: center;
    font-size: 25px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  p {
    text-align: justify;
    line-height: 1.4em;
    font-size: 15px; }

  .wrapper-content {
    width: 88%; }

  #navfix {
    height: 50px; }

  #navbar {
    height: 60px; }

  .logo {
    width: 200px;
    margin-top: 15px; }

  .links {
    height: 50px; }

  #nav span {
    display: none;
    vertical-align: middle; }

  #navbar .logo {
    margin-top: 12px; }

  #nav .menu-hamburger {
    display: inherit; }

  .menu {
    height: 18.51852px;
    margin-top: 0px; }

  .menu-dropdown {
    width: 100%; }

  .md {
    width: 100%; }

  #nav-dropdown li {
    margin-right: 6%; }

  .herobuffer {
    height: 20px;
    margin-top: -84px; }

  .prefooter {
    height: 140px;
    padding-top: 6px;
    z-index: 1000; }

  .prefooter p {
    text-align: center; }

  .pf1 {
    float: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }

  .pf2 {
    float: none;
    display: block;
    vertical-align: middle;
    height: auto;
    margin: 3px auto 0px auto;
    text-align: center; }

  .pf2 p {
    display: none; }

  .pf2 img {
    float: none;
    height: 45px;
    margin: 0px auto; }

  .footer {
    height: 140px;
    padding-top: 10px;
    z-index: 1000; }

  .footer p {
    text-align: center;
    font-size: 100%;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 17px; }

  .f1 {
    float: none; }

  .f2 {
    float: none; }

  .f2p-phone {
    display: inherit;
    margin-bottom: 10px; }

  .f2p-desktop {
    display: none; } }
@media only screen and (min-width: 480px) and (max-width: 567px) {
  .wrapper-inner {
    width: 480px;
    margin: 0 auto; }

  html {
    -webkit-text-size-adjust: none; }

  h1 {
    text-align: center;
    font-size: 20px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  p {
    text-align: justify;
    line-height: 1.45em;
    font-size: 14px; }

  #navfix {
    height: 40px; }

  #navbar {
    height: 50px; }

  .logo {
    width: 160px;
    margin: 15px;
    left: -15px; }

  .links {
    height: 40px; }

  #nav span {
    display: none; }

  #nav .menu-hamburger {
    display: inherit; }

  .menu {
    height: 14.81481px;
    margin-top: 0px; }

  #nav span {
    line-height: 1.0em;
    vertical-align: middle; }

  #navbar .logo {
    margin-top: 12px; }

  .herobuffer {
    height: 20px;
    margin-top: -84px; }

  .prefooter {
    height: 65px;
    padding-top: 10px; }

  .pf1 p {
    font-size: 12px;
    font-weight: 300; }

  .pf2 p {
    display: none; }

  .pf2 img {
    height: 30px; }

  .footer {
    height: 75px;
    padding-top: 10px; }

  .footer p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px; }

  .f1 {
    float: none; }

  .f2 {
    float: none; }

  .f2p-phone {
    display: inherit; }

  .f2p-desktop {
    display: none; } }
@media only screen and (min-width: 568px) and (max-width: 639px) {
  .wrapper-inner {
    width: 568px;
    margin: 0 auto; }

  html {
    -webkit-text-size-adjust: none; }

  h1 {
    text-align: center;
    font-size: 20px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  p {
    text-align: justify;
    line-height: 1.2em;
    font-size: 14px; }

  #navfix {
    height: 40px; }

  #navbar {
    height: 50px; }

  .logo {
    width: 160px;
    margin: 15px;
    left: -15px; }

  .links {
    height: 40px; }

  #nav span {
    display: none; }

  #nav .menu-hamburger {
    display: inherit; }

  .menu {
    height: 14.81481px;
    margin-top: 0px; }

  #nav span {
    line-height: 1.0em;
    vertical-align: middle; }

  #navbar .logo {
    margin-top: 12px; }

  .herobuffer {
    height: 20px;
    margin-top: -84px; }

  .prefooter {
    height: 65px;
    padding-top: 10px; }

  .pf1 p {
    font-size: 14px;
    font-weight: 300; }

  .pf2 p {
    display: none; }

  .pf2 img {
    height: 40px; }

  .footer {
    height: 75px;
    padding-top: 10px; }

  .footer p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px; }

  .f1 {
    float: none; }

  .f2 {
    float: none; }

  .f2p-phone {
    display: inherit; }

  .f2p-desktop {
    display: none; } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .wrapper-inner {
    width: 640px;
    margin: 0 auto; }

  html {
    -webkit-text-size-adjust: none; }

  h1 {
    text-align: center;
    font-size: 20px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  p {
    text-align: justify;
    line-height: 1.45em;
    font-size: 14px; }

  #navfix {
    height: 40px; }

  #navbar {
    height: 50px; }

  .logo {
    width: 160px;
    margin: 15px;
    left: -15px; }

  .links {
    height: 40px; }

  #nav span {
    display: none; }

  #nav .menu-hamburger {
    display: inherit; }

  .menu {
    height: 14.81481px;
    margin-top: 0px; }

  #nav span {
    line-height: 1.0em;
    vertical-align: middle; }

  #navbar .logo {
    margin-top: 12px; }

  .herobuffer {
    height: 20px;
    margin-top: -84px; }

  .prefooter {
    height: 65px;
    padding-top: 10px; }

  .pf1 {
    margin-top: 9px; }

  .pf1 p {
    font-size: 15px;
    font-weight: 300; }

  .pf2 p {
    display: none; }

  .pf2 img {
    height: 40px; }

  .footer {
    height: 75px;
    padding-top: 10px; }

  .footer p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px; }

  .f1 {
    float: none; }

  .f2 {
    float: none; }

  .f2p-phone {
    display: inherit; }

  .f2p-desktop {
    display: none; } }
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-inner {
    width: 768px;
    margin: 0 auto; }

  h1 {
    font-size: 24px; }

  h3 {
    font-size: 19px; }

  p {
    font-size: 17px; }

  #nav span {
    display: none; }

  #nav span {
    line-height: 1.0em;
    vertical-align: middle; }

  #nav .menu-hamburger {
    display: inherit; }

  .logo {
    margin-top: 15px; }

  .pf1 {
    margin-top: 10px; }

  .pf2 {
    margin-bottom: 0px;
    margin-top: 10px; }

  .pf1 p {
    font-size: 15px; }

  .pf2 p {
    font-size: 15px;
    margin-top: 10px; }

  .pf2 img {
    height: 40px; }

  .f2 {
    margin-top: 0px !important; } }
/* iPads (landscape) ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .wrapper-inner {
    width: 1024px;
    margin: 0 auto; }

  h1 {
    font-size: 35px; }

  h3 {
    font-size: 20px; }

  p {
    font-size: 17px; } }
.logo {
  margin-top: 16px; }

@media only screen and (min-width: 1224px) {
  .wrapper-inner {
    width: 1200px;
    margin: 0 auto; } }
#nav .menu-concert a {
  color: #358fe3; }

.herofix {
  height: 565px;
  top: 50px; }

.hero {
  background-color: black;
  width: 100%;
  height: 565px;
  position: relative;
  overflow: hidden; }

.hero img {
  width: 1200px;
  position: absolute;
  top: -220px; }

.page {
  padding-bottom: 105px;
  width: 100%; }

.herospacer {
  height: 565px; }

.concertimg1 {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%; }

.drop-margin {
  margin-bottom: 0px; }

.spacer {
  display: block;
  float: right;
  clear: right; }

.spacer img {
  opacity: 0.0;
  width: 100%; }

.spacer1 {
  height: 80px;
  width: 50%; }

.spacer2 {
  height: 160px;
  width: 50%; }

.spacer3 {
  height: 260px;
  width: 25%; }

.concertcopy2 {
  max-width: 780px; }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 479px) {
  #nav-dropdown .menu-concert a {
    color: #358fe3; }

  .herofix {
    height: 275px;
    top: 50px; }

  .hero {
    height: 275px; }

  .hero img {
    height: 357.5px;
    width: auto;
    top: -120px; }

  .herospacer {
    height: 275px; }

  .page {
    padding-top: 37px;
    text-align: center;
    padding-bottom: 30px; }

  .herobuffer {
    margin-top: -57px; }

  .page p {
    text-align: justify; }

  .concertimg1 {
    display: none; }

  .spacer {
    display: none; }

  .concertcopy1 p {
    text-align: center; } }
/* MOBILE (LANDSCAPE) (iphones 5 and android)
* ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #nav-dropdown .menu-concert a {
    color: #358fe3; }

  #nav .menu-concert a {
    color: white; }

  #nav .menu-concert {
    display: inherit !important;
    padding-right: 15px !important; }

  .herofix {
    height: 280px;
    top: 40px; }

  .hero {
    height: 280px; }

  .hero img {
    width: 100%;
    top: -100px; }

  .herospacer {
    height: 280px; }

  .page {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px; }

  .herobuffer {
    margin-top: -50px; }

  .page p {
    text-align: justify; }

  .concertimg1 {
    display: none; }

  .spacer {
    display: none; } }
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #nav-dropdown .menu-concert a {
    color: #358fe3; }

  #nav .menu-concert a {
    color: white; }

  #nav .menu-concert {
    display: inherit !important;
    padding-right: 15px !important; }

  .concertimg1 {
    width: 69%;
    height: auto; }

  .concertcopy2 {
    max-width: 85%;
    text-align: justify; }

  .spacer3 {
    height: 200px; } }
