@import "style.scss";

//  WRAPPERS
// .guitar-wrapper{
//   min-width: 1200px;
// }
#nav .menu-guitar a{
  color: #358fe3; 
}


//  HERO

$hero-dimensions: 1420/1821;
$hero-height: $wrapper-inner-width * $hero-dimensions;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $navheight fixed;
  background-size: $wrapper-inner-width $hero-height;
  height: $hero-height + $navheight; 
}
.heroblurbfix {
  z-index: 1;
  top: 100px; 
}
.heroblurb {
  color: white;
  float: left;
  text-align: center;
}
.heroblurb p {
  color: white;
  font-size: 14px;
  margin: 15px auto; 
  font-style: italic;
}
.heroblurb img{
  width: 120px;
}
.tpgibson{
  display: none;
}
.tpherobuffer{
  display: none;
}




//  PAGE  -   TOP SECTION
#guitar-phone-portrait{
  display: none;
}
#guitar-phone-landscape{
  display: none;
}



.guitarimg1 {
  position: absolute;
  top: 0px;
  right: 44px;
  z-index: 10;
}

.spacer{
  display:block;
  float:right;
  clear:right;
}
.spacer img{
  opacity: 0.0;
}

#guitar-desktop h1{
  text-align: center;
  margin-bottom: 50px;
}

#guitar-desktop p{
 text-align: justify;
   line-height: 1.6;
}

$guitar-img2-overlap: 50px;
$guitar-margin-left: 42px;
.guitarcopy1{
  margin-bottom:$guitar-img2-overlap + 35px;
  margin-left: $guitar-margin-left;
  font-style: italic;
  text-align: left;
}

.guitarcopy1 p{
  font-size: 13px;
  text-align: left !important;
}
.guitarimg2{
  width: 100%;
  margin-top: -$guitar-img2-overlap;
}








//  BOTTOM SECTION

$bottom-factor: .435;
$bottom-divider: 43.5%;
.bottomsection{
  margin-top: -1px;
  overflow: hidden;
  position: relative;
}
.guitarimg3{
  width: $bottom-divider;
  float:right;
}

.guitarimg4{
  width: $bottom-divider;
  float:right;
  clear:right;
}

$bottom-height: $bottom-factor * $wrapper-inner-width * (1536/2058) + $bottom-factor * $wrapper-inner-width * (913/685);
.b-left{
  height: $bottom-height;
  width: 100% - $bottom-divider;

}
.guitarcopy2{
  padding-top: 40px;
  text-align: justify;
}
.guitarcopy2 p{
  font-size: 17px;
  line-height: 1.1;
  margin: 0px 50px 35px 120px;
}
#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 35px;
  padding-bottom: 40px;
}
#guitarcopy3 p{
  font-size: 21px;
  text-transform: none;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
#guitarcopy3 .bp3 {
  font-size: 15px;
  margin-top: 10px;
}
.guitarimg5{
  width: 100%;
}
.tpguitarimgbottom{
  display: none;
}












/* Smartphones (portrait) ----------- */
//  MOBILE (PORTRAIT)
// * ------------------------------------------------
@media only screen 
and (max-width: $phone-landscape - 1px)  {


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
}
// MOBILE -- PORTRAIT -- HERO
.heroblurbfix{
  display: none;
}


// MOBILE -- PORTRAIT -- PAGE
#guitar-desktop{
  display: none;
}
$pp-padding-top: 30px;
#guitar-phone-portrait{
  display: inherit;
  padding-top: $pp-padding-top;
}

.herobuffer{
  margin-top: -($pp-herobuffer + $pp-padding-top);
}

.ppimg{
  width: 100%;
  display: block
}

.ppguitarimg1{
  width: 100%;
}

#generous{
  text-align: center;
  font-style: italic;
}
#phone-artists{
  text-align: center;
  font-style: italic;
}
#guitarcopy3{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#guitarcopy3 p{
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  margin:auto auto;
}

#ppcopy1{
  margin-top: 60px;
}


$hero-dimensions: 1420/1821;
$hero-height: $phone-portrait * $hero-dimensions;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $pp-navheight fixed;
  background-size: $phone-portrait $hero-height;
  height: $hero-height + $pp-navheight; 

}


}



$pl-bottom-factor: .48;
$pl-bottom-divider: 48%;


/* MOBILE (LANDSCAPE)
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $phone-wide-landscape - 1px)  {

//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
}


//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}



$hero-dimensions: 1420/1821;
$hero-height: $phone-landscape * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $hero-offset fixed;
  background-size: $phone-landscape $hero-height;
  height: $phone-portrait; 

}





//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 30px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
  margin-top: 0px;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 200px;
}

.spacer1{
  width: 230px;
  height: 260px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  font-size: 100%;
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION
$pl-bottom-factor: .48;
$pl-bottom-divider: 48%;
.plguitarimg4{
  width: $pl-bottom-divider;
  float:right;
  display: block;
}
.plguitarimg5{
  width: $pl-bottom-divider;
  float:right;
  clear:right;
  display: block;
}
$pl-bottom-height: $pl-bottom-factor * $phone-landscape * (1536/2058) + $pl-bottom-factor * $phone-landscape * (428/322) + 1px;
.b-left{
  height: $pl-bottom-height;
  width: 100% - $pl-bottom-divider;
  overflow: hidden;
  position: relative;
  display: table-cell;
}
$pl-guitarcopy2-height: $pl-bottom-factor* $phone-landscape * (1536/2058);
.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: $pl-guitarcopy2-height;
}
.guitarcopy2 p{
  font-size: 10px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}
$pl-guitarcopy3-height: $pl-bottom-factor* $phone-landscape * (428/322) - (1-$pl-bottom-factor) * $phone-landscape * (252/320);
#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 25px;
  padding-bottom: 25px;
  height: $pl-guitarcopy3-height;
}
#guitarcopy3 p{
  // font-size: 17px;
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.plguitarimg7{
  width:100%;
}



}
//iphone 5 landscape
 @media only screen 
 and (min-width: $phone-wide-landscape) 
 and (max-width: $phone-even-wider-landscape - 1px){



//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
}


//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}



$hero-dimensions: 1420/1821;
$hero-height: $phone-landscape * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $hero-offset fixed;
  background-size: $phone-landscape $hero-height;
  height: $phone-portrait; 

}





//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 30px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
  margin-top: 0px;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 200px;
}

.spacer1{
  width: 230px;
  height: 260px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  font-size: 100%;
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION
$pl-bottom-factor: .48;
$pl-bottom-divider: 48%;
.plguitarimg4{
  width: $pl-bottom-divider;
  float:right;
  display: block;
}
.plguitarimg5{
  width: $pl-bottom-divider;
  float:right;
  clear:right;
  display: block;
}
$pl-bottom-height: $pl-bottom-factor * $phone-landscape * (1536/2058) + $pl-bottom-factor * $phone-landscape * (428/322) + 1px;
.b-left{
  height: $pl-bottom-height;
  width: 100% - $pl-bottom-divider;
  overflow: hidden;
  position: relative;
  display: table-cell;
}
$pl-guitarcopy2-height: $pl-bottom-factor* $phone-landscape * (1536/2058);
.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: $pl-guitarcopy2-height;
}
.guitarcopy2 p{
  font-size: 10px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}
$pl-guitarcopy3-height: $pl-bottom-factor* $phone-landscape * (428/322) - (1-$pl-bottom-factor) * $phone-landscape * (252/320);
#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 30px;
  padding-bottom: 25px;
  height: $pl-guitarcopy3-height;
}
#guitarcopy3 p{
  // font-size: 17px;
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.plguitarimg7{
  width:100%;
}


$hero-height: $phone-wide-landscape * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $hero-offset fixed;
  background-size: $phone-wide-landscape $hero-height;
  height: $phone-portrait; 

}

$pl-bottom-height: $pl-bottom-factor * $phone-wide-landscape * (1536/2058) + $pl-bottom-factor * $phone-wide-landscape * (428/322) + 1px;
.b-left{
  height: $pl-bottom-height;
}
$pl-guitarcopy2-height: $pl-bottom-factor* $phone-wide-landscape * (1536/2058);
.guitarcopy2{
  height: $pl-guitarcopy2-height;
}
.guitarcopy2 p{
font-size: 13px;
}
$pl-guitarcopy3-height: $pl-bottom-factor* $phone-wide-landscape * (428/322) - (1-$pl-bottom-factor) * $phone-wide-landscape * (252/320);
#guitarcopy3{
  height: $pl-guitarcopy3-height;

}

#guitarcopy3 p{
    font-size: 17px;
}
}


 //android landscape
@media only screen 
and (min-width: $phone-even-wider-landscape ) 
and (max-width: $tablet-portrait - 1px)  {




//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
}

//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}



$hero-dimensions: 1420/1821;
$hero-height: $phone-landscape * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $hero-offset fixed;
  background-size: $phone-landscape $hero-height;
  height: $phone-portrait; 

}





//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 30px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
  margin-top: 0px;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 200px;
}

.spacer1{
  width: 230px;
  height: 260px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  font-size: 100%;
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION
$pl-bottom-factor: .48;
$pl-bottom-divider: 48%;
.plguitarimg4{
  width: $pl-bottom-divider;
  float:right;
  display: block;
}
.plguitarimg5{
  width: $pl-bottom-divider;
  float:right;
  clear:right;
  display: block;
}
$pl-bottom-height: $pl-bottom-factor * $phone-landscape * (1536/2058) + $pl-bottom-factor * $phone-landscape * (428/322) + 1px;
.b-left{
  height: $pl-bottom-height;
  width: 100% - $pl-bottom-divider;
  overflow: hidden;
  position: relative;
  display: table-cell;
}
$pl-guitarcopy2-height: $pl-bottom-factor* $phone-landscape * (1536/2058);
.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: $pl-guitarcopy2-height;
}
.guitarcopy2 p{
  font-size: 10px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}
$pl-guitarcopy3-height: $pl-bottom-factor* $phone-landscape * (428/322) - (1-$pl-bottom-factor) * $phone-landscape * (252/320);
#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 40px;
  padding-bottom: 25px;
  height: $pl-guitarcopy3-height;
}
#guitarcopy3 p{
  // font-size: 17px;
  font-size: 17px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.plguitarimg7{
  width:100%;
}

$hero-height: $phone-even-wider-landscape * $hero-dimensions;
.hero {
  background-size: $phone-even-wider-landscape $hero-height;
}

$pl-bottom-height: $pl-bottom-factor * $phone-even-wider-landscape * (1536/2058) + $pl-bottom-factor * $phone-even-wider-landscape * (428/322);
.b-left{
  height: $pl-bottom-height;
  width: 1000px;
}
$pl-guitarcopy2-height: $pl-bottom-factor* $phone-even-wider-landscape * (1536/2058);
.guitarcopy2{
  height: $pl-guitarcopy2-height;
}
.guitarcopy2 p{
  font-size: 15px;
}
$pl-guitarcopy3-height: $pl-bottom-factor* $phone-even-wider-landscape * (428/322) - (1-$pl-bottom-factor) * $phone-even-wider-landscape * (252/320);
#guitarcopy3{
  height: $pl-guitarcopy3-height;
}
}



/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px){


// IPAD -- PORTRAIT -- WRAPPERS

.wrapper-content{
  max-width: 95%;
}

#nav-dropdown .menu-guitar a{
  color: #358fe3; 
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
}

// IPAD -- PORTRAIT -- HERO
$hero-dimensions: 1420/1821;
$hero-height: $tablet-portrait * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $navheight fixed;
  background-size: $tablet-portrait $hero-height;
  height:$tablet-portrait * $hero-dimensions ; 

}
.heroblurbfix {
  position: absolute;
  top: 100px;
}
.heroblurb img{
  width:100px;
}
.tpgibson{
  display: inherit;
  width: 100px;
  margin: 0 auto;
}
.gibsondesktop{
  display: none;
}
.tpherobuffer{
  display: inherit;
  height: 30px;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  bottom: 0px;
}


// IPAD -- PORTRAIT -- PAGE -- TOP SECTION
.page{
  overflow:hidden;
}
.page h1{
  font-size: 36px;
  margin-bottom: 10px !important;
}

.page p{
}

$tp-padding-top: 30px;
.page{
  display: inherit;
  padding-top: $tp-padding-top;
  }

.herobuffer{
  margin-top: -($herobuffer + $tp-padding-top);
}
.guitarimg1{
  right: -245px ;
  height: 600px;
}
.guitarcopy1 p {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 110px;
}

#spacer1{
  height: 170px;
  width: 180px
}

#spacer2{
  height: 75px;
  width: 210px;
}

#spacer3{
  height: 72px;
  width: 240px;
}

#spacer4{
  height: 180px;
  width: 280px;
}
#spacer5{
  height: 40px;
  width: 250px;
}




// IPAD -- PORTRAIT -- BOTTOM SECTION
.bottomsection{
  display: block;
}
$tp-bottom-factor: .485;
$tp-bottom-divider: 48.5%;
.guitarimg3{
  width: $tp-bottom-divider;
  float:right;
  display: block;
}

$tp-guitarimg4-factor: .25;
$tp-guitarimg4-grow: 25%;
.guitarimg4{
  width: $tp-bottom-divider + $tp-guitarimg4-grow;
  clear:right;
  position: absolute;
  display: table-cell;
  right: 0px;
  top: $tablet-portrait * $tp-bottom-factor * (1536/2048);
  clip:rect(0px,($tp-bottom-factor + $tp-guitarimg4-factor) *$tablet-portrait,($tp-bottom-factor + $tp-guitarimg4-factor)*$tablet-portrait *(913/685),($tp-bottom-factor + $tp-guitarimg4-factor) *$tablet-portrait - ($tp-bottom-factor * $tablet-portrait));
}
$tp-bottom-height: $tp-bottom-factor * $tablet-portrait * (1536/2058) + ($tp-bottom-factor + $tp-guitarimg4-factor) * $tablet-portrait * (913/685) + 1px;
.b-left{
  height: $tp-bottom-height;
  width: 100% - $tp-bottom-divider;
  overflow: hidden;
  position: relative;
}
.guitarcopy2{
  padding-top: 30px;
  text-align: justify;
}
.guitarcopy2 p{
  font-size: 17px;
  line-height: 1.1;
  margin: 0px 20px 20px 20px;

}
#guitarcopy3{
  height: 100px;
  position: absolute;
  bottom: 0px;
  padding-top: 55px;

}
#guitarcopy3 p{
  font-size: 18px;
    margin-right: 20px;
}

.guitarimg5{
  display: none;
}
$tp-guitar-bottom-height: 380px;
.tpguitarimgbottom{
  height: $tp-guitar-bottom-height;
  width: 100%;
  display: block;
  position: relative;
}
.tpguitarimgbottom img{
  display: block;
  height: 100%;
  position: absolute;
}
.tpguitarimgbottom1{
  right: 0px;
}
.tpguitarimgbottom2{
  left: 0px;
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width: $tablet-landscape) 
and (max-width: $desktop - 1px) {

// IPAD -- PORTRAIT -- WRAPPERS


.wrapper-content{
  width: 93%;
}

#nav .menu-guitar a{
  color: #358fe3; 
}



  // IPAD -- LANDSCAPE-- HERO
$hero-dimensions: 1420/1821;
$hero-height: $tablet-landscape * $hero-dimensions;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $navheight fixed;
  background-size: $tablet-landscape $hero-height;
  height:$tablet-landscape * $hero-dimensions ; 

}
.heroblurbfix {
  position: absolute;
  top: 100px
}
.heroblurb img{
  width:140px;
}
.tpgibson{
  display: inherit;
  margin: 0 auto;
}
.gibsondesktop{
  display: none;
}



  // IPAD -- LANDSCAPE-- PAGE

$tl-page-border-top: 40px;
.page{
  padding-top: $tl-page-border-top;
}
$herobuffer: 15px;
.herobuffer{
  margin-top: -($herobuffer + $tl-page-border-top);
}

.page h1{
  margin-bottom: 40px !important;
}

.guitarimg1{
  right: 20px;
  width: 495px;
}

#spacer1{
  height: 150px;
  width: 440px;
}

#spacer2{
  height: 100px;
  width: 470px;
}

#spacer3{
  height: 70px;
  width: 510px;
}

#spacer4{
  height: 170px;
  width: 530px;
}
#spacer5{
  height: 10px;
  width: 490px;
}

.guitarcopy1{
  margin-bottom: 80px;
}





// IPAD -- LANDSCAPE -- BOTTOM SECTION


$tl-bottom-height: $bottom-factor * $tablet-landscape * (1536/2058) + $bottom-factor * $tablet-landscape * (913/685);
.b-left{
  max-height: $tl-bottom-height !important;
  width: ceil(100% - $bottom-divider);
  display: block;


}
.b-left p{
  font-size: 16px;
  margin-left: 40px ;
}
.guitarcopy2{
  padding-bottom: 13px;
}
.guitarcopy2 p{
  margin-right: 40px;
  text-align: justify;
  margin-bottom: 22px;
}

.guitarimg5{
  display: block;
  border: 0 0;
  width:99%;
}

}

