@import "style.scss";

//  WRAPPERS
// .guitar-wrapper{
//   min-width: 1200px;
// }
#nav .menu-guitar a{
  color: #358fe3;
  pointer-events: none;
  cursor: default; 
}


//  HERO

$hero-dimensions: 1420/1821;
$hero-img-height: $wrapper-inner-width * $hero-dimensions;
$hero-height: 720px;
$hero-offset: 10px;
.herofix {
 height: $hero-height; 
 top: $navheight;
}
.hero{
  width: 100%;
  height: $hero-img-height;
  position: relative;
  overflow:hidden;
  
}
.hero img{
  width: 1200px;
  position: absolute;
}

.herospacer{
  height: $hero-height +$navheight;
}


.heroblurbfix {
  z-index: 1;
  top: 80px; 
}

.heroblurb {
  color: white;
  float: left;
  text-align: center;
}
.heroblurb p {
  color: white;
  font-size: 14px;
  margin: 15px auto; 
  font-style: italic;
}
.heroblurb img{
  width: 120px;
}
.tpgibson{
  display: none;
}
.tpherobuffer{
  display: none;
}




//  PAGE  -   TOP SECTION
#guitar-phone-portrait{
  display: none;
}
#guitar-phone-landscape{
  display: none;
}



.guitarimg1 {
  position: absolute;
  top: 0px;
  right: 44px;
  z-index: 10;
}

.spacer{
  display:block;
  float:right;
  clear:right;
}
.spacer img{
  opacity: 0.0;
}

#guitar-desktop h1{
  text-align: center;
  margin-bottom: 50px;
}

#guitar-desktop p{
 text-align: justify;
 line-height: 1.6;
}

$guitar-img2-overlap: 50px;
$guitar-margin-left: 42px;
.guitarcopy1{
  margin-bottom:$guitar-img2-overlap + 35px;
  margin-left: $guitar-margin-left;
  font-style: italic;
  text-align: left;
}

.guitarcopy1 p{
  font-size: 13px;
  text-align: left !important;
}
.guitarimg2{
  width: 100%;
  margin-top: -$guitar-img2-overlap;
}








//  BOTTOM SECTION

$bottom-factor: .435;
$bottom-divider: 43.5%;
.bottomsection{
  margin-top: -1px;
  // overflow: hidden;
  position: relative;
}
.right{
    width: $bottom-divider;
  float:right;
}
.right img{
  width: 100%;
  display: block;
}

.left{
  width: 100% - $bottom-divider;
  height: 100%;

}

.top{
     height: calc(100% - 438px);

     overflow: scroll;
}
.guitarcopy2{
  padding-top: 40px;
  text-align: justify;
}
.guitarcopy2 p{
  font-size: 17px;
  line-height: 1.1;
  margin: 0px 50px 35px 120px;
}

.bottom{
  // height: $left-bottom-divider;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 35px;
  padding-bottom: 40px;
  height: 80px;
}
#guitarcopy3 p{
  font-size: 21px;
  text-transform: none;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
#guitarcopy3 .bp3 {
  font-size: 15px;
  margin-top: 10px;
}
.guitarimg5{
  width: 100%;
  bottom: 0px;
  display: block;
}
.tpguitarimg5{
  display: none;
}












/* Smartphones (portrait) ----------- */
//  MOBILE (PORTRAIT)
// * ------------------------------------------------
@media only screen 
and (max-width: $phone-landscape - 1px)  {


  #nav-dropdown .menu-guitar a{
    color: #358fe3; 
    pointer-events: none;
    cursor: default;
  }
// MOBILE -- PORTRAIT -- HERO
.heroblurbfix{
  display: none;
}
$pp-hero-height: 265px;

.herofix {
 height: $pp-hero-height; 
 top: $pp-navheight;
}
.hero{
  height: $pp-hero-height;
  overflow:hidden;
  background-color: white;
  width: 100%;
  position: relative;
  
}
.hero img{
  width: 100%;
  position: absolute;
}


.herospacer{
  height: $pp-hero-height;
}

// MOBILE -- PORTRAIT -- PAGE
#guitar-desktop{
  display: none;
}
$pp-padding-top: 30px;
#guitar-phone-portrait{
  display: inherit;
  padding-top: $pp-padding-top;
}

.herobuffer{
  margin-top: -($pp-herobuffer + $pp-padding-top);
}

.ppimg{
  width: 100%;
  display: block;
}

.ppguitarimg1{
  width: 100%;
}

#generous{
  text-align: center;
  font-style: italic;
}
#phone-artists{
  text-align: center;
  font-style: italic;
}
#guitarcopy3{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#guitarcopy3 p{
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  margin:auto auto;
}

#ppcopy1{
  margin-top: 60px;
}


$hero-dimensions: 1420/1821;
$hero-height: $phone-portrait * $hero-dimensions;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $pp-navheight fixed;
  background-size: $phone-portrait $hero-height;
  height: $hero-height + $pp-navheight; 

}


}



$pl-bottom-factor: .48;
$pl-bottom-divider: 48%;


/* MOBILE (LANDSCAPE)
* ------------------------------------------------ */
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $phone-wide-landscape - 1px)  {

//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
  pointer-events: none;
  cursor: default;
}
#nav .menu-guitar a{
  color: white; 

}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
  pointer-events: none;
  cursor: default;
}


//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}

$pl-hero-height: $phone-portrait;

.herofix {
 height: $pl-hero-height; 
 top: $pl-navheight;
}
.hero{
  height: $pl-hero-height;
  overflow:hidden;
  background-color: white;
  width: 100%;
  position: relative;
  
}
.hero img{
  top: -40px;
  width: 100%;
  position: absolute;

}


.herospacer{
  height: $pl-hero-height;
}





//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 25px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page h1{
  margin-bottom: 15px;
}

.page p{
  margin-top: 0px;
  line-height: 1.45em;
  font-size: 11px;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 230px;
}

.spacer1{
  width: 260px;
  height: 280px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION

$pl-bottom-divider: 48%;
.right{
   width: $pl-bottom-divider;
}
.right img {
  display: block;
}

.left{
  width: 100% - $pl-bottom-divider;
}


.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: calc(100% - 380px);
}
.guitarcopy2 p{
  font-size: 10px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}

#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
}
#guitarcopy3 p{
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
}
.plguitarimg7{
  width:100%;
}



}
//iphone 5 landscape
@media only screen 
and (min-width: $phone-wide-landscape) 
and (max-width: $phone-even-wider-landscape - 1px){



//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
  pointer-events: none;
  cursor: default;
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
  pointer-events: none;
  cursor: default;
}


//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}


$pl-hero-height: $phone-portrait;

.herofix {
 height: $pl-hero-height; 
 top: $pl-navheight;
}
.hero{
  height: $pl-hero-height;
  overflow:hidden;
  background-color: white;
  width: 100%;
  position: relative;
  
}
.hero img{
  top: -55px;
  width: 100%;
  position: absolute;

}


.herospacer{
  height: $pl-hero-height;
}





//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 30px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
  margin-top: 0px;
  line-height: 1.45em;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 200px;
}

.spacer1{
  width: 230px;
  height: 260px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION
$pl-bottom-divider: 48%;

.right{

  width: $pl-bottom-divider;
  }
  .right img{
    display: block;
  }

.left{
  width: 100% - $pl-bottom-divider;
}

.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: calc(100% - 170px);
}
.guitarcopy2 p{
  font-size: 13px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}

#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 30px;
  padding-bottom: 25px;
  height: 70px;
}
#guitarcopy3 p{
  font-size: 17px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
}
.plguitarimg7{
  width:100%;
}


$hero-height: $phone-wide-landscape * $hero-dimensions;
$hero-offset: -20px;
.hero {
  position: relative;
  background: url(../img/guitar_hero.jpg) no-repeat center $hero-offset fixed;
  background-size: $phone-wide-landscape $hero-height;
  height: $phone-portrait; 

}

}


 //android landscape
 @media only screen 
 and (min-width: $phone-even-wider-landscape ) 
 and (max-width: $tablet-portrait - 1px)  {




//  MOBILE -- LANDSCAPE -- WRAPPERS
.wrapper-content{
  max-width: 95%;
}


#nav-dropdown .menu-guitar a{
  color: #358fe3; 
  pointer-events: none;
  cursor: default;
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
  pointer-events: none;
  cursor: default;
}

//  MOBILE -- LANDSCAPE -- HERO

.heroblurbfix{
  display: none;
}

$pl-hero-height: $phone-portrait;

.herofix {
 height: $pl-hero-height; 
 top: $pl-navheight;
}
.hero{
  height: $pl-hero-height;
  overflow:hidden;
  background-color: white;
  width: 100%;
  position: relative;
  
}
.hero img{
  top: -70px;
  width: 100%;
  position: absolute;

}


.herospacer{
  height: $pl-hero-height;
}







//  MOBILE -- LANDSCAPE -- PAGE
#guitar-desktop{
  display: none;
}
#guitar-phone-landscape{
  display: inherit; 

}
#guitar-phone-landscape img{
  display: block;
}

$pl-padding-top: 30px;
#guitar-phone-landscape{
  display: inherit;
  padding-top: $pl-padding-top;
}

.herobuffer{
  margin-top: -($pl-herobuffer + $pl-padding-top);
}

.page p{
  margin-top: 0px;
}

.plguitarimg1{
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  width: 200px;
}

.spacer1{
  width: 230px;
  height: 260px;
}
#generous{
  width:100%;
  float: right;
}
#generous p{
  text-align: center;
  font-style: italic;
}
.plguitarimg2{
  width: 100px;
  margin: 0 auto;
}
#plguitarcopy1{
  text-align: center !important;
  font-style: italic;
  line-height: 1.6em !important;
  float: right;
}

.plguitarimg3{
  width: 100%;
}



//  MOBILE -- LANDSCAPE -- BOTTOM SECTION
$pl-bottom-divider: 48%;
.right{
   width: $pl-bottom-divider;
}
.right img {
  display: block;
}

.left{
  width: 100% - $pl-bottom-divider;
}




.guitarcopy2{
  padding-top: 0px;
  text-align: justify;
  height: calc(100% - 170px);
}
.guitarcopy2 p{
  font-size: 15px;
  line-height: 1.3;
  margin: 0px 10px 0px 10px;
  padding-top: 15px;
}

#guitarcopy3{
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 40px;
  padding-bottom: 25px;
  height: 70px;
}
#guitarcopy3 p{
  font-size: 17px;
  line-height: 1.2;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.plguitarimg6{
  width: 100%;
}
.plguitarimg7{
  width:100%;
}


}



/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px){


// IPAD -- PORTRAIT -- WRAPPERS

.wrapper-content{
  max-width: 95%;
}

#nav-dropdown .menu-guitar a{
  color: #358fe3; 
  pointer-events: none;
  cursor: default;
}
#nav .menu-guitar a{
  color: white; 
}
#nav .menu-guitar{
  display: inherit !important;
  padding-right: 15px !important;
  pointer-events: none;
  cursor: default;
}


.heroblurbfix {
  position: absolute;
  top: 100px;
}
.hero img{
  left: -100px;
}

.tpgibson{
  display: inherit;
  width: 100px;
  margin: 0 auto;
}
.gibsondesktop{
  display: none;
}
.tpherobuffer{
  display: inherit;
  height: 30px;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  bottom: 0px;
}


// IPAD -- PORTRAIT -- PAGE -- TOP SECTION
.page{
  overflow:hidden;
}
.page h1{
  font-size: 36px;
  margin-bottom: 10px !important;
}

.page p{
}

$tp-padding-top: 30px;
.page{
  display: inherit;
  padding-top: $tp-padding-top;
}

.herobuffer{
  margin-top: -($herobuffer + $tp-padding-top);
}
.guitarimg1{
  right: -245px ;
  height: 600px;
}
.guitarcopy1 p {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 110px;
}

#spacer1{
  height: 170px;
  width: 180px
}

#spacer2{
  height: 75px;
  width: 210px;
}

#spacer3{
  height: 72px;
  width: 240px;
}

#spacer4{
  height: 180px;
  width: 280px;
}
#spacer5{
  height: 40px;
  width: 250px;
}




// IPAD -- PORTRAIT -- BOTTOM SECTION

$tp-bottom-divider: 48.5%;
.right{
  width: $tp-bottom-divider;
}

.left{
  width: 100% - $tp-bottom-divider;
}
.top{
  height: calc(100% - 170px);
}
.guitarcopy2{
  padding-top: 30px;
  text-align: justify;
}
.guitarcopy2 p{
  font-size: 17px;
  line-height: 1.1;
  margin: 0px 20px 20px 20px;
}

#guitarcopy3 p{
  font-size: 18px;
  margin-right: 20px;
}

.guitarimg5{
  display: none;
}
.tpguitarimg5{
  width: 100%;
  display: block;
}
.tpguitarimgbottom img{
  display: block;
  height: 100%;
  position: absolute;
}
.tpguitarimgbottom1{
  right: 0px;
}
.tpguitarimgbottom2{
  left: 0px;
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width: $tablet-landscape) 
and (max-width: $desktop - 1px) {

// IPAD -- PORTRAIT -- WRAPPERS


.wrapper-content{
  width: 93%;
}

#nav .menu-guitar a{
  color: #358fe3; 
}




.hero img{
  top:-50px;
}
.heroblurbfix {
  position: absolute;
  top: 100px
}
.tpgibson{
  display: inherit;
  margin: 0 auto;
}
.gibsondesktop{
  display: none;
}



  // IPAD -- LANDSCAPE-- PAGE

  $tl-page-border-top: 40px;
  .page{
    padding-top: $tl-page-border-top;
  }
  $herobuffer: 15px;
  .herobuffer{
    margin-top: -($herobuffer + $tl-page-border-top);
  }

  .page h1{
    margin-bottom: 40px !important;
  }

  .guitarimg1{
    right: 20px;
    width: 495px;
  }

  #spacer1{
    height: 150px;
    width: 440px;
  }

  #spacer2{
    height: 100px;
    width: 470px;
  }

  #spacer3{
    height: 70px;
    width: 510px;
  }

  #spacer4{
    height: 170px;
    width: 530px;
  }
  #spacer5{
    height: 10px;
    width: 490px;
  }

  .guitarcopy1{
    margin-bottom: 80px;
  }


}

