@import "reset.css";
@import "skeleton/skeleton.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,Light);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700,Light);

@font-face {
  font-family: 'Bebas';
  src:url('../fonts/BEBAS___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//  TYPOGRAPHY
body {
  font-family: "Oswald";
  color: #151920;
  background-color: #252525;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase; 
}

h1{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  font-weight: 400; 
}

h3{
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px; 
  line-height: 1.3em;
}

h4{
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.3em;
}

h5{
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.55em;
  text-align: center;

}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45em;
  font-family: "Open Sans";
  margin: 35px auto; 
}

strong { font-weight: bold !important; }



a {
  color: #358fe3;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  text-decoration: none;
}

a:hover {
  color: #358fe3; 
}







//  WRAPPERS
$wrapper-inner-width: 1200px;
$wrapper-content-width: 960px;
.wrapper {
  width: 100%;
  height: 100%;
  background-color: #252525; 
  position: relative;
}

.wrapper-inner {
  width: 100%;
  max-width: $wrapper-inner-width;
  margin: 0 auto;
  position: relative; 
}

.wrapper-content {
  width: 90%;
  max-width: $wrapper-content-width;
  margin: 0 auto;
  position: relative;
}

.wrapper-fix {
  position: fixed;
  width: 100%; 
  max-width: $wrapper-inner-width;
}



//  NAVIGATION BAR
$navheight: 50px;
$nav-overflow: 10px;
$navcolor: #1c1f26;
.navfix, .navspacer {
  height: $navheight;
}

.navfix{
  z-index: 1000; 
}

.navbar {
  background-color: $navcolor;
  width: 100%;
  position: relative;
  height: $navheight+$nav-overflow; 
  margin-top: -$nav-overflow;
}

.navholder {
  margin-top: $nav-overflow;
  float: right; 
}

.logo {
  margin-top: 5px + $nav-overflow;
  width: 170px;
  position: relative;
  z-index: 1001;
}

.links {
  height: $navheight;
  display: table-cell;
  padding-top: 3px;
  vertical-align:middle

}

.links span {
  display: inline;
  margin: 0 0 0 15px; 
  float: left;
}




.links a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px;
  vertical-align: top;
  line-height: 1em;
}

.links a:hover {
  color: #358fe3; 
  cursor: pointer;
}

.dropdown-wrapper{
  position: relative;
}
.menu-dropdown {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.0;
  visibility: hidden;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
}


.menu-dropdown-background{
  background-color: #414141;
  width: 229px;
  height: 100%;
  opacity: .6;
  float: right;
  margin-right: 10px


}
.nav .menu-hamburger{
  display:none;
}

.menu-content{
  position: absolute;
  top: 0px;
}
.nav-dropdown{
  text-align: right;
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  position: absolute;
  top: 0px;

}
.nav-dropdown li{
  display: block;
  
}
.nav-dropdown li a{
  line-height: 1.7em;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px;
  z-index: 1000;
}

.nav-dropdown li a:hover {
  color: #358fe3; 
}

.ddclick{
  position: absolute;
  width: 100%;
  height: 1000px;

}
.nav .menu-mandeladay{
  display: none;
}

.nav-dropdown .menu-mandeladay{
  display: none;
}

.nav-dropdown .currentpage a, .nav .currentpage a{
  color: #358fe3;
  pointer-events: none;
  cursor: default; 
}






// HERO

.herofix{
  width: auto;
}
.hero{
  width: 100%;
}
.hero img{
  width: 100%;
}

$herobuffer: 15px;

.herospacer img{
  display: block;
  margin-bottom: -$herobuffer;
  visibility: hidden;
  width: 100%;
}

.herobuffer{
  width:100%;
  height:$herobuffer;
  background-color: white;
  opacity: 0.3;
}




// PAGE


$page-border-top: 64px;
.page {
  padding-top: $page-border-top;
  position: relative;
  background: white;
  z-index: 5;
}





//FOOTERS

$foot-height: 60px;
.prefooter {
  width: 100%;
  height: $foot-height;
  background-color: #e46315;
  font-style: italic;
  font-size: 18px;
  z-index: 1000;
  position: relative;
}

.prefooter p {
  margin: 10px auto 15px auto; 
}

.pf1 {
  float: left;
  margin-top: 7px;
  height: auto; 
}

.pf2 {
  display: table-cell;
  float: right;
  vertical-align: middle;
  height: auto;
  margin: 10px auto 15px auto; 
}

.pf2 p {
  float: right;
  margin: 7px 10px 0 0; 
}

.pf2 img {
  float: right;
  height: 35px;
  margin: 0 0 0 10px; 
}

.footer {
  height: $foot-height;
  width: 100%;
  background-color: #1c1f26;
  color: white;
  z-index: 1000;
  position: relative;
}

.footer p{
  font-size: 12px;
  margin-top: 24px;
  font-style: italic;
  margin-bottom: 0px;
}

.f1{
  float: left;
}

.f2{
  float:right;
  margin-right: 6px;
}
.f2p-phone{
  display:none;
}

/*Contact------------------------------------------*/


.black_overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 150%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  display: none;
}


#contact {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:1002;
  display: none;
}

.contact-inner{
  position: relative;
}
#contact .pattern {
  height: 100%;
}

.card {
  width: 100%;
  text-align: center;
  padding: 0px 0 0px 0;
  margin: 15% 0 100px 0;
  position: relative;
  z-index:1002;
}

.contact-tabs {
  margin-bottom: 35px;
}

.contact-tabs li {
  display: inline;
  margin: 0 2px;
}

.contact-tabs li a {
  padding: 4px 16px 5px 16px;
  background: #1c1f26;
  border-radius: 14px;
  font-size: 11px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.adress {
  color: #868991;
  font-size: 22px;
  margin-top: 10px;
}

.lines {
  width: 76%;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  padding: 31px 0 31px 0;
  margin: 12px auto 40px auto;
  line-height: 1.45;
}

.contact-social-icons {
  text-align: center;
  position: absolute;;
  bottom: 60px;
  left: 0;
  width: 100%;
}

.contact-social-icons li {
  display: inline;
  margin: 0 7px 0 7px;
}

.contact-social-icons li a {
  display: inline-block;
  color: white;
  font-size: 30px;
  line-height: 2;
  background: url(../images/social-icons-bg.png);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.contact-social-icons li a:hover {
  background-color: #a5ad25;
}

#contactresult p {
  color: white;
  text-align:center;
  font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
}

/* #### legacy Form #### */
.legacy-frm {
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(28, 31, 38, 0.75);
  padding: 20px 30px 20px 30px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
    // text-shadow: 1px 1px 1px #FFF;
    // border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .legacy-frm h1 {
    padding: 0px 0px 10px 0px;
    display: block;
    color: white;
    margin: 0px -30px 30px -30px;
  }
  .legacy-frm h1>span {
    display: block;
    font-size: 11px;
  }
  .legacy-frm label {
    display: block;
    margin: 0px 0px 5px;
    color: white;
  }
  .legacy-frm label>span {
    float: left;
    width: 200px; 
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .legacy-frm label.error {
    color: red;
    padding-top: 0px;
    padding-left: 240px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: left;
    font-style: italic;

  }
  .legacy-frm input[type="text"], .legacy-frm input[type="email"], .legacy-frm textarea, .legacy-frm select {
    border: 1px solid #CCC;
    color: black;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .legacy-frm input[type="checkbox"] {
    color: black;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
  }

  .legacy-frm select {
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
    color: black;
  }
  .legacy-frm textarea{
    height:100px;
    color: black;
  }

  .legacy-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
  }
  .legacy-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
  }

  #sponsorarea {
    display:none;
  }



// Tables

.table{
  display: table;
  position: relative;
  width: 100%;
}

.row{
  display: table-row;
  position: relative;

}

.cell{
  display: table-cell;
}

.rowspan{
 position: absolute;
 top: 0;
 bottom: 0;
}



//  RESPONSIVE

$phone-portrait: 320px;
$phone-landscape: 480px;
$phone-wide-landscape: 568px;
$phone-even-wider-landscape: 640px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1224px;






/* Smartphones (portrait) ----------- */
//  MOBILE (PORTRAIT)
// * ------------------------------------------------

$pp-foot-height: 140px;

@media only screen and (max-width: $phone-landscape - 1px)  {


  //  MOBILE -- PORTRAIT -- TYPOGRAPHY
  h1{
    text-align: center;
    font-size: 25px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  p{
    text-align: justify;
    line-height: 1.4em;
    font-size: 15px;
  }



//  MOBILE -- PORTRAIT -- WRAPPERS
.wrapper-content{
  width: 88%;
}


//  MOBILE -- PORTRAIT -- NAVIGATION BAR

.nav span{
  display:none;
  vertical-align: middle;
}
.nav .open-contact{
  display: inherit; 
  padding-right: 8px;
}
.nav .menu-hamburger{
  display:inherit;
}
.menu-dropdown-background{
  width: 100%;
  margin-right: 0;
}













  //  MOBILE -- PORTRAIT -- FOOTERS

  .prefooter{
    height: $pp-foot-height;
    padding-top: 6px;
    z-index: 1000;
  }
  .prefooter p{
    text-align: center;

  }
  .pf1{
    float:inherit;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
  }

  .pf2 {
    float: none;
    display: block;
    vertical-align: middle;
    height: auto;
    margin: 3px auto 0px auto;
    text-align: center;
  }

  .pf2 p{
    display: none;
  }
  .pf2 img { 
    float: none;
    height: 45px;
    margin: 0px auto; 
  }

  .footer{
    height: $pp-foot-height;
    padding-top: 10px;
    z-index: 1000;
  }

  .footer p{
    text-align: center;
    font-size: 100%;
    font-style: italic;
    line-height: 1.5;
    margin-bottom:  0px;

    margin-top: 17px;
  }
  .f1{
    float: none;
  }
  .f2{
    float:none;
  }
  .f2p-phone{
    display:inherit;
    margin-bottom: 10px;
  }
  .f2p-desktop{
    display:none;
  }
}



// Mobile Landscape
@media only screen and (min-width: $phone-landscape) and (max-width: $phone-wide-landscape - 1px)  {


html{
  -webkit-text-size-adjust: none ;
}

//  MOBILE -- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.45em;
  font-size: 14px;
}


//  MOBILE -- LANDSCAPE -- NAVIGATION BAR


.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
.nav .open-contact{
  display: inherit; 
  padding-right: 15px;

}


.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}
.nav .currentpage a{
  color: white; 
}





//  MOBILE -- LANDSCAPE -- FOOTERS

.prefooter{
  height: 65px;
  padding-top: 10px;
}
.pf1 p{
  font-size: 12px;
  font-weight: 300;
  //14 mobile refactor
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 30px;
  //40 mobile refactor
}
.footer{
  height: 75px;
  padding-top: 10px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


 //iphone 5
 @media only screen and (min-width: $phone-wide-landscape) and (max-width: $phone-even-wider-landscape - 1px){

  //  .wrapper-inner{
  //   width: $phone-wide-landscape;
  //   margin: 0 auto;
  // }
  html{
    -webkit-text-size-adjust: none ;
  }

//  MOBILE -- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.2em;
  font-size: 14px;
}


//  MOBILE -- LANDSCAPE -- NAVIGATION BAR

.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
.nav .open-contact{
  display: inherit;
  padding-right: 15px; 
}
.nav .currentpage a{
  color: white; 
}

.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}






//  MOBILE -- LANDSCAPE -- FOOTERS

.prefooter{
  height: 65px;
  padding-top: 10px;
}
.pf1 p{
  font-size: 14px;
  font-weight: 300;
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 40px;
}
.footer{
  height: 75px;
  padding-top: 10px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


//android
@media only screen and (min-width: $phone-even-wider-landscape ) and (max-width: $tablet-portrait - 1px)  {

//  .wrapper-inner{
//   width: $phone-even-wider-landscape;
//   margin: 0 auto;
// }

html{
  -webkit-text-size-adjust: none ;
}

//  MOBILE -- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.45em;
  font-size: 14px;
}


//  MOBILE -- LANDSCAPE -- NAVIGATION BAR

.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
.nav .open-contact{
  display: inherit; 
  padding-right: 15px;
}
.nav .currentpage a{
  color: white; 
}
.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}







//  MOBILE -- LANDSCAPE -- FOOTERS

.prefooter{
  height: 65px;
  padding-top: 10px;
}
.pf1{
  margin-top: 9px;
}
.pf1 p{
  font-size: 15px;
  font-weight: 300;
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 40px;
}
.footer{
  height: 75px;
  padding-top: 10px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px){


//  .wrapper-inner{
//   width: $tablet-portrait;
//   margin: 0 auto;
// }
h1{
  font-size: 24px;
}

h3{
  font-size: 19px;
}

p{
  font-size: 17px;
}


.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
.nav .open-contact{
  display: inherit; 
  padding-right: 15px;
}
.nav .currentpage a{
  color: white; 
}
.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}


.pf1{
  margin-top: 10px;
}
.pf2 {
  margin-bottom: 0px;
  margin-top: 10px;
}
.pf1 p{
  font-size: 15px;
}

.pf2 p{
  font-size: 15px;
  margin-top: 10px;
}
.pf2 img{
  height: 40px;
}

.f2{
  margin-top: 0px !important;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width: $tablet-landscape) 
and (max-width: $desktop - 1px) {


// IPAD -- LANDSCAPE -- TYPOGRAPHY
h1{
  font-size: 35px;
}
h3{
  font-size: 20px;
}

p{
  font-size: 17px;
}


}


