@import "reset.css";
@import "skeleton/skeleton.scss";
@import "variables.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,Light,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,Light);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

@font-face {
  font-family: 'Bebas';
  src:url('../fonts/BEBAS___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('../fonts/HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-LtIt.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-LtIt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-LtIt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-LtIt.svg#HelveticaNeueLTStd-LtIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Md.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Helvetica Neue Medium Italic';
  src: url('../fonts/HelveticaNeueLTStd-MdIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-MdIt.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-MdIt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdIt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-MdIt.svg#HelveticaNeueLTStd-MdIt') format('svg');
  font-weight: normal;
  font-style: normal;
}




//  TYPOGRAPHY
body {
  font-family: "Oswald";
  color: #151920;
  background-color: #252525;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase; 
}

h1{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  font-weight: 400; 
}

h3{
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px; 
  line-height: 1.3em;
}

h4{
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.3em;
}

h5{
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 45px;
  line-height: 1.55em;
  text-align: center;

}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45em;
  font-family: "Open Sans";
  margin: 35px auto; 
}



strong { font-weight: bold ; }



a {
  color: $loh-blue;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  text-decoration: none;
}

a:hover {
  color: $loh-blue; 
}







//  WRAPPERS

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #252525; 
  position: relative;
  overflow-x: hidden;
}

.wrapper-inner {
  width: 100%;
  max-width: $wrapper-inner-width;
  margin: 0 auto;
  position: relative; 
  overflow: hidden;
}

.wrapper-content {
  width: 90%;
  max-width: $wrapper-content-width;
  margin: 0 auto;
  position: relative;
}

.wrapper-fix {
  position: fixed;
  width: 100%; 
  max-width: $wrapper-inner-width;
    // overflow: hidden;
}



//  NAVIGATION BAR
.navfix, .navspacer {
  height: $navheight;
}

.navfix{
  z-index: 1000; 
}

.navbar {
  background-color: $navcolor;
  width: 100%;
  position: relative;
  height: $navheight+$nav-overflow; 
  margin-top: -$nav-overflow;
}

.navholder {
  margin-top: $nav-overflow;
  float: right; 
  // position: relative;
}

.logo {
  margin-top: 5px + $nav-overflow;
  width: 170px;
  // position: relative;
  z-index: 1001;
  float: left;
}

.links {
  height: $navheight;
  display: table-cell;
  padding-top: 14px;
  vertical-align:top;

}

.links span {
  display: inline;
  margin: 0 0 0 15px; 
  float: left;
  vertical-align: middle;
}




.links a {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px;
  // vertical-align: top;
  line-height: 1em;
    font-size: 13px; 
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.social-icons {
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.1);
  width: 20px;
  height:20px;
  text-align: center;
}


.links a:hover {
  color: $loh-blue; 
  cursor: pointer;
}

.dropdown-wrapper{
  position: relative;
}

.navbar .menu-donate{
  background-color: $loh-blue; 
  padding:8px;
  padding-top: 3px;
  margin-top: -5px;
  border-radius: 3px;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  cursor: pointer;
  
}
.navbar .links .menu-donate:hover{
  background-color: rgb(74, 174, 57);
}

.navbar .links .menu-donate a{
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 600;
}
.navbar .links .menu-donate a:hover{
  color: white;
}
.menu-dropdown {
  width: 100%;
  height: 195px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.0;
  visibility: hidden;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;

}


.menu-dropdown-background{
  background-color: #414141;
  width: 229px;
  height: 100%;
  opacity: .6;
  float: right;
  margin-right: 10px


}
.nav .menu-hamburger{
  display:none;
}

.menu-content{
  position: absolute;
  top: 0px;
}
.nav-dropdown{
  text-align: right;
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  position: absolute;
  top: 0px;

}
.nav-dropdown li{
  display: block;
  
}
.nav-dropdown li a{
  line-height: 1.7em;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px;
  z-index: 1000;
}



.nav-dropdown li a:hover {
  color: $loh-blue; 
}

.ddclick{
  position: absolute;
  width: 100%;
  height: 1000px;

}
.nav .menu-mandeladay{
  display: none;
}

.nav-dropdown .menu-mandeladay{
  display: none;
}

.nav-dropdown .currentpage a, .nav .currentpage a{
  color: $loh-blue;
  pointer-events: none;
  cursor: default; 
}






// HERO

.hero, .herospacer{
  width: 100%;
}
.hero{
  background-color: black;
}


  
  .hero img{
  width: 100%;
}

.herospacer img{
  display: block;
  margin-bottom: -$herobuffer - 1px;
  visibility: hidden;
  width: 100%;
}

.herobuffer{
  width:100%;
  height:$herobuffer;
  background-color: white;
  opacity: 0.3;
}

.safari.herospacer img{
  visibility: visible;
}

.safari .hero{
  display: none;
}






// PAGE
.page {
  padding-top: 64px;
  position: relative;
  background: white;
  z-index: 5;
}


// MAIN COPY


.maincopy{
  height: auto;
  float:left;
  position: relative;
  margin-bottom: 70px;

  
}

.container .maincopy{
  margin-left:0px;
  padding-right: -9px;
}

.maincopy h1{
  margin-bottom: 5px;
}
.maincopy h3{
  font-size: 20px;
  color: #4f4f4f;

}

.maincopy p{
  text-align: justify;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 25px;
  margin-top: 30px;
}

.maincopy b{
  font-weight: bold;
  text-transform: uppercase;
}


.maincopy a{
  color: #323232;
}

.maincopy a.left{
  float:left;
}

.maincopy a.right{
  float:right;
}
.maincopy a:hover{
  color: $loh-blue;
}



// SIDEBAR

.container .sidebar{
  margin-right: 0px;
  float:right;
  padding-left: 31px;
  box-sizing: border-box;
}


.sidebar h4 {
  font-size: 18px;
  font-family: "Oswald";
  color: rgb( 25, 25, 25 );
  font-weight: 500;
  clear: right;
  margin-bottom: 0px;
  line-height: 36px;
  vertical-align: text-bottom;
}



.sidebar .missionstatement{
  margin-bottom: 46px;
    text-align: center;
    display: none;
}

.sidebar .missionstatement h4{
  text-align: left;
}
.sidebar .missionstatement p{
  font-size: 12px;
  font-family: "Open Sans";
  color: rgb( 31, 34, 41 );
  line-height: 1.333;
  text-align: justify;
    margin-top: 0px;
    margin-bottom: 10px;
 
}

.sidebar .missionstatement a{
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb( 31, 34, 41 );
  line-height: 1.333;
  font-weight: bold;
 border-bottom: 1px solid #000;
 padding-bottom: 3px;
 
}
.sidebar .fundraiser img{
  width: 45px;
  float:right;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: -5px;
}
.sidebar .fundraiser .thermometer {
    margin:20px 0 0 50%;
    left:-15px;
    top:0px;
    width:22px;
    height:150px;
    display:block;
    font:bold 14px/152px "Oswald", arial, sans-serif;
    text-indent: 36px;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #db3f02 50%, #db3f02 100%);
    border-radius:20px 22px 0 0;
    border:3px solid #4a1c03;
    border-bottom:none;
    position:absolute;
    box-shadow:inset 0 0 0 4px #fff;
    color:#4a1c03;
}
/* Thermometer Bulb */
 .sidebar .fundraiser .thermometer:before {
    content:' ';
    width:44px;
    height:44px;
    display:block;
    position:absolute;
    top:144px;
    left:-14px;
    z-index:-1;
    /* Place the bulb under the column */
    background:#db3f02;
    border-radius:44px;
    border:3px solid #4a1c03;
    box-shadow:inset 0 0 0 4px #fff;
}
/* This piece here connects the column with the bulb */
 .sidebar .fundraiser .thermometer:after {
    content:' ';
    width:14px;
    height:7px;
    display:block;
    position:absolute;
    top:146px;
    left:4px;
    background:#db3f02;
}

.sidebar .fundraiser p{
  font-size: 16px;
  font-family: "Oswald";
  color: rgb( 25, 25, 25 );
  line-height: 1.225;
 letter-spacing: 1px;
  margin-bottom: 22px;
  margin-top: 30px;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



}

.sidebar .sidebox{
  width: 100%;
  height: auto;
  background-color: #f2f3f3;
  border-left: solid 4px #5B95C8;
  margin-top: 50px;
  padding-left: 14px;
  padding-right: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  box-sizing: border-box;

}
.sidebar .sidebox.execsumbox {
  padding-bottom: 9px;
  display: none;
}




.sidebar .sidebox h3 {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 15px;
  margin-right: 20px;
  letter-spacing: 0.5px;
}

.sidebar .sidebox.execsumbox h3{
  font-size: 15px;
  margin-right: 10px;
}


.sidebar .sidebox p {
  font-size: 12px;
  font-family: "Open Sans";
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 500;

}
.sidebar .sidebox.donatebox .donate{
  margin-bottom: 0px;
}

.sidebar .sidebox .donatebuttonholder{
  text-align: center;
}
.sidebar .sidebox button{
  border-radius: 3px;
  background-color: rgb( 76, 76, 76 );
  width: 102px;
  height: 28px;
  font-size: 14px;
  font-weight: 200;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 

}

.sidebar .sidebox button:hover{
  background-color: $loh-blue;
}









//FOOTERS
.prefooter {
  width: 100%;
  height: $foot-height;
  background-color: #e46315;
  font-style: italic;
  font-size: 18px;
  position: relative;
}

.prefooter .donatebuttonholder{
  // text-align: center;
}
.prefooter .donatebuttonholder  button{
  border-radius: 3px;
  padding-top: 4px;
  background-color: $loh-blue; 
  width: 90px;
  height: 32px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  font-size: 14px;

}


.prefooter  .donatebuttonholder button:hover{
  background-color: rgb(74, 174, 57);
}

.prefooter p {
  margin: 10px auto 15px auto; 
  display: inline-block;
}

.pf1 {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 7px;
  height: auto; 
}

.pf1 a{
  text-decoration: underline;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.pf2 {
  display: table-cell;
  float: right;
  vertical-align: middle;
  height: auto;
  margin: 10px auto 15px auto; 
}

.pf2 p {
  float: right;
  margin: 7px 10px 0 0; 
}

.pf2 img {
  float: right;
  height: 35px;
  margin: 0 0 0 10px; 
}

.footer {
  height: $foot-height;
  width: 100%;
  background-color: #1c1f26;
  color: white;
  position: relative;
}

.footer p{
  font-size: 12px;
  margin-top: 24px;
  // font-style: italic;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.f1{
  float: left;
}

.f2{
  float:right;
  margin-right: 6px;

}
.f2p-phone{
  display:none;
}
.f2 p{
  display: inline-block;
}
.f2 img{
  display: inline-block;
  margin-bottom: -3px;
}





// CONTACT FORM
.black_overlay{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 105%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  display: none;
}


#contact {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:1002;
  display: none;
}



.contact-inner{
  position: relative;
}

.contact-inner h1{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 38px
}
#contact .pattern {
  height: 100%;
}

.contact-inner .card {
  width: 100%;
  text-align: center;
  padding: 0px 0 0px 0;
  margin: 15% 0 100px 0;
  position: relative;
  z-index:1002;
}

.close-contact{
  position: absolute;
  top: 10px;
  right: 12px;
}

.close-contact a{
  color: white;
}
.close-contact a:hover{
 color: $loh-blue; 
 cursor: pointer;
}

.contact-tabs {
  margin-bottom: 35px;
}

.contact-tabs li {
  display: inline;
  margin: 0 2px;
}

.contact-tabs li a {
  padding: 4px 16px 5px 16px;
  background: #1c1f26;
  border-radius: 14px;
  font-size: 11px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}


.contactinfo{
width: 100%;
color: white;
text-align: center;
margin-bottom: 70px;
// height: 80px;

}


.contactinfo h1{
    font-size: 20px;
    text-transform: none;
    margin: 0px !important;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px !important;
  }
  .contactinfo h2{
    font-size: 12px;
    text-transform: none;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
  }




.lines {
  width: 76%;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  padding: 31px 0 31px 0;
  margin: 12px auto 40px auto;
  line-height: 1.45;
}

.contact-social-icons {
  text-align: center;
  position: absolute;;
  bottom: 60px;
  left: 0;
  width: 100%;
}

.contact-social-icons li {
  display: inline;
  margin: 0 7px 0 7px;
}

.contact-social-icons li a {
  display: inline-block;
  color: white;
  font-size: 30px;
  line-height: 2;
  background: url(../images/social-icons-bg.png);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.contact-social-icons li a:hover {
  background-color: #a5ad25;
}

#contactresult p {
  color: white;
  text-align:center;
  font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
}


.contactbutton{

  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

.primarybutton{
  background-color: #0078e7;
  color: #fff;
}




// DONATE




.donate{
text-align: center;
margin-bottom: 20px;
}




.lb{
width: 100%;
height: 110%;
position:fixed;
top: 0px;
left: 0%;
z-index: 1000;
overflow:scroll;
display: none;
}

.black-overlay{
width: 100%;
height: 110%;
position: fixed;
background-color: black;
opacity: .4;
}

.lb-container{
padding-top: 1.5 * $navheight;
padding-bottom: 1.5 * $navheight;
}

.lightbox{
height: auto;
background-color: white;
padding-bottom: 40px;
padding-top: 40px;
border-radius: 20px;
}
.lightbox h1{
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 30px;
margin-bottom: 0px;
}

.lightbox h3{
font-family: "Open Sans", sans-serif;
font-size: 22px;
margin-bottom: 10px;
text-align: center;
}
.lightbox p{
text-align: center;
padding-top: 5px;
margin-top: 0px;
margin-bottom: 0px;
line-height: 1.15em;
}



.lightbox h4{
text-align: center;
font-family: "Open Sans", sans-serif;
margin-bottom: 30px;
}


.lightbox .contactinfo{
color: black;
margin-bottom: 40px;
}

.lightbox .donate-spacer{
clear: both;
border-bottom: solid #ccc 1px;
margin: 20px 30px 20px 30px;
}


.lightbox a{
cursor: pointer;
}



 .lightbox .contactinfo h1{
    font-size: 15px;
    text-transform: none;
    margin: 0px !important;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px !important;
    color: #323232;
  }
  .lightbox .contactinfo h2{
    font-size: 18px;
    text-transform: none;
    margin-bottom: 0px;
    font-weight: 100;
    line-height: 1.15em;
    font-family: 'Open Sans', sans-serif;
  }


/* #### legacy Form #### */
.legacy-frm {
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(28, 31, 38, 1);
  padding: 20px 30px 20px 30px;
  font: 12px "Open Sans", Helvetica, Arial, sans-serif;
  color: #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.legacy-frm h1 {
  padding: 0px 0px 10px 0px;
  display: block;
  color: white;
  margin: 0px -30px 30px -30px;
}
.legacy-frm h1>span {
  display: block;
  font-size: 11px;
}
.legacy-frm label {
  display: block;
  margin: 0px 0px 5px;
  color: white;
}
.legacy-frm label>span {
  float: left;
  width: 200px; 
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: white;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.legacy-frm label.error {
  color: red;
  padding-top: 0px;
  padding-left: 240px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: left;
  font-style: italic;

}
.legacy-frm input[type="text"], .legacy-frm input[type="email"], .legacy-frm textarea, .legacy-frm select {
  border: 1px solid #CCC;
  color: black;
  height: 20px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 6px 12px;
  width: 68%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.legacy-frm input[type="checkbox"] {
  color: black;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 6px 12px;
  width: 68%;
  font: normal 14px/14px "OpenSans", Helvetica, Arial, sans-serif;
}

.legacy-frm select {
  background: #FFF url('down-arrow.png') no-repeat right;
  appearance:none;
  -webkit-appearance:none; 
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 72%;
  height: 30px;
  color: black;
}
.legacy-frm textarea{
  height:100px;
  color: black;
}

.legacy-frm .button {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px 25px 10px 25px;
  color: #333;
  border-radius: 4px;
}
.legacy-frm .button:hover {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
}

#sponsorarea {
  display:none;
}







//  RESPONSIVE




//  MOBILE - PORTRAIT


@media only screen and (max-width: $phone-landscape - 1px)  {


  //  MOBILE -- PORTRAIT -- TYPOGRAPHY
  h1{
    text-align: center;
    font-size: 25px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  p{
    text-align: justify;
    line-height: 1.4em;
    font-size: 15px;
  }



//  MOBILE -- PORTRAIT -- WRAPPERS
.wrapper-content{
  width: 88%;
}


//  MOBILE -- PORTRAIT -- NAVIGATION BAR
.nav span{
  display:none;
  vertical-align: middle;
}
// .nav .open-contact{
//   display: inherit; 
//   padding-right: 8px;
// }
.nav .menu-hamburger{
  display:inherit;
}
.menu-dropdown-background{
  width: 100%;
  margin-right: 0;
}

.lb .contactinfo h2{
  font-size: 13px;
}



.maincopy a{
  float: none;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

//MOBILE -- LANDSCAPE -- SIDEBAR


.container .sidebar{
  padding-left: 0;
}
.sidebar .sidebox {
  margin-top: 90px;
  margin-bottom: 40px;

}






  //  MOBILE -- PORTRAIT -- FOOTERS
  .prefooter{
    height: $pp-foot-height;
    padding-top: 6px;
  }
  .prefooter p{
    text-align: center;

  }
  .pf1{
    float:inherit;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
  }

  .pf2 {
    float: none;
    display: block;
    vertical-align: middle;
    height: auto;
    margin: 3px auto 0px auto;
    text-align: center;
  }

  .pf2 p{
    display: none;
  }
  .pf2 img { 
    float: none;
    height: 45px;
    margin: 0px auto; 
  }

  .footer{
    height: $pp-foot-height;
    padding-top: 10px;
  }

  .footer p{
    text-align: center;
    font-size: 100%;
    font-style: italic;
    line-height: 1.5;
    margin-bottom:  0px;

    margin-top: 17px;
  }
  .f1{
    float: none;
  }
  .f2{
    float:none;
  }
  .f2p-phone{
    display:inherit;
    margin-bottom: 10px;
  }
  .f2p-desktop{
    display:none;
  }
}



// MOBILE - LANDSCAPE
@media only screen and (min-width: $phone-landscape) and (max-width: $phone-wide-landscape - 1px)  {


  html{
    -webkit-text-size-adjust: none ;
  }

//  MOBILE -- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.45em;
  font-size: 14px;
}




//  MOBILE -- LANDSCAPE -- NAVIGATION BAR
.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
// .nav .open-contact{
//   display: inherit; 
//   padding-right: 15px;

// }


.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}
.nav .currentpage a{
  color: white; 
}


//MOBILE -- LANDSCAPE -- SIDEBAR

.container .sidebar{
  padding-left: 0;
}

.sidebar .sidebox {
  padding-left:81px;
  padding-right: 85px;
  margin-top: 90px;
  margin-bottom: 40px;
}



  .maincopy a{
  float: none;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}




//  MOBILE -- LANDSCAPE -- FOOTERS
.prefooter{
  height: 65px;
  padding-top: 10px;
  z-index: 6;
  position: relative;

}
.pf1 p{
  font-size: 12px;
  font-weight: 300;
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 30px;
}
.footer{
  height: 75px;
  padding-top: 10px;
  z-index: 6;
  position: relative;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


 // IPHONE 5 - LANDSCAPE
 @media only screen and (min-width: $phone-wide-landscape) and (max-width: $phone-even-wider-landscape - 1px){

  html{
    -webkit-text-size-adjust: none ;
  }

//  IPHONE 5-- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.2em;
  font-size: 14px;
}


//  IPHONE 5 -- LANDSCAPE -- NAVIGATION BAR
.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
// .nav .open-contact{
//   display: inherit;
//   padding-right: 15px; 
// }
.nav .currentpage a{
  color: white; 
}

.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}

//MOBILE -- LANDSCAPE -- SIDEBAR

.container .sidebar{
  padding-left: 0;
}
.sidebar .sidebox {
  padding-left:81px;
  padding-right: 85px;
  margin-top: 90px;
  margin-bottom: 40px;
}


//  IPHONE 5 -- LANDSCAPE -- FOOTERS

.prefooter{
  height: 65px;
  padding-top: 10px;
}
.pf1 p{
  font-size: 14px;
  font-weight: 300;
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 40px;
}
.footer{
  height: 75px;
  padding-top: 10px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


// ANDROID - LANDSCAPE
@media only screen and (min-width: $phone-even-wider-landscape ) and (max-width: $tablet-portrait - 1px)  {


  html{
    -webkit-text-size-adjust: none ;
  }

//  ANDROID -- LANDSCAPE -- TYPOGRAPHY
h1{
  text-align: center;
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
p{
  text-align: justify;
  line-height: 1.45em;
  font-size: 14px;
}


//  ANDROID -- LANDSCAPE -- NAVIGATION BAR

.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
// .nav .open-contact{
//   display: inherit; 
//   padding-right: 15px;
// }
.nav .currentpage a{
  color: white; 
}
.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}



//MOBILE -- LANDSCAPE -- SIDEBAR

.container .sidebar{
  padding-left: 0;
}


.sidebar .sidebox {
  padding-left:81px;
  padding-right: 85px;
  margin-top: 90px;
  margin-bottom: 40px;
}



//  ANDROID -- LANDSCAPE -- FOOTERS

.prefooter{
  height: 65px;
  padding-top: 10px;
}
.pf1{
  margin-top: 9px;
}
.pf1 p{
  font-size: 15px;
  font-weight: 300;
}
.pf2 p{
  display: none;
}
.pf2 img { 
  height: 40px;
}
.footer{
  height: 75px;
  padding-top: 10px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
.f1{
  float: none;
}
.f2{
  float:none;
}
.f2p-phone{
  display:inherit;
}
.f2p-desktop{
  display:none;
}
}


// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px){


// TABLET - PORTRAIT - TYPOGRAPHY
h1{
  font-size: 24px;
}

h3{
  font-size: 19px;
}

p{
  font-size: 17px;
}



// TABLET - PORTRAIT - NAVIGATION BAR
.nav span{
  display:none;
}
.nav .menu-hamburger{
  display:inherit;
}
// .nav .open-contact{
//   display: inherit; 
//   padding-right: 15px;
// }
.nav .currentpage a{
  color: white; 
}
.nav .currentpage{
  display: inherit;
  padding-right: 15px;
}




// TABLET - PORTRAIT - FOOTERS
.pf1{
  margin-top: 10px;
}
.pf2 {
  margin-bottom: 0px;
  margin-top: 10px;
}
.pf1 p{
  font-size: 15px;
}

.pf2 p{
  font-size: 15px;
  margin-top: 10px;
}
.pf2 img{
  height: 40px;
}
.f2{
  margin-top: 0px !important;
}
}

// TABLET - LANDSCAPE
@media only screen 
and (min-width: $tablet-landscape) 
and (max-width: $desktop - 1px) {


// TABLET -- LANDSCAPE -- TYPOGRAPHY
h1{
  font-size: 35px;
}
h3{
  font-size: 20px;
}

p{
  font-size: 17px;
}

}


