//  WRAPPERS
$wrapper-inner-width: 1200px;
$wrapper-content-width: 960px;


//  NAVIGATION BAR
$navheight: 50px;
$nav-overflow: 10px;
$navcolor: #1c1f26;



//COLORS

 $loh-blue: #358fe3;



// HERO
$herobuffer: 15px;


//FOOTERS
$foot-height: 60px;
$pp-foot-height: 140px;





//  RESPONSIVE

$phone-portrait: 320px;
$phone-landscape: 480px;
$phone-wide-landscape: 568px;
$phone-even-wider-landscape: 640px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1224px;