.wrapper-spotlight p.top {
  min-height: 0px; }

div.arun1 {
  width: 100%;
  margin-bottom: 55px; }

img.arun1 {
  width: 100%; }

div.arun1 p.caption {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px; }

div.arun2 {
  max-width: 340px;
  width: 100%;
  float: left;
  margin-right: 35px;
  margin-top: 6px;
  margin-bottom: 55px; }

div.arun2 p.caption {
  margin-bottom: 15px; }

img.arun2 {
  width: 100%;
  border-radius: 2px; }

p.clearleft {
  clear: left; }

.arun .pp {
  display: none; }

@media only screen and (max-width: 479px) {
  img.banner {
    content: url("../../img/arun_hero_pp.jpg"); }

  div.arun2 {
    float: none;
    margin-right: auto;
    margin-left: auto; }

  .arun .no-pp {
    display: none; }

  .arun .pp {
    display: block; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  div.arun2 {
    float: none;
    margin-right: auto;
    margin-left: auto; }

  .arun .no-pp {
    display: none; }

  .arun .pp {
    display: block; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  img.barclays {
    margin-bottom: 25px; } }
