@import "../variables.scss";



// SPOTLIGHT

.wrapper-spotlight p.top{
	min-height: 0px;
}


div.arun1{
	width: 100%;
	margin-bottom: 55px;
}

img.arun1{
	width: 100%;
}


div.arun1 p.caption{
	font-size: 14px;
	padding-left:20px;
	padding-right: 20px;
}


// .wrapper-spotlight p.top{
// 	margin-top: 0;
// 	min-height: 0px;
// }

div.arun2{
	max-width: 340px;
	width: 100%;
	float: left;
	margin-right: 35px;
	// margin-bottom: 30px;
	margin-top: 6px;
}

div.arun2 p.caption{
	margin-bottom: 15px;
}


img.arun2{
	width: 100%;
	border-radius: 2px;
}

.arun .pp{
	display:none;
}

//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {

img.banner{
		content: url('../../img/arun_hero_pp.jpg');
	}
	div.arun2{
	float: none;
	margin-right: auto;
	margin-left:auto;
}


.arun .no-pp{
	display:none;
}
.arun .pp{
	display:block;
}


}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


	div.arun2{
	float: none;
	margin-right: auto;
	margin-left:auto;
}

.arun .no-pp{
	display:none;
}

.arun .pp{
	display:block;
}
}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {




img.barclays{
	margin-bottom: 25px;
}
}

