div.chuck1 {
  width: 100%;
  position: relative;
  margin-top: 35px;
  margin-bottom: 75px; }

div.photo-overlay {
  width: 100%;
  height: 100%;
  background-color: #613019;
  opacity: 0.15;
  position: absolute; }

div.photo-overlay img {
  visibility: hidden; }

img.chuck1, div.photo-overlay img {
  width: 100%; }

@media only screen and (max-width: 479px) {
  img.banner {
    content: url("../../img/chuck_hero_pp.jpg"); }

  img.chuck1, div.photo-overlay img {
    content: url("../../img/mission_hero_pp.jpg"); } }
