@import "../variables.scss";


.wrapper-inner{
	background-color: black;
}
img.stage{
	width: 100%;
	margin-bottom: -35px;
}


.c {
	max-width: 575px;
	color: white;
}




h1, h2, h3, h4{
	text-align: center;
}

h1{
	font-size: 45px;
	margin-bottom:0;
}
h1 strong{
	font-weight: normal;
	color: $loh-blue;

}

h2{
	font-size: 39px;
     word-spacing: -1px;
    margin-top: 1px;
     margin-bottom: 1px;

}


 h3{
	font-size: 23px;
	font-weight: 300;
	word-spacing: 1px;
	margin-bottom: 15px;
}

h4{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    color: #a0a0a0;
    word-spacing: 2px;
    margin-bottom: 2px;
    line-height: 1;
}

h5{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: #a0a0a0;
    word-spacing: 2px;
    margin-bottom: 0px;
    line-height: 1;
}


p{
	text-align: justify;
	font-family: "Helvetica Neue Thin";
	color: #DDDDDD;
    font-size: 19px;
    line-height: 1.55;

}

.prefooter p{
	color: initial;
}



.c .countdown {
  margin-bottom: 70px;
}


.c .label{
	color: white;

}

.c .label h4{
 font-family: "Helvetica Neue Medium";
 margin-bottom: 3px;
 font-size: 15px;
 font-weight: normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color: white;
}

.c .label p{
	 font-size: 14px;
	 font-family: "Helvetica Neue Light Italic";
	 font-weight: normal;
	 line-height: 1.5;
 	margin-top: 3px;
 	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}



.c img.barclays{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;

}

p.copy{
	text-align:center;
	font-family: "Helvetica Neue Light";
	font-size: 18px;
}

p.first.copy{
	margin-bottom: 70px;
}
p.second.copy strong{
	font-weight: normal;
	color: $loh-blue;
	font-family: "Helvetica Neue Medium";
}

p.second.copy{
	margin-bottom: 15px;
}



.c .donatebuttonholder{
  margin-bottom: 170px;

}





//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {


.no-p{
	display: none;
}


p.second.copy{
	margin-bottom: 55px;
}
}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


.no-p{
	display: none;
}

p.second.copy{
	margin-bottom: 55px;
}

	

}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

