@import "../variables.scss";


// .wrapper-inner{
// 	background-color: black;
// }
img.stage{
	width: 100%;
	margin-bottom: -35px;

	
}

.navbar, .footer, .prefooter{
	background-color: $loh-black;

}

.prefooter p{
	color: white;
	font-style: normal;
}



.headscroller-wrapper{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.headscroller{
	display:table;
	margin-left: auto;
	margin-right: auto;
}

.headscroller .left{
	display:table-cell;
	width: 50%;
	text-align: right;
	// background-color: green;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 10px;
	border-right: 1px solid $loh-blue;


}

.headscroller .left h1{
	font-size: 50px;
	margin-bottom: -10px;
	text-align: center;
	font-family: "Helvetica Neue";

}	


.headscroller .left h1 big{
	font-size: 100px;
	line-height: 0.7;
}	


.headscroller .right{
	display:table-cell;
	width: 50%;
	text-align:left;
	padding-left: 20px;
	padding-right: 10px;
	
}

h2, h3, h4{
	font-weight: 100;
}


p{
	text-align: justify;
	font-family: "Helvetica Neue Thin";
	color: #DDDDDD;
    font-size: 19px;
    line-height: 1.55;

}

.uphero{
	position: relative;
}
.artists {
	position: absolute;
	width: 100%;
	top: 30%;
}


.artists h2{
	font-size: 20px;
}
.artist h1{
	text-align:center;
}
.artist h1 big{

	background-color: rgba(21,21,21, 0.8);
	
	font-size: 80px;
	// font-family: "Helvetica Neue Light";
	color: white;
	line-height: 1.6;
	padding-right: 30px;
	padding-left: 30px;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






// .prefooter p{
// 	color: initial;
// }


.countdown{
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-top: -30px;
	margin-right: auto;
	visibility: hidden;
	   transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear; 
   -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  display: none;

}

.countdown span{

	 // background-color: rgba(21,21,21, 0.8);
	 padding: 5px;
	 padding-top: 2px;
	 padding-bottom: 2px;

}

.countdown span div, .countdown span h2{
	display:inline;

	text-transform: lowercase;
	font-family: "Helvetica Neue Thin";
	font-weight: 100;
	font-size: 20px;
	color: black;
	 display: inline;
}

.countdown span.hours, .countdown span.minutes{
	display:none;
}
.artistnames{
}

.artistnames {
	font-family: "Helvetica Neue Light";
}

p.artistnames  span{
	white-space: nowrap;
}

p.artistnames span:nth-child(odd){
	color: white;
}







//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {
.artists {
	display: none;
}


.headscroller.pp, .headscroller .left, .headscroller .right{
	display: block;
	box-sizing: border-box;


}

.headscroller .left{
	border-right: none;
	// border-bottom: 1px solid $loh-blue;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	margin-left: auto;
margin-right: auto;
}


.headscroller .right{
	border-top: 1px solid $loh-blue;
padding-top: 20px;
padding-left: 0px;
padding-right: 0px;
margin-left: auto;
margin-right: auto;
width: auto;
text-align: center;
}

.headscroller .right h2{
	font-size: 41px;
	margin-bottom: 5px;
}

.headscroller .right h3{
	font-size: 23px;
}
.headscroller .right h4{
	font-size: 22px;
	color: rgb(150,150,150);
}
h3{
	font-size: 24px
}

}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

.artists {
	display: none;
}

.headscroller.pp, .headscroller .left, .headscroller .right{
	display: block;
	box-sizing: border-box;


}

.headscroller .left{
	border-right: none;
	// border-bottom: 1px solid $loh-blue;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	margin-left: auto;
margin-right: auto;
}


.headscroller .right{
	border-top: 1px solid $loh-blue;
padding-top: 20px;
padding-left: 0px;
padding-right: 0px;
margin-left: auto;
margin-right: auto;
width: auto;
text-align: center;
}

.headscroller .right h2{
	font-size: 41px;
	margin-bottom: 5px;
}

.headscroller .right h3{
	font-size: 23px;
}
.headscroller .right h4{
	font-size: 22px;
	color: rgb(150,150,150);
}

h3{
	font-size: 24px
}


}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

.artist h1 big{
	font-size: 60px;

	padding-left: 15px;
	padding-right: 15px;
}


h3{
	font-size: 24px
}

}

@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {
h3{
	font-size: 24px
}

	}

