@import "../variables.scss";




.nav .currentpage a{
	color: white;
}

.navbar .menu-donate{
	background-color: $loh-green;
}

// PAGE

.wrapper-inner{
	// background-color: white;
		
}

.page{
	display: block;
	padding-bottom: 54px;
	width: 100%;
	background-color: white;
}


.donatepage .top{
	// border-bottom: 1px solid rgba(53,143,227,0.5);
	padding-bottom: 20px;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 20px;
}

.donatepage .top h1{
	text-align: left;
	display: inline-block;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-bottom: 5px;
	// clear:right;


}

.donatepage .top hr {
    border: 0;
    height: 1px;
    background-color: rgba(53,143,227,0.5); 
    background-image:    -moz-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0));
    background-image:     -ms-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    background-image:      -o-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}
.donatepage .top p{
	font-size: 20px;
}



.textcode{
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
}

.textcode b{
	font-family: "Helvetica Neue";
}


.buttons{
	// float:right;
	// margin-top: 35px;
	// margin-left: 20px;
}

.buttons p{
	margin-top: 20px;
	text-align:center;
}
.button{
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background-color: $loh-blue;
	border-radius: 5px;
	margin-bottom: 20px;
		cursor: pointer;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

   box-shadow: 1px 1px 2px #888888; 
}

.button:hover{
	background-color: $loh-green;
}
.button h5{
	margin-bottom: 0;
	color: white;
	font-family: "Helvetica Neue Light";
	text-transform: none;
	line-height: 1;
	padding-top: 5px;

}


.step2, .step3{
		transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	// height: 0;
	overflow: hidden;
	padding-top: 50px;
}

.step3{
	text-align:center;
}

.step3 form{
	margin-top: 30px;
}
form div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

input[type="text"] {
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.validate{
	display: none;
}




// STICKY FOOTER

.prefooter{
	display:none;
}

.push{
	height: $foot-height
}

.wrapper-inner{
	margin-bottom: -$foot-height !important;
}





// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {


.nav .currentpage{
	padding-right: 8px;
}
.heading{
	text-align: center;
}
.donatepage .top h1{
	text-align: center;
}

.card-wrapper{
	margin-left: -6.5px;
}

}


// MOBILE - LANDSCAPE

@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


.nav .currentpage{
	padding-right: 8px;
}

.heading{
	text-align: center;
}
.donatepage .top h1{
	text-align: center;
}

}





// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

.nav .currentpage{
	padding-right: 8px;
}



	


}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {




}
