.nav .currentpage a {
  color: white; }

.navbar .menu-donate {
  background-color: #4aae39; }

.wrapper-inner {
  background-color: white; }

.page {
  padding-bottom: 54px; }

.page h1 {
  text-align: left;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: -2px;
  margin-bottom: 5px; }

.page hr {
  border: 0;
  height: 1px;
  background-color: rgba(53, 143, 227, 0.5);
  background-image: -webkit-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.5), rgba(21, 21, 21, 0));
  background-image: -moz-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.5), rgba(21, 21, 21, 0));
  background-image: -ms-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.5), rgba(21, 21, 21, 0));
  background-image: -o-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.5), rgba(21, 21, 21, 0));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both; }

.page p {
  font-size: 20px; }

.textcode {
  text-align: center;
  font-size: 24px;
  margin-top: 80px; }

.textcode b {
  font-family: "Helvetica Neue"; }

.buttons {
  margin-top: 40px; }

.buttons p {
  margin-top: 20px;
  text-align: center; }

.button {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  background-color: #358fe3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 1px 1px 2px #888888;
  -webkit-box-shadow: 1px 1px 2px #888888;
  -moz-box-shadow: 1px 1px 2px #888888; }

.button:hover {
  background-color: #4aae39; }

.button h5 {
  margin-bottom: 0;
  color: white;
  font-family: "Helvetica Neue Light";
  text-transform: none;
  line-height: 1;
  padding-top: 5px; }

.part2, .part3, .part4 {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  overflow: hidden;
  padding-top: 50px;
  display: none; }

.step2, .step3, .step4 {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  overflow: hidden;
  clear: both; }

.heading {
  text-align: left;
  margin-bottom: 20px;
  display: none; }

.step3 {
  text-align: center; }

.ccard-container {
  margin-bottom: 40px; }

.step3 form {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 280px;
  width: calc(100% - 6px);
  height: 21px;
  text-align: left; }

input[type="text"] {
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 5px;
  -webkit-border-radius: 5px; }

input[type="text"]:focus {
  outline: none; }

input:disabled {
  background-color: #d4d4d4; }

.container .columns.validate-container {
  display: none; }

.validate {
  height: 37px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 5px;
  margin-left: 10px; }

.donatepage .validate p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: 1;
  font-size: 12px;
  color: red; }

form .validate {
  display: none; }

.submit.button {
  max-width: 300px;
  margin-top: 15px;
  opacity: 0.5;
  cursor: default; }

.submit.button:hover {
  background-color: #358fe3; }

.submit.button.enabled {
  opacity: 1;
  cursor: pointer; }

.submit.button.enabled:hover {
  background-color: #4aae39; }

.confirm {
  width: 100%;
  position: relative;
  text-align: right; }

.confirm p {
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right; }

.confirm p b {
  font-family: "Helvetica Neue";
  float: left;
  clear: left; }

.confirm-buttons-container {
  text-align: center;
  margin-top: 40px; }

.confirm-buttons-container .button {
  max-width: 300px;
  width: 100%;
  display: inline-block; }

.prefooter {
  display: none; }

.push {
  height: 60px !important; }

.wrapper-inner {
  margin-bottom: -60px !important; }

@media only screen and (max-width: 479px) {
  .nextstep.nextstep-active {
    display: block; }

  .nav .currentpage {
    padding-right: 8px; }

  .heading {
    text-align: center; }

  .heading h3 {
    font-size: 24px; }

  .page h1 {
    text-align: center; }

  .part3, .step3 {
    overflow: visible !important; }

  .ccard-container {
    width: 105% !important;
    margin-left: -2.5% !important; }

  .page .validate {
    height: 47px; }

  .page .validate p {
    text-align: center;
    font-size: 16px; }

  .confirm p {
    font-size: 14px; }

  .part.collapse .step {
    display: none !important; }

  .part.collapse .heading {
    color: #c8c8c8 !important;
    cursor: pointer; }

  form input {
    margin-bottom: 0;
    margin-top: 10px; }

  .page form .validate {
    height: auto;
    display: block; }

  .page form .validate p {
    margin-bottom: 30px; }

  .page form .validate p:empty {
    margin-bottom: 0px; }

  .validate-container {
    display: none !important; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .nextstep.nextstep-active {
    display: block; }

  .nav .currentpage {
    padding-right: 8px; }

  .heading {
    text-align: center; }

  .heading h3 {
    font-size: 24px; }

  .page h1 {
    text-align: center; }

  .part.collapse .step {
    display: none !important; }

  .part.collapse .heading {
    color: #c8c8c8 !important;
    cursor: pointer; }

  .page .validate {
    height: 47px; }

  .page .validate p {
    text-align: center;
    font-size: 16px; }

  form input {
    margin-bottom: 0;
    margin-top: 10px; }

  .page form .validate {
    height: auto;
    display: block; }

  .page form .validate p {
    margin-bottom: 30px; }

  .page form .validate p:empty {
    margin-bottom: 0px; }

  .validate-container {
    display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav .currentpage {
    padding-right: 8px; } }
