@import "../variables.scss";


// PAGE

.wrapper-inner{
	background-color: white;
		
}

.page{
	background-color: transparent;
	display: block;
	padding-bottom: 54px;
}


.donatepage .top{
	// border-bottom: 1px solid rgba(53,143,227,0.5);
	padding-bottom: 20px;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 20px;
}

.donatepage .top h1{
	text-align: left;
	display: inline-block;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-bottom: 5px;


}

.donatepage .top hr {
    border: 0;
    height: 1px;
    background-color: rgba(53,143,227,0.5); 
    background-image:    -moz-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0));
    background-image:     -ms-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    background-image:      -o-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}
.donatepage .top p{
	font-size: 20px;
}


.option{

	background-color: $loh-gray;
	  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  position: relative;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;

}

.option .amount{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	background-color: $loh-black;
	background-image: -webkit-linear-gradient(bottom, $loh-black, rgb(60,60,60)); 
    background-image:    -moz-linear-gradient(bottom, $loh-black, rgb(60,60,60));
    background-image:     -ms-linear-gradient(bottom, $loh-black, rgb(60,60,60)); 
    background-image:      -o-linear-gradient(bottom, $loh-black, rgb(60,60,60));
}

.option .amount h1{
	color: white;
	font-size: 20px;
	margin-bottom: 15px;

}

.optionscontainer{
	position: relative;
	// height: 100%;
	display: table;

}
	
.option .amount h2{
	color: white;
	font-size: 40px;
}

.option .stats{
	text-align: center;

}



.option .stats div{
	position: relative;
	height: 100%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.option .stats div:not(:last-child){

	border-bottom: 1px solid rgba(21,21,21,0.2);
	}

.option .stats div:first-child{
	padding-top: 20px;
	padding-bottom: 20px;
}
.option .stats p{
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;

}

.option .stats p i{
	font-family: "Helvetica Neue Thin Italic";
	}

	.option .button{
	background-color: $loh-blue;
	}


.container .columns{
	margin-left: 0px;
	margin-right: 0px;
}

.option:hover{

	box-shadow: 0px 0px 5px #888888;
	background-color: white;
}

.container .four.columns:nth-child(2){
	margin-left: 30px;
	margin-right: 30px;
}
.option:nth-child(2){
	box-shadow: 0px 0px 5px #888888;
	background-color: white;
}

.option:nth-child(2) .amount{
	background-color: $loh-blue;
	background-image: -webkit-linear-gradient(bottom, $loh-blue, rgb(117, 165, 236)); 
    background-image:    -moz-linear-gradient(bottom, $loh-black, rgb(60,60,60));
    background-image:     -ms-linear-gradient(bottom, $loh-black, rgb(60,60,60)); 
    background-image:      -o-linear-gradient(bottom, $loh-black, rgb(60,60,60));
}

.option:nth-child(2) .donatebuttonholder button{
	background-color: $loh-green;
}

.option:nth-child(2) .donatebuttonholder button:hover{
  background-color: $loh-red;
}




.container .four.columns:not(:nth-child(2)){
	margin-top: 10px;
	margin-bottom: 20px;
}


.textcode{
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
}

.textcode b{
	font-family: "Helvetica Neue";
}


// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {


.option p{
	text-align: center;
}
.container .four.columns:nth-child(2){
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
}


// MOBILE - LANDSCAPE

@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


.option p{
	text-align: center;
}
.container .four.columns:nth-child(2){
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

}





// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


	


}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {




}
