@import "../variables.scss";




.nav .currentpage a{
	color: white;
}

.navbar .menu-donate{
	background-color: $loh-green;
}

// PAGE

.wrapper-inner{
	background-color: white;
		
}

.page{
	// display: block;
	padding-bottom: 54px;
	// width: 100%;
	// background-color: white;
}


.page h1{
	text-align: left;
	// display: inline-block;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-bottom: 5px;
	// clear:right;


}

.page hr {
    border: 0;
    height: 1px;
    background-color: rgba(53,143,227,0.5); 
    background-image:    -webkit-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0));
    background-image:    -moz-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0));
    background-image:     -ms-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    background-image:      -o-linear-gradient(left, rgba(21,21,21,0), rgba(53,143,227,0.5), rgba(21,21,21,0)); 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear:both;



}
.page  p{
	font-size: 20px;
}



.textcode{
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
}

.textcode b{
	font-family: "Helvetica Neue";
}

.step1 p{
	margin-top: 20px;
	text-align:center;
}
.button{
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background-color: $loh-blue;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 20px;
		cursor: pointer;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 	opacity: 0.5;
 	cursor: default;

   box-shadow: 1px 1px 2px #888888;
   -webkit-box-shadow: 1px 1px 2px #888888; 
   -moz-box-shadow: 1px 1px 2px #888888; 
}
.button.enabled{
 	opacity: 1;
 	cursor: pointer;
 }
.button.enabled:hover{
	background-color: $loh-green;
}

.button h5{
	margin-bottom: 0;
	color: white;
	font-family: "Helvetica Neue Light";
	text-transform: none;
	line-height: 1;
	padding-top: 5px;

}


.part:not(.part1){
		transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	overflow: hidden;
	padding-top: 50px;
	display: none;
}


.step:not(.step1){
		transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	overflow: hidden;
	clear:both;
}


.part1 p{
	margin-top: 50px;
}
.heading{
	text-align:left;
	margin-bottom: 20px;
	display:none;
}
.heading1{
	display:initial;
}
.heading h3{
		text-align: center;
	margin-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
}
.heading .caret{
	font-size: 20px;
	left: 10px;
	margin-top: 5px;
	position:absolute;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	display: none;

}

.collapse .heading .caret{
		-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}



.step1 p{
	margin-top: 20px;
}
.step3{
	text-align:center;
}

.stepnum{
	display: inline-block;
	// float: left;
	// margin-right: 30px;
}

.ccard-container{
	margin-bottom: 40px;
}

.step3 form{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
form input,{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 280px;
	width: calc(100% - 6px);
	height: 21px;
	text-align:left;
}

input[type="text"] {
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
   -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}
input[type="text"]:focus {
  outline: none;
}

input:disabled{
	background-color: rgb(212,212,212);
}

.ccamount{
	height: 27px;
}
.ccamount p{
	margin-top: 0;
	margin-bottom: 0px;
	text-align: left;

}

.container .columns.validate-container{
	display: none;
}
.validate{
	height: 37px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
 	padding-top: 5px;
 	margin-left: 10px;
}
 .donatepage .validate p{
 	margin-top: 0;
 	margin-bottom: 0;
 	text-align: left;
 	line-height: 1;
 	font-size: 12px;
 	color: red;

 }


 form .validate{
 	display: none;
 }

 .submit.button{
 	max-width:300px;
 	margin-top: 15px;
 }


.confirm{
	width: 100%;
	position: relative;
	text-align:right;
}


.confirm p{
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
	text-align:right;
}

 .confirm p b{
 	font-family: "Helvetica Neue";
 	float:left;
 	clear: left;
 }

.payment-error{
	text-align:center;
	color: red;
	margin-bottom: 0;
	display:none;
}



 .confirm-buttons-container{
 	text-align: center;
 	margin-top: 0px;
 }
 .payment-message{
	text-align:center;
	margin-bottom: 0;
	margin-top: 0;
	min-height: 40px;
	-webkit-animation: submitting 1.5s infinite;
	visibility: hidden;
}


.payment-message .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.payment-message .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.payment-message .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 .confirm-buttons-container .button{
 	max-width: 300px;
 	width: 100%;
 	display: inline-block;
 	opacity: 0.5;
 	cursor: default;
 }

 .confirm-buttons-container .button.enabled{
 	opacity: 1;
 	cursor: pointer;
 }

 .confirm-buttons-container .button:hover{
	background-color: $loh-blue;
 }
 .confirm-buttons-container .button.enabled:hover{
	background-color: $loh-green;
 }

 .code-wrapper{
	text-align:center;

 }

.code-wrapper p{
	display: inline-block;
}
p.giftcode{
	color: $loh-green;
	text-align:center;
	font-family: "Helvetica Neue";
	font-size: 25px;
	cursor:pointer;
}




// STICKY FOOTER

.prefooter{
	display:none;
}

.push{
	height: $foot-height !important;
}

.wrapper-inner{
	margin-bottom: -$foot-height !important;
}







// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

.nextstep.nextstep-active{
	display: block;
}
.nav .currentpage{
	padding-right: 8px;
}

.heading{
	text-align: center;
}
.heading h3{
	font-size: 24px;
}

.heading1 h3{
	margin-top: 30px;
	margin-bottom: 50px;
}

.heading .caret{
	display: initial;
}
.page h1{
	text-align: center;
}
.part3, .step3{
	overflow:visible !important;
}
.ccard-container{
	width: 105% !important;
	margin-left: -2.5% !important;

}

.page .validate{

 	height: 47px;
}
 .page .validate p{
 	text-align: center;
 	font-size: 16px;

 }

 .confirm p{
 	font-size: 14px;
 }

 .part.collapse .step{
 	display: none !important;
 }

 .part.collapse .heading{
 	color: rgb(200,200,200)  !important;
	
 }
 .part.collapse.enabled .heading{
 	 	cursor: pointer;
 	 }


 form input{
 	margin-bottom: 0;
 	margin-top: 10px;
 }
 .page form .validate{
 	height: auto;
 	display: block;
 }

 .page form .validate p{
 	margin-bottom: 30px;
 }
 .page form .validate p:empty{
 	margin-bottom: 0px;
 }
 .validate-container {
 	display: none !important;
 }

}


// MOBILE - LANDSCAPE

@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

.nextstep.nextstep-active{
	display: block ;
}
.nav .currentpage{
	padding-right: 8px;
}
.heading{
	text-align: center;
}
.heading h3{
	font-size: 24px;
}

.heading1 h3{
	margin-top: 30px;
	margin-bottom: 50px;
}

.heading .caret{
	display: initial;
}
.page h1{
	text-align: center;
}

 .part.collapse .step{
 	display: none !important;
 }

 .part.collapse .heading{
 	color: rgb(200,200,200)  !important;	
 }
  .part.collapse.enabled .heading{
 	 	cursor: pointer;
 	 }


.page .validate{

 	height: 47px;
}
 .page .validate p{
 	text-align: center;
 	font-size: 16px;

 }
 form input{
 	margin-bottom: 0;
 	margin-top: 10px;
 }
 .page form .validate{
 	height: auto;
 	display: block;
 }

 .page form .validate p{
 	margin-bottom: 30px;
 }
 .page form .validate p:empty{
 	margin-bottom: 0px;
 }
 .validate-container {
 	display: none !important;
 }


}





// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

.nav .currentpage{
	padding-right: 8px;
}



	


}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {




}
