@import "../components/base";
@import "../components/navbar";
@import "../components/hero";
@import "../components/parallax";
@import "../skeleton";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,Light);
@import url(http://fonts.googleapis.com/css?family=Oswald);



body{
	overflow-x:hidden;
	margin: 0px 0px 0px 0px;
}
#wrapper{
	overflow-x: hidden;
}

$hero-height: 1000px;
#heroparallaxwrapper{
	height: $hero-height;
	position: relative;
}

#heroparallaxbg{
	height: $hero-height;
	background: url(../../img/hero_image_no_blurb.jpg) 50% 00% fixed repeat-y; 
}

.blurb{
	top: 10%;
	left: 5%;
	text-align: center;
	width: 300px;
	height: 200px;
	z-index: 10;
}

.blurb h1{
  font-size: 32px;
  font-family: "Oswald";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  text-shadow: 0.5px 0.866px 1px rgb( 0, 0, 0 );
}

.blurb p{
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  font-style: italic;
}

$buffer: 20px;
#bufferbar{
	width:100%;
	height:$buffer;
	background-color: white;
	opacity: 0.3;
	position:absolute;
	margin-top: -$buffer;
}

.sixteen .columns{
	width: 1000px;
}
$about-height: 565px;
$guitar-image-height: 594px;
#aboutguitar{
	width: 100%;
	height: $about-height;
	top: $hero-height;
	background-color: clear;
}

#aboutguitarcontainer{
	height: $about-height;
	left: -75px;
}

#aboutguitar h1{
  font-size: 36px;
  font-family: "Oswald";
  color: rgb( 28, 31, 38 );
  text-transform: uppercase;
  z-index: 50;
  text-align: center;

}

#aboutguitar p{
	font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 17, 17, 17 );
  line-height: 1.556;
  text-align: justifyLeft;
  width: 584px;
  height: 187px;
  z-index: 51;
}

#about2{
	font-size: 16px;
}
p.strong{
	font-weight: 300;
}


#aboutguitarimage{
	float: right;
	z-index: 2;
	position: absolute;

}



$artists-height: 300px;
// #artistsparallaxwrapper{
// 	height: $artists-height;
// 	// margin-top:$about-height - $guitar-image-height;
// 	position: absolute;
// }

// #artistsparallaxbg{
// 	height: $artists-height;
// 	background: url(../../images/artists.jpg) 50% 50% fixed repeat-y; 
// }


#artistsimg{
	width: 100%;
}

#bottomsection p{
	font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 28, 31, 38 );
  line-height: 1.556;
  width: 70%;
  height: 131px;
  z-index: 62;
  margin: 10px 30px 30px 19%;
  text-align: justify;

}

#copy2{
	background-color: #EDEFF2;


}

#copy2 p{
	  font-size: 35px;
  font-family: "Open Sans Light";
  src: local('Open Sans Light');
  color: rgb( 28, 31, 38 );
  font-style: italic;
  line-height: 1.2;
  text-align: right;
  width: 68%;
  height: 68.513px;
  z-index: 61;
   margin: -10% 30px 10px 20%;
}


#img1{
	width:100%;
	height: auto;

}

#img2{
	width:100%;
	height: auto;
	// bottom: 0;
	// position: absolute;

}


#img3{
	width:100%;
	height: auto;

}


$imgcol-width: 49.1%;
.container-full{
	height: 100%;
	width: 100%;
}

table{
	border-spacing: 0px;
	border-collapse: collapse;
}
td{
	padding: 0px 0px 0px 0px;
}
tr{
	padding: 0px 0px 0px 0px;
}
#bottomsection td{
	width: 100% - $imgcol-width;
	text-align: right;
}
#bottomsection tr{
	height: 100%;
}

.imgcol{
	width: $imgcol-width;
}

$footer-height: 40px;
#footer{
	height:$footer-height;
	width: 100%;
	background-color: #15181D;
}

// @media only screen 
// and (max-device-width : 1500px){ 
// 	#aboutguitarimage{
// 		display: none;
// 		visibility: hidden;
// 	}
// }


