.graca.wrapper-spotlight {
  padding-top: 60px;
  padding-bottom: 60px; }

h1, h2, h3, h4 {
  text-align: center; }

.graca h1 {
  font-size: 31px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto; }

h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #a0a0a0;
  margin-right: auto;
  margin-left: auto; }

.pp {
  display: none; }

.lilvid {
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 479px) {
  .no-pp {
    display: none; }

  .pp {
    display: block; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .no-pp {
    display: none; }

  .pp {
    display: block; } }
