.table {
  display: table;
  position: relative;
  width: 100%; }

.row {
  display: table-row;
  position: relative; }

.cell {
  display: table-cell; }

.rowspan {
  position: absolute;
  top: 0;
  bottom: 0; }

.hero img, .herospacer img {
  margin-top: -20px;
  margin-bottom: -300px; }

.heroblurbfix {
  z-index: 1;
  top: 2.6%;
  position: absolute; }

.heroblurb {
  color: white;
  float: left;
  text-align: center; }

.heroblurb p {
  color: white;
  font-size: 14px;
  margin: 0px auto;
  font-style: italic; }

.heroblurb h1 {
  margin-bottom: 15px; }

.heroblurb img {
  margin-top: 5px;
  width: 110px; }

#guitar-phone-portrait {
  display: none; }

#guitar-phone-landscape {
  display: none; }

.guitarimgholder {
  position: absolute;
  top: 0px;
  right: 44px;
  z-index: 10; }

.spacer {
  display: block;
  float: right;
  clear: right; }

.spacer img {
  opacity: 0.0; }

#guitar-desktop h1 {
  text-align: center;
  margin-bottom: 50px; }

#guitar-desktop p {
  text-align: justify;
  line-height: 1.6; }

.guitarcopy1 {
  margin-bottom: 85px;
  margin-left: 42px;
  font-style: italic;
  text-align: left; }

.guitarcopy1 p {
  font-size: 13px;
  text-align: left !important; }

.guitarimg2 {
  width: 100%;
  margin-top: -50px; }

.bottomsection {
  margin-top: -1px;
  position: relative; }

.right {
  width: 43.5%;
  float: right; }

.right img {
  width: 100%;
  display: block; }

.left {
  width: 56.5%;
  height: 100%; }

.top {
  height: calc(100% - 438px);
  overflow: scroll; }

.guitarcopy2 {
  padding-top: 40px;
  text-align: justify; }

.guitarcopy2 p {
  font-size: 17px;
  line-height: 1.1;
  margin: 0px 50px 35px 120px; }

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

#guitarcopy3 {
  width: 100%;
  text-align: right;
  background-color: #EDEFF2;
  padding-top: 5%;
  padding-bottom: 6%;
  height: 80px; }

#guitarcopy3 p {
  font-size: 21px;
  text-transform: none;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

#guitarcopy3 .bp3 {
  font-size: 15px;
  margin-top: 10px; }

.guitarimg5 {
  width: 100%;
  bottom: 0px;
  display: block; }

.tpguitarimg5 {
  display: none; }

@media only screen and (max-width: 479px) {
  .hero img, .herospacer img {
    margin-top: 0px;
    margin-bottom: -15px; }

  .heroblurbfix {
    display: none; }

  #guitar-desktop {
    display: none; }

  #guitar-phone-portrait {
    display: inherit;
    padding-top: 30px; }

  .ppimg {
    width: 100%;
    display: block; }

  .ppguitarimg1 {
    width: 100%; }

  #generous {
    text-align: center;
    font-style: italic; }

  #phone-artists {
    text-align: center;
    font-style: italic; }

  #guitarcopy3 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 9%; }

  #guitarcopy3 p {
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
    margin: auto auto; }

  #ppcopy1 {
    margin-top: 60px; } }
/* MOBILE (LANDSCAPE)
* ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 567px) {
  .hero img, .herospacer img {
    margin-top: -70px;
    margin-bottom: -100px; }

  .heroblurbfix {
    display: none; }

  #guitar-desktop {
    display: none; }

  #guitar-phone-landscape {
    display: inherit; }

  #guitar-phone-landscape img {
    display: block; }

  #guitar-phone-landscape {
    display: inherit;
    padding-top: 25px; }

  .page h1 {
    margin-bottom: 15px; }

  .page p {
    margin-top: 0px;
    line-height: 1.45em;
    font-size: 11px; }

  .plguitarimg1 {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 10;
    width: 230px; }

  .spacer1 {
    width: 260px;
    height: 280px; }

  #generous {
    width: 100%;
    float: right; }

  #generous p {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px; }

  #generous img {
    margin-bottom: 10px; }

  .plguitarimg2 {
    width: 100px;
    margin: 0 auto; }

  #plguitarcopy1 {
    text-align: center !important;
    font-style: italic;
    line-height: 1.6em !important;
    float: right; }

  .plguitarimg3 {
    width: 100%; }

  .right {
    width: 48%; }

  .right img {
    display: block; }

  .left {
    width: 52%; }

  .guitarcopy2 {
    padding-top: 0px;
    text-align: justify;
    height: calc(100% - 380px); }

  .guitarcopy2 p {
    font-size: 10px;
    line-height: 1.3;
    margin: 0px 10px 0px 10px;
    padding-top: 15px; }

  #guitarcopy3 {
    padding-top: 8%;
    padding-bottom: 2%;
    height: 70px; }

  #guitarcopy3 p {
    font-size: 14px;
    line-height: 1.2;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  .plguitarimg6 {
    width: 100%; }

  .plguitarimg7 {
    width: 100%; } }
@media only screen and (min-width: 568px) and (max-width: 639px) {
  .hero img, .herospacer img {
    margin-top: -70px;
    margin-bottom: -100px; }

  .heroblurbfix {
    display: none; }

  #guitar-desktop {
    display: none; }

  #guitar-phone-landscape {
    display: inherit; }

  #guitar-phone-landscape img {
    display: block; }

  #guitar-phone-landscape {
    display: inherit;
    padding-top: 30px; }

  .page p {
    margin-top: 0px;
    line-height: 1.45em; }

  .plguitarimg1 {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 10;
    width: 200px; }

  .spacer1 {
    width: 230px;
    height: 260px; }

  #generous {
    width: 100%;
    float: right; }

  #generous p {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px; }

  #generous img {
    margin-bottom: 10px; }

  .plguitarimg2 {
    width: 100px;
    margin: 0 auto; }

  #plguitarcopy1 {
    text-align: center !important;
    font-style: italic;
    line-height: 1.6em !important;
    float: right; }

  .plguitarimg3 {
    width: 100%; }

  .right {
    width: 48%; }

  .right img {
    display: block; }

  .left {
    width: 52%; }

  .guitarcopy2 {
    padding-top: 0px;
    text-align: justify;
    height: calc(100% - 170px); }

  .guitarcopy2 p {
    font-size: 13px;
    line-height: 1.3;
    margin: 0px 10px 0px 10px;
    padding-top: 15px; }

  #guitarcopy3 {
    padding-top: 8%;
    padding-bottom: 4%;
    height: 70px; }

  #guitarcopy3 p {
    font-size: 15px;
    line-height: 1.2;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  .plguitarimg6 {
    width: 100%; }

  .plguitarimg7 {
    width: 100%; } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .hero img, .herospacer img {
    margin-top: -70px;
    margin-bottom: -100px; }

  .heroblurbfix {
    display: none; }

  #guitar-desktop {
    display: none; }

  #guitar-phone-landscape {
    display: inherit; }

  #guitar-phone-landscape img {
    display: block; }

  #guitar-phone-landscape {
    display: inherit;
    padding-top: 30px; }

  .page p {
    margin-top: 0px; }

  .plguitarimg1 {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 10;
    width: 200px; }

  .spacer1 {
    width: 230px;
    height: 260px; }

  #generous {
    width: 100%;
    float: right; }

  #generous p {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px; }

  #generous img {
    margin-bottom: 10px; }

  .plguitarimg2 {
    width: 100px;
    margin: 0 auto; }

  #plguitarcopy1 {
    text-align: center !important;
    font-style: italic;
    line-height: 1.6em !important;
    float: right; }

  .plguitarimg3 {
    width: 100%; }

  .right {
    width: 48%; }

  .right img {
    display: block; }

  .left {
    width: 52%; }

  .guitarcopy2 {
    padding-top: 0px;
    text-align: justify;
    height: calc(100% - 170px); }

  .guitarcopy2 p {
    font-size: 15px;
    line-height: 1.3;
    margin: 0px 10px 0px 10px;
    padding-top: 15px; }

  #guitarcopy3 {
    padding-top: 8%;
    padding-bottom: 4%;
    height: 70px; }

  #guitarcopy3 p {
    font-size: 15px;
    line-height: 1.2;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  .plguitarimg6 {
    width: 100%; }

  .plguitarimg7 {
    width: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero img, .herospacer img {
    margin-top: 0px;
    margin-bottom: -15px; }

  .heroblurb h1 {
    font-size: 30px;
    margin-bottom: 10px; }

  .page h1 {
    font-size: 36px;
    margin-bottom: 10px !important; }

  .page {
    display: inherit;
    padding-top: 30px; }

  .guitarimgholder {
    width: 260px;
    overflow: hidden;
    height: 600px;
    right: 0px; }

  .guitarcopy1 p {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 110px; }

  #spacer1 {
    height: 170px;
    width: 180px; }

  #spacer2 {
    height: 75px;
    width: 210px; }

  #spacer3 {
    height: 72px;
    width: 240px; }

  #spacer4 {
    height: 180px;
    width: 280px; }

  #spacer5 {
    height: 40px;
    width: 250px; }

  .right {
    width: 48.5%; }

  .left {
    width: 51.5%; }

  .top {
    height: calc(100% - 170px); }

  .guitarcopy2 {
    padding-top: 30px;
    text-align: justify; }

  .guitarcopy2 p {
    font-size: 17px;
    line-height: 1.1;
    margin: 0px 20px 20px 20px; }

  #guitarcopy3 p {
    font-size: 18px;
    margin-right: 20px; }

  .guitarimg5 {
    display: none; }

  .tpguitarimg5 {
    width: 100%;
    display: block; }

  .tpguitarimgbottom img {
    display: block;
    height: 100%;
    position: absolute; }

  .tpguitarimgbottom1 {
    right: 0px; }

  .tpguitarimgbottom2 {
    left: 0px; } }
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .hero img, .herospacer img {
    margin-top: -20px;
    margin-bottom: -150px; }

  .page {
    padding-top: 40px; }

  .page h1 {
    margin-bottom: 40px !important; }

  .guitarimg1 {
    right: 20px;
    width: 495px; }

  #spacer1 {
    height: 150px;
    width: 440px; }

  #spacer2 {
    height: 100px;
    width: 470px; }

  #spacer3 {
    height: 70px;
    width: 510px; }

  #spacer4 {
    height: 170px;
    width: 530px; }

  #spacer5 {
    height: 10px;
    width: 490px; }

  .guitarcopy1 {
    margin-bottom: 80px; } }
