h5 {
  color: white;
  margin-top: 28px; }

.wrapper {
  overflow-x: hidden; }

.hero {
  overflow: auto; }

.hero img, .herospacer img {
  width: 75%; }

.hero img {
  float: right; }

.heroblurbfix {
  z-index: 1;
  top: 220px; }

.heroblurb {
  color: white;
  right: 0px;
  float: left;
  width: 560px; }

.heroblurb p {
  color: white; }

.herop1 {
  font-size: 16px;
  font-style: italic;
  margin-right: 190px;
  text-align: justify; }

.herop2 {
  font-family: "Oswald";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.page {
  padding-top: 0px;
  background-color: #1c1f26; }

.page a {
  text-align: justify;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  float: right;
  text-decoration: none;
  color: black; }

.cell {
  position: relative;
  float: left;
  cursor: pointer; }

.cell img {
  height: 100%;
  width: 100%;
  display: block; }

.cell:hover {
  box-shadow: 0px 0px 15px 1px white;
  z-index: 1000;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.textcode:hover {
  box-shadow: 0px 0px 0px 0px;
  z-index: 1000; }

.mandeladay:hover {
  box-shadow: 0px 0px 0px 0px;
  z-index: 1000; }

.copy {
  position: absolute; }

.pp {
  display: none; }

.mandeladay {
  width: 100%;
  height: auto;
  cursor: default; }

.mandeladay img {
  float: left;
  width: 50%; }

.mandeladaycopy {
  height: 100%;
  width: 100%; }

.mandeladaycopy h2 {
  margin-top: 120px; }

.mandeladaycopy h3 {
  font-size: 26px; }

.mandeladaycopy p {
  margin-right: 60%;
  text-align: justify; }

.mandeladaycopy a {
  margin-right: 60%;
  pointer-events: none;
  cursor: default; }

.mission {
  width: 25%;
  height: auto; }

.missioncopy {
  height: 27%;
  width: 100%;
  bottom: 0px;
  left: 0px; }

.hospital {
  width: 25%;
  height: auto; }

.hospitalcopy {
  height: 27%;
  width: 100%;
  bottom: 0px;
  left: 0px; }

.video {
  width: 25%;
  height: auto; }

.play-button {
  position: absolute;
  top: 42%;
  left: 42%;
  color: white; }

.play-button:hover {
  color: #358fe3;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }

.textcode {
  width: 25%;
  height: auto;
  cursor: auto; }

.textcodecopy {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.textcodecopy h5 {
  margin: 112px auto 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.concert {
  width: 100%;
  height: auto; }

.concertcopy {
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px; }

.concertcopy h2 {
  margin-top: 111px; }

.concertcopy h3 {
  font-size: 21px; }

.concertcopy p {
  margin-right: 72%;
  text-align: justify; }

.concertcopy a {
  margin-right: 72%; }

.row4 {
  position: relative;
  overflow: hidden; }

.guitar {
  width: 45%;
  float: right;
  position: relative;
  height: auto;
  background-size: cover; }

.guitarcopy {
  width: 39%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center; }

.gc1 {
  margin-top: 170px; }

.gc2 {
  font-size: 35px; }

.guitar img {
  height: auto; }

.app {
  width: 55%;
  float: right;
  height: auto;
  cursor: auto;
  overflow: hidden;
  position: absolute; }

.app img {
  height: 100%; }

.app:hover {
  box-shadow: 0px 0px 0px 0px;
  z-index: 1000; }

.appcopy {
  width: 379px;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center; }

.appcopy h5 {
  font-size: 18px;
  font-family: "Open Sans";
  margin: 105px 78px 47px 78px; }

.appcopy a {
  float: none; }

.appcopy img {
  width: 153px;
  height: auto;
  margin: 0 75px 20px 75px;
  cursor: pointer; }

.appcopy img:hover {
  box-shadow: 0px 0px 15px 1px white;
  z-index: 1000;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.lb-content {
  display: none;
  top: calc((100% - 472px)/2);
  height: 50%;
  background-color: clear;
  z-index: 1002;
  overflow: visible; }

.vidholder {
  width: 700px;
  height: 100%;
  margin: 0 auto; }

.lb-video {
  float: right;
  width: 630px;
  height: 472px;
  margin-right: 30px; }

@media only screen and (max-width: 479px) {
  .hero img, .herospacer img {
    width: 100%;
    margin-left: -100px;
    float: none; }

  .heroblurb {
    display: none; }

  .page {
    position: relative; }

  .page img {
    height: 100%;
    width: 100%; }

  .page h2 {
    font-size: 20px; }

  .page h5 {
    font-size: 20px;
    font-family: "Oswald";
    color: black;
    font-weight: 400; }

  .cell {
    width: 100%;
    text-align: center; }

  .copy {
    width: 100%;
    text-align: center; }

  .pp {
    display: block; }

  .no-pp {
    display: none; }

  .mandeladay .no-pp {
    display: none; }

  .row {
    width: 100%; }

  .mandeladay {
    width: 100%; }

  .mandeladayimg {
    content: url(../../img/home_pp_mandeladay.jpg);
    width: 100%; }

  .mandeladaycopy h2 {
    margin-top: 36%; }

  .mandeladaycopy h3 {
    font-size: 17px; }

  .concertcopy {
    width: 100%; }

  .concertcopy h2 {
    margin-top: 31%; }

  .concertcopy h3 {
    font-size: 14px; }

  .mission {
    width: 100%; }

  .mission img {
    content: url(../../img/home_pp_mission.jpg); }

  .missioncopy {
    height: 100%; }

  .missioncopy h5 {
    margin-top: 32.5%; }

  .guitar {
    float: left;
    width: 100%; }

  .guitar img {
    content: url(../../img/home_pp_guitar.jpg); }

  .gc1 {
    margin-top: 25%; }

  .gc2 {
    font-size: 24px !important; }

  .app {
    float: left;
    position: relative; }

  .appcopy img {
    width: 131px; }

  .appcopy h5 {
    font-family: "Open Sans";
    color: white;
    margin: 10px 10px;
    font-size: 15px;
    margin-bottom: 35px; }

  .appcopy img {
    margin-right: 174px;
    margin-left: 15px;
    height: auto; }

  .lb-video {
    width: 280px;
    height: 210px;
    margin-left: none;
    margin-top: none; }

  .lb-content {
    top: calc((100% - 210px)/2); }

  .vidholder {
    width: 280px; } }
@media only screen and (min-width: 480px) and (max-width: 567px) {
  .heroblurbfix {
    top: 140px; }

  .heroblurb {
    width: 200px !important; }

  .heroblurb h3 {
    text-align: center;
    font-size: 15px !important; }

  .heroblurbfix p {
    display: none; }

  .no-pl {
    display: none; }

  .mandeladay {
    width: 100%; }

  .mandeladaycopy {
    text-align: center;
    width: 50%; }

  .mandeladay h2 {
    font-size: 25px;
    margin-top: 70px; }

  .mandeladay h3 {
    font-size: 22px; }

  .mission {
    width: 50%; }

  .missioncopy h5 {
    font-size: 25px;
    margin-top: 10px; }

  .video {
    width: 50%; }

  .concert {
    width: 100%; }

  .concertcopy {
    width: 39%;
    text-align: center; }

  .concertcopy h2 {
    font-size: 25px;
    margin-top: 80px; }

  .concertcopy h3 {
    font-size: 18px; }

  .app {
    float: right; }

  .appcopy {
    text-align: left; }

  .appcopy img {
    width: 80px;
    margin-left: 30px !important; }

  .appcopy h5 {
    font-family: "Open Sans";
    color: white;
    margin-top: 15px;
    margin-left: 15px !important;
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px !important; }

  .appcopy img {
    margin-right: 174px;
    margin-left: -26px;
    height: auto; }

  .guitar {
    float: right; }

  .gc1 {
    margin-top: 70px;
    font-size: 17px; }

  .gc2 {
    font-size: 20px !important; }

  .lb-video {
    width: 420px;
    height: 315px; }

  .lb-content {
    top: calc((100% - 315px)/2); }

  .vidholder {
    width: 480px; } }
@media only screen and (min-width: 568px) and (max-width: 639px) {
  .heroblurbfix {
    top: 115px; }

  .heroblurb {
    width: 260px !important; }

  .heroblurb h3 {
    text-align: center;
    font-size: 18px !important; }

  .heroblurbfix p {
    display: none; }

  .no-pl {
    display: none; }

  .mandeladay {
    width: 100%; }

  .mandeladaycopy {
    text-align: center;
    width: 50%; }

  .mandeladay h2 {
    font-size: 25px;
    margin-top: 96px; }

  .mandeladay h3 {
    font-size: 22px; }

  .mission {
    width: 50%; }

  .missioncopy h5 {
    font-size: 25px;
    margin-top: 16px; }

  .video {
    width: 50%; }

  .concert {
    width: 100%; }

  .concertcopy {
    width: 39%;
    text-align: center; }

  .concertcopy h2 {
    font-size: 25px;
    margin-top: 76px; }

  .concertcopy h3 {
    font-size: 18px; }

  .app {
    float: right; }

  .appcopy {
    text-align: left; }

  .appcopy img {
    width: 110px;
    margin-left: 30px !important;
    margin-right: 174px;
    margin-left: -26px;
    height: auto; }

  .appcopy h5 {
    font-family: "Open Sans";
    color: white;
    margin-top: 15px;
    margin-left: 15px !important;
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px !important; }

  .guitar {
    float: right; }

  .gc1 {
    margin-top: 75px;
    font-size: 19px; }

  .gc2 {
    font-size: 22px !important; }

  .lb-video {
    width: 420px;
    height: 315px; }

  .lb-content {
    top: calc((100% - 315px)/2); }

  .vidholder {
    width: 480px; } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .heroblurbfix {
    top: 125px; }

  .heroblurb {
    width: 295px !important; }

  .heroblurb h3 {
    text-align: center;
    font-size: 20px !important; }

  .heroblurbfix p {
    display: none; }

  .no-pl {
    display: none; }

  .mandeladay {
    width: 100%; }

  .mandeladaycopy {
    text-align: center;
    width: 50%; }

  .mandeladay h2 {
    font-size: 25px;
    margin-top: 100px; }

  .mandeladay h3 {
    font-size: 22px; }

  .mission {
    width: 50%; }

  .missioncopy h5 {
    font-size: 25px;
    margin-top: 25px; }

  .video {
    width: 50%; }

  .concert {
    width: 100%; }

  .concertcopy {
    width: 39%;
    text-align: center; }

  .concertcopy h2 {
    font-size: 25px;
    margin-top: 100px; }

  .concertcopy h3 {
    font-size: 18px; }

  .app {
    float: right; }

  .appcopy {
    text-align: left; }

  .appcopy img {
    width: 131px;
    margin-left: 30px !important;
    margin-right: 174px;
    margin-left: -26px;
    height: auto; }

  .appcopy h5 {
    font-family: "Open Sans";
    color: white;
    margin-top: 15px;
    margin-left: 15px !important;
    margin-bottom: 35px;
    text-align: center;
    font-size: 15px !important; }

  .guitar {
    float: right; }

  .gc1 {
    margin-top: 95px;
    font-size: 21px; }

  .gc2 {
    font-size: 24px !important; }

  .lb-video {
    width: 420px;
    height: 315px; }

  .lb-content {
    top: calc((100% - 315px)/2); }

  .vidholder {
    width: 480px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-content {
    width: 95%; }

  .heroblurb {
    width: 340px; }

  .heroblurb p {
    margin-right: 0px;
    line-height: 1.1em;
    font-size: 15px; }

  .mandeladaycopy h2 {
    margin-top: 80px;
    font-size: 24px; }

  .mandeladaycopy h3 {
    font-size: 21px; }

  .mandeladaycopy p {
    margin-right: 52%;
    margin-top: 25px;
    font-size: 16px; }

  .mandeladaycopy a {
    margin-right: 52%; }

  .mission {
    width: 25%; }

  .missioncopy h5 {
    margin-top: 15px;
    font-size: 15px; }

  .hospital {
    width: 25%; }

  .hospitalcopy h5 {
    margin-top: 15px;
    font-size: 15px; }

  .video {
    width: 25%; }

  .play-button {
    top: 38%;
    left: 38%; }

  .textcode {
    width: 25%; }

  .textcodecopy h5 {
    margin-top: 63px;
    font-size: 13px; }

  .concertcopy h2 {
    margin-top: 30px;
    font-size: 26px; }

  .concertcopy h3 {
    font-size: 18px; }

  .concertcopy p {
    margin-right: 65%;
    font-size: 16px; }

  .concertcopy a {
    margin-right: 65%; }

  .appcopy {
    height: 100%;
    width: 100%;
    text-align: left; }

  .appcopy img {
    width: 131px;
    margin-left: 68px; }

  .appcopy h5 {
    margin-bottom: 20px;
    font-size: 15px !important;
    margin-top: 20px;
    margin-left: 30px;
    width: 50%; }

  .gc1 {
    margin-top: 105px;
    font-size: 23px; }

  .gc2 {
    font-size: 25px !important; }

  .lb-content {
    top: calc((100% - 472px)/2); } }
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .mandeladaycopy {
    padding-left: 30px; }

  .mandeladaycopy p {
    margin-right: 60%;
    text-align: justify; }

  .mandeladaycopy a {
    margin-right: 60%; }

  .mission {
    width: 25%; }

  .missioncopy h5 {
    margin-top: 19px; }

  .hospital {
    width: 25%; }

  .hospitalcopy h5 {
    margin-top: 19px; }

  .video {
    width: 25%; }

  .textcode {
    width: 25%; }

  .textcodecopy h5 {
    margin-top: 80px; }

  .concertcopy {
    padding-left: 20px; }

  .concertcopy h2 {
    margin-top: 80px; }

  .appcopy {
    height: 100%;
    width: 100%;
    text-align: left; }

  .appcopy img {
    width: 168px;
    margin-left: 82px; }

  .appcopy h5 {
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 30px;
    width: 50%;
    font-weight: 400; }

  .gc1 {
    margin-top: 145px; }

  .lb-content {
    top: calc((100% - 472px)/2); } }
