h5 {
  color: white; }

.hero, .herospacer {
  overflow: hidden;
  position: relative; }

.hero img, .herospacer img {
  width: 64%;
  float: right; }

.hero.third img, .hero.second img {
  width: 100%; }

.safari.herospacer img {
  visibility: hidden; }

.herospacer.left {
  display: block !important; }

.safari .hero {
  display: block; }

.hero.first .heroblurb {
  color: white;
  position: absolute;
  left: 15%;
  top: 33%; }

.hero.first .countdown {
  position: relative; }

.heroblurbbg {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  background-image: -webkit-linear-gradient(left, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -moz-linear-gradient(left, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -ms-linear-gradient(left, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -o-linear-gradient(left, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0)); }

.heroblurbbg2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  background-image: -webkit-linear-gradient(right, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -moz-linear-gradient(right, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -ms-linear-gradient(right, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0));
  background-image: -o-linear-gradient(right, rgba(21, 21, 21, 0.9), rgba(21, 21, 21, 0)); }

.hero.second .heroblurb {
  color: white;
  width: 100%;
  position: absolute;
  left: 0;
  top: 30%; }

.hero.second.alt .heroblurb {
  text-align: right; }

.hero.second .heroblurb h3 {
  max-width: 55%;
  margin-left: 0; }

.hero.second .heroblurb p {
  max-width: 45%;
  margin-left: 0; }

.hero.second.alt .heroblurb {
  text-align: right; }

.hero.second .heroblurb h3 {
  max-width: 55%;
  margin-left: 0;
  font-family: "Josefin Slab";
  font-style: italic;
  letter-spacing: 1px;
  text-transform: none; }

.hero.second .herop1 {
  font-size: 16px;
  font-style: italic;
  text-align: justify; }

.hero.second .herop2 {
  font-family: "Oswald";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.hero.second.alt .heroblurb {
  text-align: right; }

.hero.second.alt .heroblurb h3 {
  max-width: 45%;
  margin-left: auto;
  margin-right: 0; }

.hero.second.alt .heroblurb p {
  max-width: 40%;
  margin-left: auto;
  margin-right: 0;
  text-align: right; }

.hero.second.alt .heroblurb {
  text-align: right; }

.hero.second.alt .heroblurb h3 {
  max-width: 45%;
  margin-left: auto;
  margin-right: 0; }

.hero.second.alt .heroblurb p {
  max-width: 40%;
  margin-left: auto;
  margin-right: 0;
  text-align: right; }

.hero.third .heroblurb {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white; }

.hero.third .top.heroblurb {
  top: 20%; }

.hero.third .top.heroblurb h3 {
  font-size: 26px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black; }

.hero.third .bottom.heroblurb {
  top: 68%; }

.hero.third .bottom.heroblurb p {
  margin-top: 0px;
  margin-bottom: 5px;
  max-width: 330px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hero.third .bottom.heroblurb a {
  margin-top: 0px;
  font-family: "Open Sans";
  text-transform: none;
  color: white;
  font-size: 16px;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hero.third .bottom.heroblurb a:hover {
  color: #358fe3; }

.herospacer.left {
  margin-left: calc(-100% + 70px);
  float: left; }

.herospacer.right {
  margin-right: calc(-100% + 70px);
  float: right; }

.page {
  clear: both; }

.herobuffer {
  clear: both; }

.page {
  padding-top: 77px;
  padding-bottom: 94px; }

.container .about img.barclays {
  float: right;
  width: 348px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-radius: 6px;
  border: 3px solid #358fe3; }

.learnmore {
  width: 100%; }

.learnmore span {
  width: 100%;
  background-color: green; }

.learnmore a {
  text-align: center; }

.sidebar .missionstatement {
  display: block; }

.honorary {
  position: relative;
  margin-bottom: 70px; }

h4.subheading {
  font-size: 17px;
  font-family: "Open Sans";
  line-height: 1.794;
  text-transform: none;
  font-weight: 400;
  padding-bottom: 12px;
  margin-bottom: 20px;
  display: inline-block; }

h4.subheading hr {
  margin-left: 1px;
  margin-right: 1px; }

.slick-dots {
  bottom: -10px; }

.honorary .board {
  width: 25%;
  position: relative; }

.boardwindow {
  width: 100%;
  height: 175px;
  box-sizing: border-box;
  padding: 10px; }

.boardwindow .innerwindow {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.honorary .stretchy-wrapper {
  width: 100%;
  padding-bottom: 73%;
  overflow: hidden;
  height: 0px;
  border-radius: 6px;
  box-sizing: border-box; }

.honorary img {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  zoom: 0; }

.honorary p {
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400; }

.honorary .slick-slide img {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none; }

.honorary .slick-dots li button:before {
  font-size: 16px; }

.birthday {
  margin-top: 80px;
  margin-bottom: 50px; }

.birthday img {
  border-radius: 5px !important;
  width: 100%;
  margin-bottom: 30px; }

.birthday p {
  font-size: 17px; }

.latestnews {
  margin-bottom: 40px; }

.latestnews .clickortap {
  font-size: 15px;
  font-style: italic;
  margin-top: 0;
  text-align: center;
  clear: both;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.latestnews .clickortap.one {
  display: none; }

.latestnews .card {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px; }

.latestnews.withouttwitterfeed .card:nth-child(3n) {
  margin-left: 30px;
  margin-right: 30px; }

.latestnews.withtwitterfeed .card:nth-child(2n -1) {
  margin-right: 20px; }

.container .latestnews a {
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px; }

.latestnews a .stretchy-wrapper {
  width: 100%;
  height: 0px;
  padding-bottom: 74%;
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 6px; }

.latestnews a img {
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

.latestnews a h5 {
  font-size: 17px;
  font-family: "Open Sans";
  line-height: 1.375;
  color: #1f2229;
  text-align: left;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 400; }

.latestnews a p {
  color: black;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 1.475;
  text-align: justify;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  margin-bottom: 20px;
  margin-top: 0px; }

.latestnews a:hover p, .latestnews a:hover h5 {
  color: #358fe3; }

.latestnews .card .bottom {
  height: 30px;
  line-height: 30px; }

.latestnews .card .bottom span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: right;
  width: 100%; }

.latestnews .card .date {
  float: left;
  color: gray; }

.latestnews .card .likes {
  float: right;
  display: inline-block;
  color: gray; }

.latestnews a .bottom span p {
  margin-right: 0;
  margin-top: 3px; }

.latestnews p:last-child {
  text-align: center; }

.latestnews a.readmore {
  font-family: "Helvetica Neue Light";
  font-size: 19px; }

.latestnews a.readmore:hover {
  text-decoration: underline; }

.sponsors {
  height: 158px;
  background-color: #F2F3F3;
  width: 100%;
  line-height: 158px;
  position: relative; }

.sponsors .sponsor {
  position: absolute;
  width: 100%; }

.aol img {
  width: 150px;
  display: inline-block;
  float: left;
  margin-right: 30px;
  margin-top: -10px; }

.sponsors .aol h5 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 40px; }

.sponsors .aol h5 strong {
  font-size: 16px;
  font-weight: 600; }

.sponsors .container span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  position: relative;
  text-align: center; }

.sponsors .container span div {
  width: 450px;
  margin-left: auto;
  margin-right: auto; }

.aol p {
  font-size: 12px; }

@media only screen and (max-width: 479px) {
  h3 {
    text-align: center; }

  .hero img, .herospacer img {
    width: 100%;
    margin-left: -18%;
    float: none; }

  .hero.second img {
    margin-left: auto;
    margin-right: auto;
    content: url("../../img/home_hero2_pp.jpg"); }

  .hero.third img {
    width: 157%;
    margin-left: -24%; }

  .hero.first img {
    margin-left: 0; }

  .hero.second .heroblurbbg {
    display: none; }

  .heroblurb {
    display: none; }

  .hero.first .heroblurb {
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    padding-top: 15%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }

  .hero.third .mobileblurb {
    display: block; }

  .hero.third .mobileblurb.top h3 {
    font-size: 18px; }

  .hero.third .bottom {
    display: block; }

  .hero.third .bottom.heroblurb p:nth-child(1) {
    display: none; }

  .hero.third .bottom.heroblurb p:nth-child(2) {
    text-align: center; }

  .page {
    padding-top: 40px;
    position: relative;
    padding-bottom: 20px; }

  .page .container .about img {
    margin-left: auto;
    width: 100%;
    margin-bottom: 30px; }

  .latestnews.withouttwitterfeed .card:nth-child(3n) {
    margin-left: auto;
    margin-right: auto; }

  .latestnews .four.columns {
    margin-left: 0px; }

  .latestnews .clickortap.one {
    display: block; }

  .latestnews .clickortap.two {
    display: none; }

  .latestnews h4 {
    margin-bottom: 0;
    padding-bottom: 5px; }

  .latestnews p:last-child {
    margin-bottom: 100px; }

  h4.subheading {
    text-align: center;
    display: block; }

  .honorary .boardwindow {
    height: 216px; }

  .honorary {
    margin-bottom: 0px; }

  .sponsors {
    height: 180px; }

  .sponsors .container span div {
    width: 100%; }

  .sponsors .container span div img {
    width: 100px;
    margin-top: 18px;
    float: none;
    text-align: center; }

  .sponsors .container .aol h5 {
    margin-top: 5px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3 {
    text-align: center; }

  h4 {
    text-align: center; }

  .honorary .boardwindow {
    height: 291px; }

  .heroblurb h3 {
    text-align: center; }

  .heroblurb p {
    display: none; }

  .hero.second .heroblurbbg {
    display: none; }

  .hero.first .heroblurb {
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    padding-top: 8%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }

  .hero.first .heroblurb h1 {
    text-align: left; }

  .page {
    padding-bottom: 20px;
    padding-top: 40px; }

  .hero.second .heroblurb h3 {
    display: none; }

  .hero.second .heroblurb p {
    max-width: 65%;
    margin-top: 0px;
    padding-left: 20px; }

  .hero.third .mobileblurb {
    display: block; }

  .hero.third .mobileblurb.top h3 {
    font-size: 24px; }

  .hero.third .bottom {
    display: block; }

  .hero.third .bottom.heroblurb p:nth-child(1) {
    display: none; }

  .hero.third .bottom.heroblurb p:nth-child(2) {
    text-align: center;
    display: initial; }

  .hero.second.alt .heroblurb {
    top: 12%; }

  .hero.second.alt .heroblurb h3 {
    top: 10%;
    display: block;
    text-align: right; }

  .hero.second.alt .heroblurb h4 {
    text-align: right;
    font-size: 15px; }

  .page .container .about img {
    margin-left: auto;
    width: 100%;
    margin-bottom: 30px; }

  .latestnews .four.columns {
    margin-left: 0px; }

  .latestnews.withouttwitterfeed .card:nth-child(3n) {
    margin-left: auto;
    margin-right: auto; }

  .latestnews .clickortap.one {
    display: block; }

  .latestnews .clickortap.two {
    display: none; }

  .latestnews h4 {
    margin-bottom: 0;
    padding-bottom: 5px; }

  .latestnews p:last-child {
    margin-bottom: 100px; }

  .honorary {
    margin-bottom: 0px; }

  h4.subheading {
    text-align: center;
    display: block; }

  .sponsors .container span div {
    width: 100%; }

  .sponsors .container span div img {
    width: 100px;
    margin-top: 0; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .honorary .arrow {
    top: 100%; }

  .honorary .right.arrow {
    right: 30%; }

  .honorary .left.arrow {
    left: 30%; }

  .honorary .boardwindow {
    height: 140px; }

  .heroblurb p {
    line-height: 1.1em;
    font-size: 15px; }

  .hero.first .heroblurb {
    left: 8%; }

  .birthday p {
    font-size: 16px; } }
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .heroblurb h3 {
    font-size: 24px; } }
