@import "../variables.scss";

h5{
	color: white;
	// margin-top: 28px;
}


.banner { 
	position: relative; 
	overflow: auto; 
}
.banner li { list-style: none; float: none }
.banner ul li { float: left;  }




// HERO
.hero, .herospacer{
	  overflow: hidden;
	  position: relative;
}
.hero img, .herospacer img{
	width: 75%;
	float: right;
}




.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 3px;
  text-indent: -999em;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
  color: white;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}





//  HEROBLURB


.heroblurb {
	color: white;
	width: 100%;
	position: absolute;
	left: 0;
	top: 40%;
}
.heroblurb p, .heroblurb h3{
	max-width: 55%;
	margin-left: 0;
}
.herop1{
	font-size: 16px;
	font-style: italic;
	text-align: justify;
}
.herop2{
	font-family: "Oswald";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}





// PAGE
.page {
	padding-top: 77px;
	padding-bottom: 97px;
	
}


.container .about img{
	float:right; 
	width: 348px; 
	margin-left: 20px; 
	margin-bottom: 10px;
	margin-top: -15px;
}



.learnmore{
	width: 100%;
}

.learnmore span{
	width: 100%;

	background-color: green;
}
.learnmore a{
	text-align:center;

}



.latestnews{
	margin-bottom: 40px;
}

.latestnews  .card{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.latestnews  .card:nth-child(3){
	margin-left: 30px;
	margin-right: 30px;
}
$cardpadding: 0px;
.container .latestnews a{
	padding: $cardpadding;
	position: relative;
	box-sizing:border-box;
	border-radius: 5px;	
}


.latestnews a .stretchy-wrapper{
	width: 100%;
	height: 0px;
	padding-bottom: 79%;
	margin-bottom: 10px;
	overflow: hidden;
}

.latestnews a img{
	width: 100%;
    top: 0; 
    left: 0; 
    right: 0;

}
.latestnews a h5{
	color: #323232;
	text-align: left;
	transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  margin-bottom: 10px;
}
.latestnews a p{
	color: initial;
	transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  margin-bottom: 0px;
  margin-top: 0px;
}	


.latestnews a:hover p, .latestnews a:hover h5{
	color: #358fe3;
}


.latestnews .card .bottom{
	height: 30px;
	line-height: 30px;
}

.latestnews .card .bottom span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: right;
  width: 100%;
}
.latestnews .card .date{
	float: left;
}
.latestnews .card .likes{
	float: right;
	display:inline-block;
}

.honorary{
	position: relative;
	margin-bottom: 40px;
}

.honorary .arrow{
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.honorary .right{
	right: -30px;
}

.honorary .left{
	left: -30px;
}

.honorary .inner-container{
	overflow-x:hidden;
	overflow-y:hidden;
	height: 200px;
	margin-left: -10px;
	width: 100%;
}

.honorary .content-container{

	height: 100%;
}

.honorary .board .stretchy-wrapper{
	width: 100%;
	padding-bottom: 73%;
	overflow: hidden;
	height: 0px;
}

.honorary .board img{
	width: 100%;
    top: 0; 
    left: 0; 
    right: 0;
	margin-bottom: 40px;

}

.honorary .board img{
	
}

.sponsors{
	height: 280px;
	background-color: #F2F3F3;
	width: 100%;
	line-height: 280px;

}

.sponsors .sponsor{
	position: absolute;
}

.aol img{
		width: 100%;
}
.container:nth-child(1) .aol img{

	margin-top:20px;

}

.sponsors .aol h5{
	color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
.sponsors .aol h5 strong{
	font-size: 16px;
	font-weight: 600 ;

}

.sponsors .container span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  position: relative;
}

.aol p{
	font-size: 12px;
}

// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

h3{
	text-align: center;
}


// MOBILE - PORTRAIT - HERO
.hero img, .herospacer img{
	width: 100%;
	margin-left: -100px;
	float: none;
}


	//  HEROBLURB
	.heroblurb {
		display: none;
	}



	//  PAGE
	.page{
		position: relative;
	
	}

.page .container .about img{
	margin-left: auto;
	width: 100%;
	margin-bottom: 30px;
}


.latestnews.container .four.columns{
	margin-left: 0px;
}


.honorary .left.arrow{
	left: -10px;
}

.honorary .right.arrow{
	right: -10px;
}
.honorary .inner-container{
	margin-left: 0px;
}

.honorary .inner-container{
	height: auto;
}

.honorary.container .three.columns {
	width: 150px;
}
.honorary.container .board img{
	margin-bottom:0;
	display: block;
}


.sponsors{
	height: 400px;
	padding-top: 50px;
}
.sponsors .container .aol span{
	text-align: center;

}
.sponsors .container .three.columns{
	width: 150px;
	float: none;
	
}

	
}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


h3{
	text-align: center;
}

// MOBILE - LANDSCAPE - HEROBLURB



.heroblurb h3{
	text-align: center;
	font-size: 15px !important;
}
.heroblurb p{
	display: none;
}


.page .container .about img{
	margin-left: auto;
	width: 100%;
	margin-bottom: 30px;
}





.latestnews.container .four.columns{
	margin-left: 0px;
}


.honorary .inner-container{
	margin-left: 0px;
}

.honorary .inner-container{
	height: auto;
}

.honorary.container .three.columns {
	width: 210px;
}
.honorary.container .board img{
	margin-bottom:0;
	display: block;
}


.sponsors{
	height: 380px;
	padding-top: 50px;
}
.sponsors .container .aol span{
	text-align: center;

}
.sponsors .container .three.columns{
	width: 210px;
	float: none;
	
}




}







// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {



	
	// TABLET - PORTRAIT - HEROBLURB
	.heroblurb p{
		line-height: 1.1em;
		font-size: 15px;
	}




}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {



.heroblurb h3{
	font-size: 24px;
}


}




