@import "../variables.scss";




.banner { 
	position: relative; 
	overflow: auto;
	margin-bottom: - $herobuffer; 
	max-width: $wrapper-inner-width;
	// width: 100% !important;
}
.banner li { list-style: none; float: none }
.banner ul li { float: left;  }




.safari.herospacer img{
  visibility: hidden;
}



.herospacer{
	margin-bottom: -$herobuffer;
	position: relative;
}
.safari .hero{
  display: block;
}



a.unslider-arrow{
	top: 45%;
	position: absolute;
}
a.unslider-arrow img{
	width: 100%;
	float: none;
	display: block ;
margin-bottom: 0;
visibility: visible;
opacity: .5;
}

a.unslider-arrow img:hover{
	opacity: 1;
	transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear; 
	}

a.unslider-arrow.prev{
	right: 20px;
	margin-top: -2px;
}

 a.unslider-arrow.next{
	left: 20px;
}




.herospacer.left{
	margin-left: calc(-100% + 70px);
	float: left;
	
}

.herospacer.right{
	margin-right: calc(-100% + 70px);
	float:right;
	
}

.page{
	clear: both;
}
.herobuffer{
	clear:both;
}


// PAGE

.page{
	padding-bottom: 35px;
}






.container .hospitalphoto{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.maincopy{
	margin-bottom: 0px;
}

.maincopy p:nth-child(5){
	margin-bottom: 0;
}


.page .label{
	clear: both;
	text-align: center;
	background-color: #FAFAFA;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px;
}

.page .label i{
	font-style: italic;
}

.page .label p{
	margin: 0 auto;
	text-align:center;
}

// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

h3{
	text-align: center;
}

.maincopy{
	margin-bottom: 30px;
}
}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


h3{
	text-align: center;
}

.maincopy{
	margin-bottom: 30px;
}
}