@import "../variables.scss";

img.larry1{
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}



//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {




}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

