@import "../variables.scss";

.md{
	background-color: black;
}


.md .maincopy{
	color: white;
	 z-index: 5;
}
.md .maincopy h1{
	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}
.md .maincopy h3{
	color: white;
			 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.md .maincopy p{
		color: white;
	line-height: 1.8;
	font-size: 16px;
	font-family: "Helvetica Neue Light";
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    z-index: 5;
}

.md .maincopy a{
	color: $loh-blue;
	text-decoration: underline;

}
.md .label{
	position: absolute;
	color: white;

}

.md .label h4{
 font-family: "Helvetica Neue Medium";
 margin-bottom: 3px;
 font-size: 15px;
 font-weight: normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.md .label p{
	 font-size: 14px;
	 font-family: "Helvetica Neue Light Italic";
	 font-weight: normal;
	 line-height: 1.5;
 	margin-top: 3px;
 	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}








.md .choir{
	width: 100%;
}

.md .choirlabel.label{
	top: 500px;
	right: 4%;
	max-width: 200px;
	text-align: center;
}

.md .row.one{
	width: 100%;
	position:relative;
}


.md .row.one .spacer{
  display:block;
  float:right;
  clear:right;
  // background-color: green;
}
.spacer img{
  opacity: 0.0;
  width: 100%;
  height: 100%;
}

.md .row.one .spacer:nth-child(1){
	width: 54%;
	height: 250px;
}

.md .row.one .spacer:nth-child(2){
	width: 58%;
	height: 50px;
}

.md .row.one .spacer:nth-child(3){
	width: 64%;
	height: 100px;
}

.md .row.one .spacer:nth-child(4){
	width: 70%;
	height: 140px;
}
.md .row.one img.nice{
	position: absolute;
	right: 0px;
	width: 70%;
	top: 120px;
	z-index: 0;
}





.md .copy p{
	color: white;
	line-height: 1.8;
	font-size: 16px;
	font-family: "Helvetica Neue Light";
	font-weight: normal;
		 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;

}




.chuck.label {
	right: 4%;
	top: 200px;
	width: 250px;

}




.copy p{
	text-align: center;
}

.copy p strong{
	font-family: "Helvetica Neue Medium Italic";
	 font-weight: normal;
}

.md .first.copy{
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}





.md .row.two{
	position: relative;
}

.md .row.two .spacers{
	position: relative;
}
.md .row.two .spacer{
	width: 100%;
	height: auto;
}

.md .row.two .spacer img{
	width: 40%;
}
.md img.boikanyo{
	right: 15%;
	position: absolute;
	width: 40%;
	top: 0px;
}

.md .botlhale.label{
	top: 110px;
	right: 50%;
	text-align: center;
	width: 40%;
	z-index: 5;
}



.playcontrol {
color: white;
border: 1px solid #aaa;
width: 120px;
padding: 2px 10px 7px 10px;
cursor: pointer;
display: block;
color: #aaa;
text-decoration: none;
text-align: center;
background-color: transparent;
font-size: 20px;
margin-left: auto;
margin-right: auto;

}

.md .label .playcontrol p {
font: 20px "Oswald", Helvetica, Arial, sans-serif;
font-weight: 300;
color: #aaa;
display: inline;
margin: -5px 0 0 10px;
}


.playcontrol:moz-selection{
background-color:Transparent;
    color:#000;
    border:none;
}


.vidlightbox{
	position: fixed;
	height: 100%;
	width:100%;
	background-color: rgba(64,64,64, 0.5);
	display: none;
	z-index: 2000;
	top: 0;
	left: 0;
}

$aspect: 675px/1200px;
.vidlightbox .vidholder{
	position: fixed;
	width: 1200px;
	top: calc((100% - (1200px * #{$aspect}))/2);
	left: calc((100% - 1200px)/2);
	text-align: center;
}
.vidlightbox .vid{
	display: none;
	width: 1200px;
	height: calc(1200px * #{$aspect});
}

.vidlightbox a.closevideo{
	position: absolute;
	right: -30px;
	top: -30px;
	font-size: 30px;
	color: white;
			 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;


    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;


}

.vidlightbox a.closevideo:hover{
	color: $loh-blue;

}









.md .row.three .spacer img{
	width: 43%;
	margin-top: 80px;
}
.md img.vega{
	position: absolute;
	top: -130px;
	width: 33%;
}

.md .tata.label {
	top: 125px;
	left: 28%;
}



.md img.poe{
	position: absolute;
	top: 100px;
	width: 43%;
	right: 0;
}

.md .poelabel.label {
	top: 330px;
	right: 30%;
	text-align: center;
}



.md .second.copy{
	margin-top: 145px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

.md .second.copy p{
	font-size: 18px;
	font-family: "Helvetica Neue Light";
	font-weight: normal;
	}




.md .second.copy p strong{
	font-weight: 400;
	color: $loh-blue;
	font-style: normal;
}












.md .donatebuttonholder{
  text-align: center;
}
.md .donatebuttonholder  button{
  border-radius: 3px;
  padding-top: 4px;
  background-color: $loh-blue; 
  width: 90px;
  height: 32px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  font-size: 12px;

}





.md  .donatebuttonholder button:hover{
  background-color: rgb(74, 174, 57);
}










.md .powerfist{
	width: 100%;
	margin-top: -50px;
	display: block;
}






// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {


	.wrapper-content{
		text-align: center;
	}
		.spacers{
			display: none;
		}
		.md .maincopy, .md .maincopy p {
			text-align: center;
		}
		.md .maincopy{
			margin-bottom: 20px;
		}
		.md .maincopy a{
			display: inline;
		}

		.md .label{
			position: relative;
			top: 0;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


		.md .choirlabel.label{
			display: none;
		}


		.md .row.one img.nice{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 90%;
		}

		.md .row.one .chuck.label{
			right: 0;
			margin-top: 30px;
		}

		.md .row.one .chuck.label p{
			text-align: center;
			
		}




		.md .row.two img.boikanyo{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
		}

		.md .row.two .botlhale.label{
			right: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.two .botlhale.label p{
			text-align: center;
			
		}


			.vidlightbox .vidholder{
	width: 320px;
	top: calc((100% - (320px * #{$aspect}))/2);
	left: calc((100% - 320px)/2);
}
.vidlightbox .vid{
	width: 320px;
	height: calc(320px * #{$aspect});
}





		.md .row.three img.vega{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
			left: 20px;
		}

		.md .row.three .tata.label{
			left: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.three .tata.label p{
			text-align: center;
			
		}





		.md .row.three img.poe{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
			left: 0px;
		}

		.md .row.three .poelabel.label{
			left: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.three .poelabel.label p{
			text-align: center;
			
		}

		.md .second.copy{
			margin-top: 50px;
			
		}




		.md .powerfist{
			margin-top: 0px;
		}

		.md .no-p{
	display:none;
}

}


// MOBILE - LANDSCAPE

@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {



	.wrapper-content{
		text-align: center;
	}
		.spacers{
			display: none;
		}
		.md .maincopy, .md .maincopy p {
			text-align: center;
		}
		.md .maincopy{
			margin-bottom: 20px;
		}
		.md .maincopy a{
			display: inline;
		}

		.md .label{
			position: relative;
			top: 0;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


		.md .choirlabel.label{
			display: none;
		}


		.md .row.one img.nice{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 90%;
		}

		.md .row.one .chuck.label{
			right: 0;
			margin-top: 30px;
		}

		.md .row.one .chuck.label p{
			text-align: center;
			
		}




		.md .row.two img.boikanyo{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
		}

		.md .row.two .botlhale.label{
			right: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.two .botlhale.label p{
			text-align: center;
			
		}


		.vidlightbox .vidholder{
			width: 480px;
			top: calc((100% - (480px * #{$aspect}))/2);
			left: calc((100% - 480px)/2);
		}
		.vidlightbox .vid{
			width: 480px;
			height: calc(480px * #{$aspect});
		}





		.md .row.three img.vega{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
			left: 20px;
		}

		.md .row.three .tata.label{
			left: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.three .tata.label p{
			text-align: center;
			
		}





		.md .row.three img.poe{
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
			width: 80%;
			right: 0;
			left: 0px;
		}

		.md .row.three .poelabel.label{
			left: 0;
			margin-top: 30px;
			top: 0;
			width: 100%;
		}

		.md .row.three .poelabel.label p{
			text-align: center;
			
		}

		.md .second.copy{
			margin-top: 50px;
			
		}

		.md .powerfist{
			margin-top: 0px;
		}




.md .no-p{
	display:none;
}

}





// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

.vidlightbox .vidholder{
	width: 768px;
	top: calc((100% - (768px * #{$aspect}))/2);
	left: calc((100% - 768px)/2);
}
.vidlightbox .vid{
	width: 768px;
	height: calc(768px * #{$aspect});
}



.md .choirlabel.label{
	top: 400px;
}



}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {

.vidlightbox .vidholder{
	width: 1024px;
	top: calc((100% - (1024px * #{$aspect}))/2);
	left: calc((100% - 1024px)/2);
}
.vidlightbox .vid{
	width: 1024px;
	height: calc(1024px * #{$aspect});
}
	

}
