.md {
  background-color: black; }

.md .maincopy {
  color: white; }

.md .maincopy p {
  line-height: 1.5;
  text-align: left;
  font-size: 18px;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }

.Legacy_of_Hope_hosted_dignitaries__celebrities_ {
  font-size: 18px;
  line-height: 1.556;
  text-align: left;
  position: absolute;
  left: 122.625px;
  top: 822.574px;
  width: 429px;
  height: 213px;
  z-index: 48; }

.md .choir {
  width: 100%; }

.md .row.one {
  width: 100%;
  position: relative; }

.md .row.one .spacer {
  display: block;
  float: right;
  clear: right; }

.spacer img {
  opacity: 0.0;
  width: 100%;
  height: 100%; }

.md .row.one .spacer:nth-child(1) {
  width: 54%;
  height: 250px; }

.md .row.one .spacer:nth-child(2) {
  width: 58%;
  height: 50px; }

.md .row.one .spacer:nth-child(3) {
  width: 64%;
  height: 100px; }

.md .row.one .spacer:nth-child(4) {
  width: 70%;
  height: 140px; }

.md .row.one img.nice {
  position: absolute;
  right: 0px;
  width: 70%;
  top: 120px; }

.md .label {
  position: absolute;
  color: white; }

.md .label h4 {
  font-family: "Helvetica Neue";
  margin-bottom: 3px;
  font-size: 17px; }

.md .label p {
  font-size: 15px;
  font-family: "Helvetica Neue";
  line-height: 1.5;
  font-style: italic;
  margin-top: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.CHUCK_NICE_popular_comic_and_radio_personality_ {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 860.401px;
  top: 908.002px;
  z-index: 24; }

.md .copy p {
  color: white;
  line-height: 1.8;
  font-size: 16px;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }

.chuck.label {
  left: 68%;
  top: 200px; }

.copy p {
  text-align: center; }

.copy p strong {
  font-weight: initial;
  color: #358fe3; }

.md .first.copy {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.md .row.two {
  position: relative; }

.md .row.two .spacers {
  position: relative; }

.md .row.two .spacer {
  width: 100%;
  height: auto; }

.md .row.two .spacer img {
  width: 63%; }

.md img.boikanyo {
  right: -40px;
  position: absolute;
  width: 70%;
  top: 0px; }

.md .botlhale.label {
  top: 110px;
  right: 50%;
  text-align: center;
  width: 40%; }

.playcontrol {
  color: white;
  border: 1px solid #aaa;
  width: 120px;
  padding: 2px 10px 7px 10px;
  cursor: pointer;
  display: block;
  color: #aaa;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto; }

.md .label .playcontrol p {
  font: 20px "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #aaa;
  display: inline;
  margin: -5px 0 0 10px; }

.playcontrol:moz-selection {
  background-color: Transparent;
  color: #000;
  border: none; }

.vidlightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.5);
  display: none;
  z-index: 2000;
  top: 0;
  left: 0; }

.vidlightbox .vidholder {
  position: fixed;
  top: calc((100% - 315px)/2);
  left: calc((100% - 560px)/2);
  text-align: center; }

.vidlightbox .vid {
  display: none; }

.vidlightbox a.closevideo {
  text-align: center;
  font-size: 20px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-top: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200; }

.vidlightbox a.closevideo:hover {
  color: #358fe3; }

.md .row.three .spacer img {
  width: 43%;
  margin-top: 80px; }

.md img.vega {
  position: absolute;
  top: -80px;
  width: 33%; }

.md .tata.label {
  top: 175px;
  left: 28%; }

.md img.poe {
  position: absolute;
  top: 80px;
  width: 43%;
  right: 0; }

.md .poelabel.label {
  top: 310px;
  right: 45%;
  text-align: right; }

.md .second.copy {
  margin-top: 145px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }

.md .second.copy p {
  font-size: 18px;
  font-weight: 400; }

.md .donatebuttonholder {
  text-align: center; }

.md .donatebuttonholder button {
  border-radius: 3px;
  padding-top: 4px;
  background-color: #358fe3;
  width: 90px;
  height: 32px;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  font-size: 14px; }

.md .donatebuttonholder button:hover {
  background-color: #4aae39; }

.md .powerfist {
  width: 100%;
  margin-top: -50px; }
