.md {
  background-color: black; }

.wrapper-spotlight p {
  text-align: justify;
  font-family: "Helvetica Neue Thin";
  color: #e6e6e6;
  font-size: 19px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 0.4px; }

.md .maincopy {
  color: white;
  z-index: 5; }

.md .maincopy h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300; }

.md .maincopy h3 {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.md .maincopy p {
  text-align: justify;
  font-family: "Helvetica Neue Thin";
  color: #e6e6e6;
  font-size: 19px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 0.4px; }

.md .maincopy a {
  color: #358fe3;
  text-decoration: underline; }

.md .label {
  position: absolute;
  color: white; }

.md .label h4 {
  font-family: "Helvetica Neue";
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.md .label p {
  font-size: 14px;
  font-family: "Helvetica Neue Thin Italic";
  line-height: 1.5;
  margin-top: 3px;
  color: #c8c8c8; }

.md .choir {
  width: 100%; }

.md .choirlabel.label {
  top: 500px;
  right: 4%;
  max-width: 200px;
  text-align: center;
  z-index: 5; }

.md .row.one {
  width: 100%;
  position: relative; }

.md .row.one .spacer {
  display: block;
  float: right;
  clear: right; }

.spacer img {
  opacity: 0.0;
  width: 100%;
  height: 100%; }

.md .row.one .spacer:nth-child(1) {
  width: 60%;
  height: 250px; }

.md .row.one .spacer:nth-child(2) {
  width: 64%;
  height: 50px; }

.md .row.one .spacer:nth-child(3) {
  width: 70%;
  height: 100px; }

.md .row.one .spacer:nth-child(4) {
  width: 76%;
  height: 190px; }

.md .row.one img.nice {
  position: absolute;
  right: 0px;
  width: 70%;
  top: 120px;
  z-index: 0; }

.md .copy p {
  font-family: "Helvetica Neue Thin";
  color: #e6e6e6;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  letter-spacing: 0.5px; }

.chuck.label {
  right: 4%;
  top: 200px;
  width: 250px; }

.copy p {
  text-align: center; }

.copy p strong {
  font-family: "Helvetica Neue Medium Italic";
  font-weight: normal; }

.md .first.copy {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.md .row.two {
  position: relative; }

.md .row.two .spacers {
  position: relative; }

.md .row.two .spacer {
  width: 100%;
  height: auto; }

.md .row.two .spacer img {
  width: 40%; }

.md img.boikanyo {
  right: 15%;
  position: absolute;
  width: 40%;
  top: 0px; }

.md .botlhale.label {
  top: 110px;
  right: 50%;
  text-align: center;
  width: 40%;
  z-index: 5; }

.playcontrol {
  color: white;
  border: 1px solid #aaa;
  width: 120px;
  padding: 2px 10px 7px 10px;
  cursor: pointer;
  display: block;
  color: #aaa;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto; }

.md .label .playcontrol p {
  font: 20px "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #aaa;
  display: inline;
  margin: -5px 0 0 10px; }

.playcontrol:moz-selection {
  background-color: Transparent;
  color: #000;
  border: none; }

.vidlightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.5);
  display: none;
  z-index: 2000;
  top: 0;
  left: 0; }

.vidlightbox .vidholder {
  position: fixed;
  width: 1200px;
  top: calc((100% - (1200px * 0.5625))/2);
  left: calc((100% - 1200px)/2);
  text-align: center; }

.vidlightbox .vid {
  display: none;
  width: 1200px;
  height: calc(1200px * 0.5625); }

.vidlightbox a.closevideo {
  position: absolute;
  right: -30px;
  top: -30px;
  font-size: 30px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200; }

.vidlightbox a.closevideo:hover {
  color: #358fe3; }

.md .row.three .spacer img {
  width: 43%;
  margin-top: 80px; }

.md img.vega {
  position: absolute;
  top: -130px;
  width: 33%; }

.md .tata.label {
  top: 125px;
  left: 28%; }

.md img.poe {
  position: absolute;
  top: 100px;
  width: 43%;
  right: 0; }

.md .poelabel.label {
  top: 330px;
  right: 30%;
  text-align: center; }

.md .second.copy {
  margin-top: 145px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }

.md .second.copy p {
  font-size: 18px;
  font-family: "Helvetica Neue Thin";
  font-weight: normal; }

.md .second.copy p strong {
  font-weight: 400;
  color: #358fe3;
  font-style: normal; }

.md .powerfist {
  width: 100%;
  margin-top: -50px;
  display: block; }

@media only screen and (max-width: 479px) {
  .wrapper-content {
    text-align: center; }

  .spacers {
    display: none; }

  .md .maincopy, .md .maincopy p {
    text-align: center; }

  .md .maincopy {
    margin-bottom: 20px; }

  .md .maincopy a {
    display: inline; }

  .md img:not(.logo, .f2 img) {
    margin-top: 60px; }

  .md .label {
    position: relative;
    top: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .md .label h4 {
    font-size: 13px; }

  .md .label p {
    font-size: 12px; }

  .md .choirlabel.label {
    display: none; }

  .md .row.one img.nice {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 90%; }

  .md .row.one .chuck.label {
    right: 0;
    margin-top: 30px; }

  .md .row.one .chuck.label p {
    text-align: center; }

  .md .row.two img.boikanyo {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0; }

  .md .row.two .botlhale.label {
    right: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.two .botlhale.label p {
    text-align: center; }

  .vidlightbox .vidholder {
    width: 320px;
    top: calc((100% - (320px * 0.5625))/2);
    left: calc((100% - 320px)/2); }

  .vidlightbox .vid {
    width: 320px;
    height: calc(320px * 0.5625); }

  .vidholder a.closevideo {
    position: relative;
    text-align: center;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 40px; }

  .md .row.three img.vega {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0;
    left: 20px; }

  .md .row.three .tata.label {
    left: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.three .tata.label p {
    text-align: center; }

  .md .row.three img.poe {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0;
    left: 0px; }

  .md .row.three .poelabel.label {
    left: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.three .poelabel.label p {
    text-align: center; }

  .md .second.copy {
    margin-top: 50px; }

  .md .powerfist {
    margin-top: 0px; }

  .md .no-p {
    display: none; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper-content {
    text-align: center; }

  .spacers {
    display: none; }

  .md .maincopy, .md .maincopy p {
    text-align: center; }

  .md .maincopy {
    margin-bottom: 20px; }

  .md .maincopy a {
    display: inline; }

  .md .label {
    position: relative;
    top: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .md .choirlabel.label {
    display: none; }

  .md .row.one img.nice {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 90%; }

  .md .row.one .chuck.label {
    right: 0;
    margin-top: 30px; }

  .md .row.one .chuck.label p {
    text-align: center; }

  .md .row.two img.boikanyo {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0; }

  .md .row.two .botlhale.label {
    right: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.two .botlhale.label p {
    text-align: center; }

  .vidlightbox .vidholder {
    width: 480px;
    top: calc((100% - (480px * 0.5625))/2);
    left: calc((100% - 480px)/2); }

  .vidlightbox .vid {
    width: 480px;
    height: calc(480px * 0.5625); }

  .md .row.three img.vega {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0;
    left: 20px; }

  .md .row.three .tata.label {
    left: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.three .tata.label p {
    text-align: center; }

  .md .row.three img.poe {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 80%;
    right: 0;
    left: 0px; }

  .md .row.three .poelabel.label {
    left: 0;
    margin-top: 30px;
    top: 0;
    width: 100%; }

  .md .row.three .poelabel.label p {
    text-align: center; }

  .md .second.copy {
    margin-top: 50px; }

  .md .powerfist {
    margin-top: 0px; }

  .md .no-p {
    display: none; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .vidlightbox .vidholder {
    width: 768px;
    top: calc((100% - (768px * 0.5625))/2);
    left: calc((100% - 768px)/2); }

  .vidlightbox .vid {
    width: 768px;
    height: calc(768px * 0.5625); }

  .md .choirlabel.label {
    top: 400px; }

  .md .chuck.label {
    top: 520px;
    right: 10%;
    text-align: right; } }
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .vidlightbox .vidholder {
    width: 1024px;
    top: calc((100% - (1024px * 0.5625))/2);
    left: calc((100% - 1024px)/2); }

  .vidlightbox .vid {
    width: 1024px;
    height: calc(1024px * 0.5625); } }
