@import "../variables.scss";



.slider img{
	width: 100%;
}




.safari.herospacer img{
  visibility: hidden;
}

.sidebar .sidebox.execsumbox {
	display: block;
}


.herospacer{
	margin-bottom: -$herobuffer;
	position: relative;
}
.safari .hero{
  display: block;
}





.herospacer.left{
	margin-left: calc(-100% + 70px);
	float: left;
	
}

.herospacer.right{
	margin-right: calc(-100% + 70px);
	float:right;
	
}

.page{
	clear: both;
}
.herobuffer{
	clear:both;
}


// PAGE

.page{
	padding-bottom: 35px;
}






.container .hospitalphoto{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.maincopy{
	margin-bottom: 0px;
}

.maincopy p:nth-child(5){
	margin-bottom: 0;
}


.page .label{
	clear: both;
	text-align: center;
	background-color: #FAFAFA;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px;
}

.page .label i{
	font-style: italic;
}

.page .label p{
	margin: 0 auto;
	text-align:center;

}




// THERMOMETER

.herospacer{
	margin-bottom: 0;
}
.herobuffer.therm{
	margin-top: 15px;
	height: 70px;
	background-color: rgba(21,21,21, 1.0);
	opacity: 0.99;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	vertical-align:middle;
			  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
}




.therm .progressbar{
	height: 30px;
	width: 60%;
	background-color: white;
	// border: 1px solid $loh-gray;
	background:  linear-gradient(to right, $loh-blue 50%, white 50%); 
	display: inline-block;
	display: table-cell;
	border-radius: 15px;
		  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  overflow: hidden;
  position: relative;
  padding-right: 540px;
  box-sizing:border-box;
}

.therm .progressbar .rise{
	width: 100%;
	// position: absolute;
	height: 30px;
	background-color: $loh-green;
}


$shadow: $loh-blue;
.therm  h3{
	color: white;
	font-weight: 200;

text-shadow: -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow, 0 -1px $shadow;
		//   transition: all 0.3s linear;
  // -moz-transition: all 0.3s linear;
  // -webkit-transition: all 0.3s linear;
  // -o-transition: all 0.3s linear; 
}


.therm .words{
	text-align: center;


}



.therm .givenow{
	text-align: center;
	background-color: $loh-blue;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 6px;
	
  position: relative;
}
.therm .givenow a{
	font-family: "Open Sans";
	color: white;
	width: 100%;
	padding-right: 33px;
	padding-left: 33px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.therm .givenow:hover{

	background-color: $loh-red !important;
}

.herobuffer.therm:hover{

& .progressbar{
	 padding-right: 270px;
}

& h3{

text-shadow: -1px 0 $loh-green, 0 1px $loh-green, 1px 0 $loh-green, 0 -1px $loh-green;
text-shadow: none;
color: $loh-green;
}

& .givenow{
	background-color: $loh-green;
		//   transition: all 0.3s linear;
  // -moz-transition: all 0.3s linear;
  // -webkit-transition: all 0.3s linear;
  // -o-transition: all 0.3s linear; 
}

}




// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

h3{
	text-align: center;
}

.slider .a img, .herospacer img{
	content: url('../../img/hospital_hero1_pp.jpg');
}
.slider .b img{
	content: url('../../img/hospital_hero2_pp.jpg');
}
.slider .c img{
	content: url('../../img/hospital_hero3_pp.jpg');
}

.maincopy p:nth-child(5){
	margin-bottom: 30px;
}
}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


.maincopy p:nth-child(5){
	margin-bottom: 30px;
}
h3{
	text-align: center;
}

.maincopy{
	margin-bottom: 30px;
}
}