.page {
  padding-bottom: 35px; }

.gray {
  background-color: #EDEFF2; }

.maincopy {
  text-align: center; }

.maincopy h1 {
  text-align: left; }

.sidebar .sidebox.execsumbox {
  display: block; }

.container .missionphotos {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 65px; }

.missioncopy1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  position: relative; }

.missioncopy1 h4 {
  font-size: 20px;
  font-weight: 400;
  color: #646464;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 20px; }

.missioncopy1 h5 {
  font-family: "Helvetica Neue";
  font-size: 14px;
  margin-bottom: 0px; }

.missionimg1 {
  width: 100%;
  height: auto;
  display: block;
  position: relative; }

.downloads {
  width: calc(100% - 80px);
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  position: relative; }

.downloads .links {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.downloads .links h5 {
  display: inline;
  font-family: 'Oswald', sans-serif;
  color: #646464;
  font-size: 15px;
  font-weight: 400;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: middle; }

.downloads .links a {
  font-size: 15px;
  color: #358fe3;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 2.8em;
  margin-right: 8px;
  margin-left: 8px; }

.downloads .links a:hover {
  color: #646464; }

@media only screen and (max-width: 479px) {
  .page {
    padding-top: 40px; }

  .missioncopy1 h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  .missionimg1 {
    margin-bottom: -20px; }

  .mission2 {
    padding-top: 20px; }

  .mission2 h1 {
    float: none; }

  .missionimg2 {
    width: 100%; }

  .mission2 h4 {
    font-family: "Oswald";
    clear: none;
    text-align: center;
    font-size: 14px; }

  .downloads {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; }

  .downloads .links {
    width: 320px;
    margin: 0 auto;
    position: relative; }

  .downloads a {
    line-height: 1.8em;
    text-align: center;
    display: block; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page {
    padding-top: 40px; }

  .missioncopy1 h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  .missionimg1 {
    margin-bottom: -20px; }

  .mission2 {
    padding-top: 20px; }

  .mission2 h1 {
    float: none; }

  .missionimg2 {
    width: 100%; }

  .mission2 h4 {
    font-family: "Oswald";
    clear: none;
    text-align: center;
    font-size: 17px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .downloads .dl {
    line-height: 1em;
    display: block;
    margin-bottom: 10px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .downloads .dl {
    line-height: 1em;
    display: block;
    margin-bottom: 10px; } }
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .downloads h5 {
    font-size: 14px; }

  .downloads a {
    font-size: 14px; } }
