@import "../variables.scss";


// PAGE

.page{
	padding-bottom: 35px;
}
.gray{
	background-color: #EDEFF2;
}
.missioncopy1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
	position: relative;
}
.missioncopy1 h4{
	font-size: 20px;
font-weight: 400;
color: #646464;
margin-bottom: 0px;
}
.missioncopy1 h5{
	font-family: "Open Sans";
	font-size: 14px;
	margin-bottom: 0px;
}
.missionimg1{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}





// HOSPITAL
.mission2 h1{
	float:left;
}
.missionimg2{
	float: right;
}
.mission2 h4{
	clear:left;
}




// DOWNLOADS

.downloads{
	width: calc(100% - 80px);
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
	text-align: center;
	position: relative;
}
.downloads .links{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.downloads h5{
	display:inline;
	font-family: 'Oswald', sans-serif;
	color: #646464;
	font-size: 15px;
	font-weight: 400;
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: middle;

}
.downloads a{
	font-size: 15px;
	color: #358fe3;
	vertical-align: middle;
	white-space:nowrap;
	line-height: 2.8em;
	margin-right: 8px;
	margin-left: 8px;
}
.downloads a:hover{
	color: #646464;
}




// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

	
	// MOBILE - PORTRAIT - PAGE
	.page {
		padding-top: 40px;
		
	}
	.missioncopy1 h4{
		font-size: 16px;
		margin-bottom: 20px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}

	.missionimg1{
		margin-bottom: -20px;
	}



// MOBILE - PORTRAIT - HOSPITAL
	.mission2{
		padding-top: 20px;
	}
	.mission2 h1{
		float: none;
	}
	.missionimg2{
		width: 100%;
	}

	.mission2 h4{
		font-family: "Oswald";
		clear: none;
		text-align: center;
		font-size: 14px;
	}



	// MOBILE - PORTRAIT - DOWNLOADS

	.downloads{
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.downloads .links {
		width: $phone-portrait;
		margin: 0 auto;
		position: relative;
	}
	.downloads a{
		line-height: 1.8em;
		text-align:center;
		display: block;
	}


}


// MOBILE - LANDSCAPE

@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


// MOBILE - LANDSCAPE - PAGE

	.page {
		padding-top: 40px;
		
	}
	.missioncopy1 h4{
		font-size: 16px;
		margin-bottom: 20px;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}

	.missionimg1{
		margin-bottom: -20px;
	}


// MOBILE - LANDSCAPE - HOSPITAL
	.mission2{
		padding-top: 20px;
	}
	.mission2 h1{
		float: none;
	}
	.missionimg2{
		width: 100%;
	}

	.mission2 h4{
		font-family: "Oswald";
		clear: none;
		text-align: center;
		font-size: 17px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}


// MOBILE - LANDSCAPE - DOWNLOADS
	.downloads .dl {
		line-height: 1em;
		display: block;
		margin-bottom: 10px;
	}

}





// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


	// TABLET - PORTRAIT - DOWNLOADS

	.downloads .dl {
		line-height: 1em;
		display: block;
		margin-bottom: 10px;
	}





}


// TABLET - LANDSCAPE
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {


	// TABLET - LANDSCAPE - DOWNLOADS

	.downloads h5{
		font-size: 14px;
	}

	.downloads a{
		font-size: 14px;
	}


}
