.slider img {
  width: 100%; }

.safari.herospacer img {
  visibility: hidden; }

.sidebar .sidebox.execsumbox {
  display: block; }

.herospacer {
  margin-bottom: -15px;
  position: relative; }

.safari .hero {
  display: block; }

.herospacer.left {
  margin-left: calc(-100% + 70px);
  float: left; }

.herospacer.right {
  margin-right: calc(-100% + 70px);
  float: right; }

.page {
  clear: both; }

.herobuffer {
  clear: both; }

.page {
  padding-bottom: 35px; }

.container .hospitalphoto {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px; }

.maincopy {
  margin-bottom: 0px; }

.maincopy p:nth-child(5) {
  margin-bottom: 0; }

.page .label {
  clear: both;
  text-align: center;
  background-color: #FAFAFA;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px; }

.page .label i {
  font-style: italic; }

.page .label p {
  margin: 0 auto;
  text-align: center; }

.herospacer {
  margin-bottom: 0; }

.herobuffer.therm {
  margin-top: 15px;
  height: 70px;
  background-color: #151515;
  opacity: 0.99;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }

.therm .progressbar {
  height: 30px;
  width: 60%;
  background-color: white;
  background: linear-gradient(to right, #358fe3 50%, white 50%);
  display: inline-block;
  display: table-cell;
  border-radius: 15px;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; }

.therm .progressbar .rise {
  width: 0;
  height: 30px;
  background-color: #4aae39;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }

.therm h3 {
  color: white;
  font-weight: 200;
  text-shadow: -1px 0 #358fe3, 0 1px #358fe3, 1px 0 #358fe3, 0 -1px #358fe3; }

.therm .words {
  text-align: center; }

.therm .givenow {
  text-align: center;
  background-color: #358fe3;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 6px;
  position: relative; }

.therm .givenow a {
  font-family: "Open Sans";
  color: white;
  width: 100%;
  padding-right: 33px;
  padding-left: 33px;
  padding-top: 5px;
  padding-bottom: 5px; }

.therm .givenow:hover {
  background-color: #ff6666 !important; }

.herobuffer.therm:hover .progressbar .rise {
  width: 50%; }
.herobuffer.therm:hover h3 {
  text-shadow: -1px 0 #4aae39, 0 1px #4aae39, 1px 0 #4aae39, 0 -1px #4aae39;
  text-shadow: none;
  color: #4aae39; }
.herobuffer.therm:hover .givenow {
  background-color: #4aae39; }

.head {
  text-align: center; }

.head h1 {
  margin-bottom: 0px; }

.head p {
  margin-top: 10px;
  padding-top: 10px;
  font-family: "Helvetica Neue Thin Italic";
  font-size: 24px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.2;
  border-top: 1px solid #358fe3; }

.line p:last-child {
  font-size: 20px; }

.page.mission.one {
  background-color: #f2f3f3; }

.page.mission.one .fundraiser, .page.mission.one .donatebox {
  display: none; }

.page.mission.one .execsumbox {
  margin-top: 35px;
  padding-top: 50px;
  padding-bottom: 50px; }

.page.mission.two .execsumbox {
  display: none; }

.page.mission.one {
  padding-bottom: 180px; }

.missionphotos {
  margin-top: -160px;
  margin-bottom: 130px;
  width: 110%;
  margin-left: -5%; }

@media only screen and (max-width: 479px) {
  h3 {
    text-align: center; }

  .slider .a img, .herospacer img {
    content: url("../../img/mission_hero_pp.jpg"); }

  .slider .b img, .herospacer img {
    content: url("../../img/hospital_hero1_pp.jpg"); }

  .slider .c img {
    content: url("../../img/hospital_hero2_pp.jpg"); }

  .slider .d img {
    content: url("../../img/hospital_hero3_pp.jpg"); }

  .maincopy p:nth-child(5) {
    margin-bottom: 30px; }

  .herobuffer.therm {
    height: 205px; }

  .therm .progressbar {
    margin-top: 10px; }

  .therm h3 {
    margin-top: 20px;
    font-size: 35px; }

  .therm .givenow {
    margin-top: 5px;
    background-color: #151515; }

  .therm .givenow a {
    background-color: #358fe3;
    border-radius: 6px; }

  .therm .givenow:hover {
    background-color: #151515 !important; }

  .therm .givenow a:hover {
    background-color: #ff6666 !important; }

  .herobuffer.therm:hover .givenow {
    background-color: #151515; }
  .herobuffer.therm:hover .givenow a {
    background-color: #4aae39; }

  .head p {
    font-size: 19px;
    text-align: center; }

  .page.mission.one {
    padding-bottom: 40px; }

  .missionphotos {
    margin-top: -100px;
    margin-bottom: 60px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .maincopy p:nth-child(5) {
    margin-bottom: 30px; }

  h3 {
    text-align: center; }

  .maincopy {
    margin-bottom: 30px; }

  .herobuffer.therm {
    height: 205px; }

  .therm .progressbar {
    margin-top: 10px; }

  .therm h3 {
    margin-top: 20px;
    font-size: 35px; }

  .therm .givenow {
    margin-top: 5px;
    background-color: #151515; }

  .therm .givenow a {
    background-color: #358fe3;
    border-radius: 6px; }

  .therm .givenow:hover {
    background-color: #151515 !important; }

  .therm .givenow a:hover {
    background-color: #ff6666 !important; }

  .herobuffer.therm:hover .givenow {
    background-color: #151515; }
  .herobuffer.therm:hover .givenow a {
    background-color: #4aae39; }

  .head h1 {
    font-size: 22px; }

  .head p {
    font-size: 19px;
    text-align: center; }

  .page.mission.one {
    padding-bottom: 80px; }

  .missionphotos {
    margin-top: -100px;
    margin-bottom: 60px; }

  .maincopy h1 {
    font-size: 22px; }

  .maincopy h3 {
    font-size: 18px; } }
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .therm .givenow a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }

  .head h1 {
    font-size: 35px; }

  .page.mission.one {
    padding-bottom: 130px; }

  .missionphotos {
    width: 96%;
    margin-left: 2%;
    margin-top: -130px;
    margin-bottom: 100px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  .therm h3 {
    font-size: 24px; } }
