@import "../variables.scss";



.slider img{
	width: 100%;
}




.safari.herospacer img{
  visibility: hidden;
}

.sidebar .sidebox.execsumbox {
	display: block;
}


.herospacer{
	margin-bottom: -$herobuffer;
	position: relative;
}
.safari .hero{
  display: block;
}





.herospacer.left{
	margin-left: calc(-100% + 70px);
	float: left;
	
}

.herospacer.right{
	margin-right: calc(-100% + 70px);
	float:right;
	
}

.page{
	clear: both;
}
.herobuffer{
	clear:both;
}


// PAGE

.page{
	padding-bottom: 35px;
	padding-top: 0;
}






.container .hospitalphoto{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.maincopy{
	margin-bottom: 0px;
}

.maincopy p:nth-child(5){
	margin-bottom: 0;
}


.page .label{
	clear: both;
	text-align: center;
	background-color: #FAFAFA;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px;
}

.page .label i{
	font-style: italic;
}

.page .label p{
	margin: 0 auto;
	text-align:center;

}




// THERMOMETER

.herospacer{
	margin-bottom: 0;
}

.herobuffer.therm{
	margin-bottom: 64px;
	z-index: 5;
	margin-top: 10px;
	height: 70px;
	background-color: rgba(21,21,21, 1.0);
	opacity: 0.99;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	vertical-align:middle;
			  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
}




.therm .progressbar{
	height: 30px;
	width: 60%;
	background-color: white;
	// border: 1px solid $loh-gray;
	background:  linear-gradient(to right, $loh-blue 50%, white 50%); 
	display: inline-block;
	display: table-cell;
	border-radius: 15px;
		  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  overflow: hidden;
  position: relative;
  // padding-right: 540px;
  box-sizing:border-box;
}

.therm .progressbar .rise{
	width: 0;
	// position: absolute;
	height: 30px;
	background-color: $loh-green;
			  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}


$shadow: $loh-blue;
.therm  h3{
	color: white;
	font-weight: 200;

text-shadow: -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow, 0 -1px $shadow;
		//   transition: all 0.3s linear;
  // -moz-transition: all 0.3s linear;
  // -webkit-transition: all 0.3s linear;
  // -o-transition: all 0.3s linear; 
}


.therm .words{
	text-align: center;


}



.therm .givenow{
	text-align: center;
	background-color: $loh-blue;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 6px;
	
  position: relative;
}
.therm .givenow a{
	font-family: "Open Sans";
	color: white;
	width: 100%;
	padding-right: 33px;
	padding-left: 33px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.therm .givenow:hover{

	background-color: $loh-red !important;
}

.herobuffer.therm:hover{

& .progressbar .rise{
	 width: 50%;
}

& h3{

text-shadow: -1px 0 $loh-green, 0 1px $loh-green, 1px 0 $loh-green, 0 -1px $loh-green;
text-shadow: none;
color: $loh-green;
}

& .givenow{
	background-color: $loh-green;
		//   transition: all 0.3s linear;
  // -moz-transition: all 0.3s linear;
  // -webkit-transition: all 0.3s linear;
  // -o-transition: all 0.3s linear; 
}

}



.head{
	text-align: center;
}

.head h1{
	margin-bottom: 0px;
	
}

.head p{
	margin-top: 10px;;
	padding-top: 10px;
	font-family: "Helvetica Neue Thin Italic";
	font-size: 24px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.2;
	border-top: 1px solid $loh-blue;
}

.line p:last-child{
	// font-size: 22px;
	// font-weight:bold;
	font-size: 20px;
	// text-align: center;
}

// .line p{
// 	text-align: center;
// 	font-family: "Helvetica Neue Light";
// 	font-size: 20px;
// }


.page.mission.one{
	background-color: $loh-gray;
}

.page.mission.one .fundraiser, .page.mission.one .donatebox{
	display: none;

}

.page.mission.one .execsumbox{
	margin-top: 35px;
	padding-top: 50px;
	padding-bottom: 50px;

}

.page.mission.two .execsumbox{
	display: none;
}

.page.mission.one{
	padding-bottom: 180px;
}

.missionphotos{
	margin-top: -100px;
	margin-bottom: 130px;
	width: 110%;
	margin-left: -5%;
}



// MOBILE - PORTRAIT
@media only screen 
and (max-width: $phone-landscape - 1px)  {

h3{
	text-align: center;
}

.slider .a img, .herospacer img{
	content: url('../../img/mission_hero_pp.jpg');
}
.slider .b img, .herospacer img{
	content: url('../../img/hospital_hero1_pp.jpg');
}
.slider .c img{
	content: url('../../img/hospital_hero2_pp.jpg');
}
.slider .d img{
	content: url('../../img/hospital_hero3_pp.jpg');
}

.maincopy p:nth-child(5){
	margin-bottom: 30px;
}




.herobuffer.therm{
	// margin-top: 15px;
	height: 205px;
	
}



.therm .progressbar{
	margin-top: 10px;
}

$shadow: $loh-blue;
.therm  h3{
	margin-top: 20px;
	font-size: 35px;

}

.therm .givenow{
	margin-top: 5px;
	background-color: $loh-black;
}

.therm .givenow a{
	background-color: $loh-blue;
	border-radius: 6px;
}


.therm .givenow:hover{

	background-color: $loh-black !important;
}

.therm .givenow a:hover{

	background-color: $loh-red !important;
}

.herobuffer.therm:hover{

& .givenow{
	background-color: $loh-black; 
}

& .givenow a{
	background-color: $loh-green; 
}

}



.head p{
	font-size: 19px;
	text-align: center;

}



.page.mission.one{
	padding-bottom: 40px;
}

.missionphotos{
	margin-top: -30px;
	margin-bottom: 60px;
}


}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {


.maincopy p:nth-child(5){
	margin-bottom: 30px;
}
h3{
	text-align: center;
}

.maincopy{
	margin-bottom: 30px;
}



.herobuffer.therm{
	// margin-top: 15px;
	height: 205px;
	
}



.therm .progressbar{
	margin-top: 10px;
}

$shadow: $loh-blue;
.therm  h3{
	margin-top: 20px;
	font-size: 35px;

}

.therm .givenow{
	margin-top: 5px;
	background-color: $loh-black;
}

.therm .givenow a{
	background-color: $loh-blue;
	border-radius: 6px;
}


.therm .givenow:hover{

	background-color: $loh-black !important;
}

.therm .givenow a:hover{

	background-color: $loh-red !important;
}

.herobuffer.therm:hover{

& .givenow{
	background-color: $loh-black; 
}

& .givenow a{
	background-color: $loh-green; 
}

}



.head h1{
	font-size: 22px;
}

.head p{
	font-size: 19px;
	text-align: center;
}



.page.mission.one{
	padding-bottom: 80px;
}

.missionphotos{
	margin-top: -45px;
	margin-bottom: 60px;
}

.maincopy h1{
	font-size: 22px;
}

.maincopy h3{
	font-size: 18px;
}



}



/* iPads (portrait) ----------- */
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {

.therm .givenow a{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.head h1{
	font-size:35px;
}


.page.mission.one{
	padding-bottom: 130px;
}
.missionphotos{
	width: 96%;
	margin-left: 2%;
	margin-top:-70px;
	margin-bottom: 100px;

}

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width : $tablet-landscape) 
and (max-width : $desktop - 1px) {

.therm h3{
	font-size: 24px;
}


}



