@import "../variables.scss";





.press {
	padding-bottom: 54px;
}

.press .top{
	border-bottom: 1px solid $loh-blue;
	padding-bottom: 4px;
	vertical-align: bottom;
	position: relative;
	margin-bottom: 70px;
}

.press .top h1{
	text-align: left;
	display: inline-block;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-bottom: 5px;


}

.press .top h2{
	font-size: 20px;
	text-transform: lowercase;
	font-family: "Helvetica Neue Light";
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 5px;
}




.latestpress{
	margin-bottom: 40px;
}

.latestpress .clickortap{
	font-size: 15px;
	font-style: italic;
	margin-top: 0;
	text-align: center;
	clear: both;
		text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.latestpress .clickortap.one{
	display: none;
}




.latestpress  .card{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.latestpress  .card:nth-child(3n){
	margin-left: 30px;
	margin-right: 30px;
}
$cardpadding: 0px;
.container .latestpress a{
	padding: $cardpadding;
	position: relative;
	box-sizing:border-box;
	border-radius: 5px;	
}


.latestpress a .stretchy-wrapper{
	width: 100%;
	height: 0px;
	padding-bottom: 74%;
	margin-bottom: 24px;
	overflow: hidden;
	border-radius: 6px;
}

.latestpress a img{
	width: 100%;
    top: 0; 
    left: 0; 
    right: 0;


}
.latestpress a h5{
	font-size: 17px;
  font-family: "Open Sans";
  line-height: 1.375;
  color: rgb( 31, 34, 41 );
	text-align: left;
	transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 400;
  // min-height: 2.375em;
}



.latestpress a p{
	color: black;
	font-size: 12px;
  font-family: "Open Sans";
  line-height: 1.475;
  // margin-right: 40px;
  text-align: justify;
	transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
  margin-bottom: 20px;
  margin-top: 0px;
}	







.latestpress a:hover p, .latestpress a:hover h5{
	color: $loh-blue;
}


.latestpress .card .bottom{
	height: 30px;
	line-height: 30px;
}

.latestpress .card .bottom span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: right;
  width: 100%;

}
.latestpress .card .date{
	float: left;
	color: rgb(128,128,128); 
}
.latestpress .card .likes{
	float: right;
	display:inline-block;
	color: rgb(128,128,128); 
}
.latestpress a .bottom span p{
	margin-right: 0;
	margin-top: 3px;
}





// MOBILE - PORTRAIT 
@media only screen 
and (max-width: $phone-landscape - 1px)  {
	



	// MOBILE - PORTRAIT - PAGE
	.page {
		text-align:center;
	}
.press .top{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 27px;
	margin-bottom: 40px;
}
.press .top h1{
	display: block;
	text-align:center;
	font-size: 35px;
}
.press .top h2{
	display: none;
}

.latestpress.container .four.columns{
	margin-left: 0px;
}

.latestpress .clickortap.one{
	display: block;
}
.latestpress .clickortap.two{
	display: none;
}


.latestpress h4{
	margin-bottom: 0;
	padding-bottom: 5px;
}

}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {



// MOBILE - LANDSCAPE - PAGE
.page {
	text-align:center;
}

.press .top{
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 27px;
	margin-bottom: 40px;
}

.press .top h1{
	display: block;
	text-align:center;
	font-size: 35px;
}
.press .top h2{
	display: none;
}

.latestpress.container .four.columns{
	margin-left: 0px;
}

.latestpress .clickortap.one{
	display: block;
}
.latestpress .clickortap.two{
	display: none;
}

.latestpress h4{
	margin-bottom: 0;
	padding-bottom: 5px;
}
}



// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px){

.press .top{
	max-width: 728px;
	margin-right: auto;
	margin-left: auto;

}
	.press .top h1{
		font-size: 35px;
	}

.latestpress  .card:nth-child(3n-1){
	margin-left: 20px;
}
.latestpress  .card:nth-child(3n){
	margin-left: 10px;
	margin-right: 10px;
}

	}




