@import "../variables.scss";

img.ruby1{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
}
img.ruby2{
	width: 100%;
	border-radius: 2px;
}
div.ruby2{
	max-width: 370px;
	width: 100%;
	float: left;
	margin-right: 35px;
	margin-bottom: 30px;
	margin-top: 6px;
}

div.ruby2 .caption{
	margin-bottom: 0;
	font-size: 14px;
}




//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {

	img.banner{
		content: url('../../img/ruby_hero_pp.jpg');
	}
	div.ruby2{
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	img.ruby2{
		margin-left: auto;
		margin-right: auto;
	}

}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

	img.ruby2{
		float:none;
		text-align: center;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	div.ruby2{
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	img.ruby2{
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}



	

}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

