@import "../components/base";
@import "../components/navbar";
@import "../components/hero";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,Light);
@import url(http://fonts.googleapis.com/css?family=Oswald);



#herocontainer{
	width: 100%;
	margin: 0px 0px 0px 0px;
}

$blurb-height: 170px;
#blurbcontainer{
	position: relative;
	bottom: -300px;
	margin-top: -$blurb-height;
	height: 0px;
	z-index: 10;
}

#blurbcontainer h1{
	color: white;
  font-size: 24px;
  font-family: "Oswald";
  text-transform: uppercase;
}


#blurbcontainer p{
	color: white;
	  font-size: 16px;
  font-family: "Open Sans";
}


#sibongileimg1{
	margin: 0px 0px 20px 60px;
}

#sibongileimg2{
	margin: 50px 0px 60px 0px;
}


