.wrapper {
  overflow-x: hidden; }

.hero, .herospacer {
  overflow: hidden; }

.hero img, .herospacer img {
  width: 75%;
  float: right; }

.page .container img {
  margin-bottom: 20px; }

.page a {
  white-space: nowrap; }

.copy {
  margin-bottom: 64px; }

@media only screen and (max-width: 479px) {
  .hero img, .herospacer img {
    width: 100%;
    margin-left: -100px;
    float: none; }

  .page {
    text-align: center; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page {
    text-align: center; } }
