@import "../variables.scss";



//  WRAPPERS

.wrapper{
	overflow-x: hidden;
}




// HERO
.hero, .herospacer{
	  overflow: hidden;
}
.hero img, .herospacer img{
	width: 75%;
	float: right;
}


//PAGE


.page .container img{
	margin-bottom: 20px;
}
// .page a{
// 	white-space:nowrap;
// }


.sponsors p{
	text-align: center;
	clear: both;
	margin: 10px 0;

}
.sponsors{
	padding-bottom: 64px;
}



.deck{
	text-align: center;
	margin-bottom: 40px;
}


.deck a{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Open Sans", sans-serif;
}
.deck img{
	max-width: 100%;
	max-height: 300px;
	margin: 30px auto 30px auto;
	text-align: center;
	display: block;
	border-radius: 5px;
}






// MOBILE - PORTRAIT 
@media only screen 
and (max-width: $phone-landscape - 1px)  {
	



// MOBILE - PORTRAIT - HERO
.hero img, .herospacer img{
	width: 100%;
	margin-left: -100px;
	float: none;
}

	// MOBILE - PORTRAIT - PAGE
	.page {
		text-align:center;
	}

}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {



// MOBILE - LANDSCAPE - PAGE
.page {
	text-align:center;
}
}




