.wrapper {
  overflow-x: hidden; }

.sponsors {
  padding-bottom: 54px; }

.sponsors .top {
  border-bottom: 1px solid #358fe3;
  padding-bottom: 4px;
  vertical-align: bottom;
  position: relative;
  margin-bottom: 70px; }

.sponsors .top h1 {
  text-align: left;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: -2px;
  margin-bottom: 5px; }

.sponsors .top h2 {
  font-size: 20px;
  text-transform: lowercase;
  font-family: "Helvetica Neue Light";
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 5px; }

.hero, .herospacer {
  overflow: hidden; }

.hero img, .herospacer img {
  width: 100%; }

.page .container img {
  margin-bottom: 20px; }

.sponsors p {
  text-align: center;
  clear: both;
  margin: 10px 0; }

.sponsors {
  padding-bottom: 64px; }

.deck {
  text-align: center;
  margin-bottom: 40px; }

.deck a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif; }

.deck img {
  max-width: 100%;
  max-height: 300px;
  margin: 30px auto 30px auto;
  text-align: center;
  display: block;
  border-radius: 5px; }

@media only screen and (max-width: 479px) {
  .hero img, .herospacer img {
    content: url("../../img/home_hero2_pp.jpg"); }

  .page {
    text-align: center; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page {
    text-align: center; } }
