@import "../variables.scss";



//  WRAPPERS

.wrapper{
	overflow-x: hidden;
}



// HERO
.hero{
	overflow: auto;
}
.hero img, .herospacer img{
	width: 75%;
}
.hero img{
	float: right;
}

//PAGE

.page{
	padding-bottom: 64px;
}
.page img{
	margin-bottom: 20px;
}
.page a{
	white-space:nowrap;
}



// MOBILE - PORTRAIT 
@media only screen 
and (max-width: $phone-landscape - 1px)  {
	



// MOBILE - PORTRAIT - HERO
.hero img, .herospacer img{
	width: 100%;
	margin-left: -100px;
	float: none;
}

	// MOBILE - PORTRAIT - PAGE
	.page {
		text-align:center;
	}

}



// MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $phone-wide-landscape - 1px)  {



// MOBILE - LANDSCAPE - PAGE
.page {
	text-align:center;
}
}




