.wrapper-inner {
  background-color: black; }

img.banner {
  width: 100%; }

img.rounded {
  border-radius: 2px; }

.wrapper-spotlight {
  width: 92%;
  margin: 0 auto;
  position: relative;
  max-width: 700px;
  color: white;
  padding-bottom: 35px; }

.wrapper-spotlight a {
  text-decoration: underline; }

.wrapper-spotlight p {
  text-align: justify;
  font-family: "Helvetica Neue Thin";
  color: #DDDDDD;
  font-size: 19px;
  line-height: 1.55;
  text-align: left; }

.wrapper-spotlight p strong {
  font-family: "Helvetica Neue Light";
  color: #EFEFEF; }

.wrapper-spotlight .ital, .wrapper-spotlight i {
  font-family: "Helvetica Neue Thin Italic"; }

.wrapper-spotlight p.top {
  margin-top: 0;
  min-height: 183px; }

.wrapper-spotlight p.caption {
  font-family: "Helvetica Neue Thin Italic";
  margin-top: 10px;
  font-size: 16px;
  text-align: center; }

.wrapper-spotlight p.big {
  font-size: 18px;
  word-spacing: -1px;
  line-height: 1.5em;
  margin-top: 90px;
  color: #EFEFEF; }

.wrapper-spotlight p.quote {
  font-size: 25px;
  color: #358fe3;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  margin-top: 55px;
  margin-bottom: 55px;
  max-width: 600px;
  line-height: 1.2em;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box; }

.wrapper-spotlight p.quote.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  max-width: 720px; }

.wrapper-spotlight p.quote.leftalign {
  margin-left: 0;
  margin-right: auto;
  text-align: left; }

.notopmargin {
  margin-top: 0; }

.nobottommargin {
  margin-bottom: 0; }

.leftalign {
  text-align: left; }

.center, p.center {
  text-align: center; }

.floatleft {
  float: left; }

p.rightalign {
  text-align: right; }

.bordertop {
  padding-top: 50px;
  border-top: 1px solid #358fe3;
  margin-top: 30px; }

.spotlight {
  float: left;
  min-width: 200px;
  width: 200px;
  margin-right: 48px;
  margin-bottom: 40px;
  position: relative; }

.spotlight h1 {
  font-size: 33px;
  margin-bottom: 5px;
  text-align: right; }

.spotlight h2 {
  color: #358fe3;
  text-align: right;
  font-size: 22px; }

.spotlight h3 {
  text-align: right;
  font-size: 30px;
  margin-bottom: 35px;
  margin-top: 35px; }

.honorary.spotlight h3 {
  margin-bottom: 27px;
  margin-top: 26px; }

.spotlight .first div {
  margin-bottom: 0;
  border-bottom: 1px solid #358fe3; }

.spotlight.withpicture .first div {
  margin-bottom: 55px; }

.spotlight .second, .spotlight .second img {
  width: 100%; }

.spotlight.withpicture.andcaption .second {
  margin-bottom: 45px; }

.spotlight .third {
  width: 100%; }

.spotlight .third p.caption {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0; }

img.barclays {
  width: 300px;
  float: right;
  margin-left: 35px;
  margin-bottom: 55px;
  margin-top: 6px;
  border-radius: 2px; }

img.barclays.withstraggler {
  margin-bottom: 20px; }

@media only screen and (max-width: 479px) {
  .spotlight.withpicture.andcaption .third p.caption {
    text-align: center; }

  .wrapper-spotlight p.quote {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

  .spotlight {
    width: 100%;
    margin-top: 20px; }

  .spotlight .first, .spotlight .second, .spotlight .third {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }

  .spotlight h1 {
    text-align: center; }

  .spotlight h2 {
    text-align: center; }

  .spotlight h3 {
    text-align: center; }

  img.barclays {
    float: none;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spotlight.withpicture.andcaption .third {
    clear: both; }

  .wrapper-spotlight p.quote {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

  img.barclays {
    float: none;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .spotlight.withpicture {
    margin-right: 0;
    margin-top: 20px;
    width: 100%; }

  .spotlight.withpicture .first {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left; }

  .spotlight.withpicture .first div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; }

  .spotlight.withpicture .second {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: center; }

  .spotlight.withpicture .second img {
    width: 169px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 29px; } }
