.wrapper-inner {
  background-color: #151515; }

img.banner {
  width: 100%; }

img.rounded {
  border-radius: 2px; }

.wrapper-spotlight {
  width: 92%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  max-width: 700px;
  color: white;
  padding-bottom: 35px; }

.wrapper-spotlight a {
  text-decoration: underline; }

.buffer {
  width: 100%;
  display: block;
  position: relative; }

.buffer img {
  width: 100%;
  height: 80px;
  margin-top: -80px;
  display: block;
  position: relative; }

.wrapper-spotlight p {
  text-align: justify;
  font-family: "Helvetica Neue Thin";
  color: #e6e6e6;
  font-size: 19px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 0.4px; }

.wrapper-spotlight p strong {
  font-family: "Helvetica Neue Medium";
  line-height: 1;
  letter-spacing: 0px; }

.wrapper-spotlight .ital, .wrapper-spotlight i {
  font-family: "Helvetica Neue Thin Italic"; }

.wrapper-spotlight p.top {
  margin-top: 0;
  min-height: 183px; }

.wrapper-spotlight p.caption {
  font-family: "Helvetica Neue Thin Italic";
  margin-top: 10px;
  font-size: 16px;
  text-align: center; }

.wrapper-spotlight p.big {
  font-size: 22px;
  word-spacing: -1px;
  line-height: 1.5em;
  margin-top: 90px;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper-spotlight p.quote {
  font-size: 25px;
  color: #358fe3;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  margin-top: 55px;
  margin-bottom: 55px;
  max-width: 600px;
  line-height: 1.2em;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box; }

.wrapper-spotlight p.quote.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  max-width: 720px; }

.wrapper-spotlight p.quote.leftalign {
  margin-left: 0;
  margin-right: auto;
  text-align: left; }

.wrapper-spotlight p.bigquote {
  font-size: 30px;
  color: #358fe3;
  text-align: center;
  margin-left: -20%;
  margin-top: 55px;
  margin-bottom: 55px;
  width: 140%;
  line-height: 1.2em;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box; }

.notopmargin {
  margin-top: 0; }

.nobottommargin {
  margin-bottom: 0; }

.leftalign {
  text-align: left; }

.center, p.center {
  text-align: center; }

.floatleft {
  float: left; }

p.rightalign {
  text-align: right; }

.clearboth {
  clear: both; }

.bordertop {
  padding-top: 50px;
  border-top: 1px solid #358fe3;
  margin-top: 30px; }

.spotlight {
  float: left;
  min-width: 200px;
  width: 200px;
  margin-right: 48px;
  margin-bottom: 40px;
  position: relative; }

.spotlight h1 {
  font-size: 33px;
  margin-bottom: 5px;
  text-align: right; }

.spotlight h2 {
  color: #358fe3;
  text-align: right;
  font-size: 22px; }

.spotlight h3 {
  text-align: right;
  font-size: 30px;
  margin-bottom: 35px;
  margin-top: 35px; }

.honorary.spotlight h3 {
  margin-bottom: 27px;
  margin-top: 26px; }

.spotlight .first div {
  margin-bottom: 0;
  border-bottom: 1px solid #358fe3; }

.spotlight.withpicture .first div {
  margin-bottom: 55px; }

.spotlight .second, .spotlight .second img {
  width: 100%; }

.spotlight.withpicture.andcaption .second {
  margin-bottom: 45px; }

.spotlight .third {
  width: 100%; }

.spotlight .third p.caption {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0; }

.spotlight.withoutbanner {
  width: 100%; }

.pp {
  display: none; }

.spotlight.withoutbanner h1 {
  text-align: left; }

.spotlight.withoutbanner .first div {
  position: relative;
  border-bottom: none; }

.spotlight.withoutbanner h3 {
  text-align: right;
  margin-bottom: 5px;
  margin-top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1; }

.spotlight.withoutbanner .first div:nth-child(2) {
  border-bottom: none; }

.spotlight.withoutbanner h2 {
  text-align: left;
  margin-top: 5px; }

.authordivider {
  width: 100%;
  clear: both;
  padding-top: 80px;
  text-align: center;
  position: relative; }

.authordivider p {
  text-align: center; }

.authordivider p:first-child {
  margin-bottom: 5px;
  font-size: 24px; }

.authordivider p:last-child {
  margin-top: 5px;
  font-size: 17px;
  font-family: "Helvetica Neue Thin Italic"; }

.authordivider hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.75), rgba(21, 21, 21, 0));
  background-image: -moz-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.75), rgba(21, 21, 21, 0));
  background-image: -ms-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.75), rgba(21, 21, 21, 0));
  background-image: -o-linear-gradient(left, rgba(21, 21, 21, 0), rgba(53, 143, 227, 0.75), rgba(21, 21, 21, 0)); }

.authordivider.bottom {
  padding-top: 0;
  margin-top: 70px;
  margin-bottom: 100px; }

img.barclays {
  width: 300px;
  float: right;
  margin-left: 35px;
  margin-bottom: 55px;
  margin-top: 6px;
  border-radius: 2px; }

img.barclays.withstraggler {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 330px; }

@media only screen and (max-width: 479px) {
  .spotlight.withpicture.andcaption .third p.caption {
    text-align: center; }

  .wrapper-spotlight p.quote {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

  .wrapper-spotlight p.bigquote {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }

  .spotlight {
    width: 100%;
    margin-top: 20px; }

  .spotlight .first, .spotlight .second, .spotlight .third {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }

  .spotlight h1 {
    text-align: center; }

  .spotlight h2 {
    text-align: center; }

  .spotlight h3 {
    text-align: center; }

  .pp {
    display: block; }

  .no-pp {
    display: none; }

  img.barclays {
    float: none;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spotlight.withpicture.andcaption .third {
    clear: both; }

  .wrapper-spotlight p.quote {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

  .wrapper-spotlight p.bigquote {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }

  img.barclays {
    float: none;
    text-align: center;
    display: block;
    margin-right: auto !important;
    margin-left: auto !important; }

  .spotlight.withpicture {
    margin-right: 0;
    margin-top: 20px;
    width: 100%; }

  .spotlight.withpicture .first {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left; }

  .spotlight.withpicture .first div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; }

  .spotlight.withpicture .second {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: center; }

  .spotlight.withpicture .second img {
    width: 169px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 29px; }

  .pp {
    display: block; }

  .no-pp {
    display: none; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-spotlight p.bigquote {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; } }
