.csvideo {
  width: 100%;
  height: auto;
  position: relative; }

.video-area {
  display: inline-block;
  width: 100%; }

.video-player {
  height: 500px;
  display: inline-block;
  width: calc(100% - 304px);
  box-sizing: border-box; }

#crowdsurfing-wrapper {
  display: inline-block;
  box-sizing: border-box; }
