@import "../variables.scss";



.sample-player
{
	width: 604px;
	height: 341px;
	margin: 20px auto 20px auto;
}


.sample-menu{
	z-index: 200;
	background-color: rgba(21,21,21, 0.7) !important;
}



// .full-screen #crowdsurfing-wrapper{
// 	margin-top: 1% !important;
// }

// .full-screen .sample-menu{
// 	margin-top: 100px !important;
// }
//  MOBILE - PORTRAIT

@media only screen 
and (max-width: $phone-landscape - 1px)  {


}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

	

}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

