@import "../variables.scss";


.wrapper-inner{
	min-width: 1200px;
}
.csvideo{
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 40px;

}
.video-area{
	display: inline-block;
	width: 100%;
}

.full-screen .video-area{
	cursor: auto;
		-webkit-transition-delay: 0s; /* Safari */
	transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
}

.nocursor *{
	cursor: none !important;
}
.video-player{
	height: 500px;
	display: inline-block;
	width: calc(100% - 304px);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position:relative;
	overflow:hidden;
}

.akamai-media-player{
	z-index: 1 !important;

}

.akamai-video{
	position:absolute;
}


#crowdsurfing-crowd{
	box-shadow: 0px 0 0px 0px rgba(0,0,0,0) !important;
	-webkit-box-shadow: 0px 0 0px 0px rgba(0,0,0,0) !important;
	-moz-box-shadow: 0px 0 0px 0px rgba(0,0,0,0) !important;
}

#crowdsurfing-wrapper{
	display:inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition-delay: 1.5s; /* Safari */
	transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
}



.full-screen #crowdsurfing-wrapper:not(.ie){
	opacity: 0.15;
}
.full-screen .video-area:not(.cs-fullscreen-minimized) #crowdsurfing-wrapper:hover:not(.ie){
	opacity: 1;
	-webkit-transition-delay: 0s; /* Safari */
	transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
}

.make-cs-opaque{
	opacity: 1 !important;
	-webkit-transition-delay: 0s !important; /* Safari */
	transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;

}


.full-screen .cs-fullscreen-minimized #crowdsurfing-wrapper{
	top: -65px  !important;
	bottom:65px !important;
	height: 130px !important;
	min-height: 130px !important;
	opacity: 0.15;
}
.full-screen .cs-fullscreen-minimized #crowdsurfing-wrapper:hover{
	top: 0 !important;
	bottom: 0 !important;
	-webkit-transition-delay: 0s !important; /* Safari */
	transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	opacity: 1;
	height: 65px !important;
	min-height: 65px !important;
}

.cs-fullscreen-minimized #crowdsurfing-wrapper.make-minimized-cs-appear{
	top: 0 !important;
	bottom: 0 !important;
	-webkit-transition-delay: 0s !important; /* Safari */
	transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	opacity: 1;
	height: 65px !important;
	min-height: 65px !important;
}




.shrink-wrapper{
	height: calc(100% - 50px) !important;
}

$video-title-bar-height: 36px;
$video-menu-bar-height: 50px;
.video-bar-wrapper{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	// z-index: 1000;
}

.video-title-wrapper{
	top: 0;
	height: $video-title-bar-height;
}

.video-menu-wrapper{
	bottom: 0;
	height: $video-menu-bar-height;
}
.fs-menu, .fs-title, .fs-gc-prompt{
	display:none;
}
.full-screen .video-menu-wrapper, .full-screen .video-title-wrapper, .full-screen .gc-prompt-wrapper{
	display:none;

}
.full-screen .fs-menu, .full-screen .fs-title {
	display: inline-block;
}

.fs-gc-prompt{
	z-index: 1;
}


.fs-bar-wrapper{
	z-index: 10;
}


.video-bar{
	width: 100%;
	background-color: rgba(200,200,200, 0.8);
	position: absolute;
	left: 0;
	right: 0;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear; 
	-webkit-transition-delay: 1.5s; /* Safari */
	transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
    	// padding-left: 10px;
    	// padding-right: 10px;
    	box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    }

    .outer{
    	display: table;
    	position: absolute;
    	height: 100%;
    	width: 100%;
    }

    .middle{
    	display: table-cell;
    	vertical-align: middle;
    }


    .video-title{
    	top:-100%;
    	bottom: 100%;
    }

    .video-menu{
    	top:100%;
    	bottom: -100%;


    }

    .video-player:not(.full-screen):hover {
    	& .video-bar{
    		bottom:0; 
    		top: 0; 
    		-webkit-transition-delay: 0.5s; /* Safari */
    		-moz-transition-delay: 0.5s;
    		-o-transition-delay: 0.5s;
    		transition-delay: 0.5s;  	
    	}
    }


    .show-bars{
    	bottom:0; 
    	top: 0; 
    	-webkit-transition-delay: 0.5s; /* Safari */
    	-moz-transition-delay: 0.5s;
    	-o-transition-delay: 0.5s;
    	transition-delay: 0.5s;  
    }



    .video-title .LOH-branding{
    	float:left;
    	padding-top: 2px;
    }
    .video-title .LOH-branding h5{
    	text-align:left;
    	margin-bottom: 0;
    	display: inline-block;
    	padding-right: 5px;
    	border-right: 1px solid rgba(21,21,21,0.4);
    	line-height: 1.3;
    	font-size: 16px;

    }

    .video-title .LOH-branding p{
    	padding-left: 5px;
    	display: inline-block;
    	margin-bottom: 0;
    	margin-top: 0;
    	line-height: 1.2;
    	font-size: 14px;
    }

    .video-title .inplay-branding{
    	float:right;
    }

    .video-title .inplay-branding p:first-child{
    	text-align: right;
    	font-size: 10px;
    	font-family: "Helvetica Neue Thin Italic";
    	text-transform: lowercase;
    	margin-top: 0;
    	margin-bottom:0;
    	line-height: 1;
    }

    .video-title .inplay-branding p:last-child{
    	text-align: right;
    	font-size: 13px;
    	font-family: "Helvetica Neue Light";
    	text-transform: lowercase;
    	margin-top: 0;
    	margin-bottom:0;
    	line-height: 1;
    }


    .fs-title, .fs-menu.cs-expanded{
    	width: calc(100% - 300px);
    }

    .video-menu .half-menu{
    	width: 50%;
    	height: $video-menu-bar-height;
    	box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;

    }
    .video-menu .left-menu{
    	left:0;
	// padding-left: 10px;
}

.video-menu .right-menu{
	left:50%;
	// padding-right: 10px;
}

.video-menu .half-menu .middle{
		// width: 100%;
	}



	.left-menu i{
		color: rgb(51,51,51);
		cursor: pointer;
		float: left;
		font-size: 19px;
		padding-left: 15px;
		padding-right: 15px;
		display: inline-block;
	}

	.left-menu i:hover{
		color: $loh-blue;
	}

	.left-menu .middle:nth-child(-n + 3){
		width: 50px;
	}

	.left-menu .volume{
		width: 48px;
		text-align: center;
		position: relative;
	}


	.left-menu .volumebutton{
		position:relative;
	}
	.volume .range{
	// display: none;
	position: absolute;
	// top: -120px;
	top: 0;
	// bottom: 33px;
	bottom: 100% ;
	left: 6px;
	width: 30px;
	background-color: rgba(200,200,200, 0.8);
	text-align:center;
	padding-top: 0px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	overflow:hidden;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear; 
}


.volume .range input{
	writing-mode: bt-lr; /* IE */
	-epub-writing-mode: bt-lr; /* IE */
	-ms-writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	-moz-appearance: slider-vertical; /* WebKit */
	appearance: slider-vertical;
	width: 20px;
	height: 90px;
    // padding: 0 5px;
    margin-left: auto;
    margin-right: auto;
}

.volume .range input.ie{
	width: 18px;
	padding-left:6px;
}



.volume .range input.ie::-ms-track {
    // width: 300px;
    // height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 0px 6px;

    /*remove default tick marks*/
    color: transparent;
}
.volume .range input.ie::-ms-fill-lower {
	background: rgb(51,51,51);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.volume .range input.ie::-ms-fill-upper {
	background: rgb(51,51,51);
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
.volume .range input.ie::-ms-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: white;
}
.left-menu .volume:hover{
	& .range{top: -110px; bottom: 100%;padding-top: 12px;}	
}




.video-bar .btn{
	cursor: pointer;
	// height: 100%;
	width: 150px;
	padding-top:3px;
	
}

.video-bar .btn h1{
	font-size: 15px;
	line-height: 0.8;
	margin-bottom: 0;
	margin-top: 0;
	font-family: "Helvetica Neue Light";
}
.video-bar .btn h1 b{
	font-family: "Helvetica Neue Medium";
}

.video-bar .btn p{
	font-size: 10px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 0.8;

}



.video-menu .mainBtn{
	float:right;
	text-align: right;
	padding-right: 10px;
	
}


.video-menu .backstageBtn{
	float: left;
	text-align: left;
	padding-left: 30px;
	position:relative;
}
.video-menu .backstageBtn .lock{
	top: 0;
	left: 0;
	bottom: 0;
	right: 120px;
	
}
.video-menu .backstageBtn .lock .fa-lock{
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	opacity: 0.6;

}

.video-menu .donate-btn{
	float: right;
	padding: 3px 12px 5px 12px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	color:white;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	-webkit-box-shadow: -2px 2px 5px #888888;
	-moz-box-shadow: -2px 2px 5px #888888;
	box-shadow: -2px 2px 5px #888888;
	background-color: rgb( 86, 152,45);
	position:relative;

}


.video-menu .donate-btn p {
	margin-top:0;
	margin-bottom: 0;
}

.video-menu .donateBtn h1{
	font-family: "Oswald";
}



.main-stream{
	// #358fe3
	background-image: -webkit-linear-gradient(right, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -moz-linear-gradient(right, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -ms-linear-gradient(right, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -o-linear-gradient(right, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
    // background-image:    -moz-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0)); 
    // background-image:     -ms-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0)); 
    // background-image:      -o-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0));
}


.premium-stream{
	// #358fe3
	background-image: -webkit-linear-gradient(left, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -moz-linear-gradient(left, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -ms-linear-gradient(left, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
	background-image: -o-linear-gradient(left, rgba(53,143,227,1),rgba(53,143,227,1),rgba(53,143,227,0.2), rgba(53,143,227,0),rgba(53,143,227,0)); 
    // background-image:    -moz-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0)); 
    // background-image:     -ms-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0)); 
    // background-image:      -o-linear-gradient(right, rgba(21,21,21,0.9), rgba(21,21,21,0));
}

.premium-stream-locked{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

}

.premium-stream-locked img{
	height: 100%;
	width:200px;
	float: left;
	position:relative;
}




.gc-prompt-wrapper, .general-error-wrapper{
	position:absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	text-align:center;
	display:none;
}

.general-error-wrapper{
	min-height: 592px;
	z-index:3;
}

.gc-prompt, .general-error{
	// position: absolute;
	// background-color: rgba(21,21,21, 0.8);
	background-color: rgba(59,59,59, 0.9);
	padding: 25px 25px 25px 25px;
	-webkit-border-radius:10px;
	border-radius:10px;
	// bottom: 100%;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	position: relative;
	
}

.general-error{
	padding: 15px 15px;
	background-color: rgba(59,59,59,1);
	-webkit-box-shadow: -2px 2px 5px #111;
	-moz-box-shadow: -2px 2px 5px #111;
	box-shadow: -2px 2px 5px #111;
}


.gc-prompt .fa-close, .general-error .fa-close{
	position:absolute;
	top: 8px;
	right: 10px;
	color: white;
	cursor: pointer;
	font-size: 12px;
}

.gc-prompt p, .general-error p{
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	display: inline-block;

	font-size: 14px;
	text-align:justify;
}

.general-error p{
	margin-bottom: 0;
}



.gc-prompt p.error{
	color: red;
	text-align:center;
	margin-bottom: 0;
	display: none;
}

.submit-gc-btn{
	display: inline-block;

}


.gc-text{
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	display:block;
	margin-left:auto;
	margin-right: auto;
	width: 200px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 8px;
}

.gc-prompt .submit-gc-btn{
	background-color: #358fe3;
	padding: 10px;
	padding-top: 5px;
	margin-top: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	color:white;
	cursor: pointer;

}
.gc-prompt .submit-gc-btn:hover{
	background-color: $loh-green;
}
.gc-prompt .submit-gc-btn p{
	margin-bottom: 0;
	line-height: 1;
}


.fs-gc-prompt .gc-prompt{
	width: 400px;
}


.fs-gc-prompt .gc-prompt p{
	font-size: 16px;
	margin-bottom: 0;
}




.playerimg1{
	padding-top:0px;
	height: 25px;
	padding-left: 10px;
}

.playerimg2{
	padding-top:3px;
	height: 22px;
	padding-right: 10px;
	float: right;
}

.playerimg5{
	height: 30px;
}



.backstageBtn.withpngs{
	padding-left: 10px;
	width: auto;
}
.playerimg6{
	height: 30px;
	display: inline-block;
	// padding-top: 10px;

}

.playerimg7{
	height: 30px;
	display: inline-block;
}

.backstageBtn.withpngs.unlocked .playerimg6{
	display:none;
}

img.playbutton{
	height: 25px;
	margin-left: 15px;
	cursor: pointer;
	z-index: 100;
	background-size: 20px 34px;
	background-repeat: none
}

img.playbutton.play{
	// content: url('../../img/player9.png');
	background-image: url('../../img/player9.png');
}
img.playbutton.play:hover{
	// content: url('../../img/player8.png');
	background-image: url('../../img/player8.png');
}

img.playbutton.pause{
	// content: url('../../img/player3.png');
	background-image: url('../../img/player3.png');
	height: 20px;
}
img.playbutton.pause:hover{
	// content: url('../../img/player4.png');
	background-image: url('../../img/player4.png');
}



body:not(.fullscreen) #cs-setlist{
	position:relative !important;
	margin-top: -50px;
}

body:not(.fullscreen) #cs-setlist.active{
	margin-top: 0px;
}




@media only screen 
and (max-width: $phone-landscape - 1px)  {


}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

	

}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

