@import "../variables.scss";


.csvideo{
	width: 100%;
	height: auto;
	position: relative;

}
.video-area{
	display: inline-block;
	width: 100%;
}
.video-player{
	height: 500px;
	display: inline-block;
	width: calc(100% - 304px);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position:relative;
	overflow:hidden;
}

.akamai-media-player{
	z-index: 1 !important;

}



#crowdsurfing-crowd{
	box-shadow: 0px 0 0px 0px rgba(0,0,0,0) !important;
}

#crowdsurfing-wrapper{
	display:inline-block;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
			transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
}

.shrink-wrapper{
	height: calc(100% - 50px) !important;
}

$video-bar-height: 50px;
.video-bar-wrapper{
	width: 100%;
	height: $video-bar-height;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1000;
}

.video-title-wrapper{
	top: 0;
}

.video-menu-wrapper{
	bottom: 0;
}



.video-bar{
	width: 100%;
	background-color: rgba(200,200,200, 0.8);
	position: absolute;
	left: 0;
	right: 0;
		transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; 
}

.video-title{
	top:-100%;
	bottom: 100%;
}

.video-menu{
	top:100%;
	bottom: -100%;
}

.video-player:hover{
	& .video-bar{bottom:0; top: 0}
	& #crowdsurfing-wrapper{display: none !important;}
}
// .video-bar.showBars{
// 	bottom:0; top: 0
// }


.video-title .LOH-branding{
	float:left;
}
.video-title .LOH-branding h5{
	text-align:left;
	margin-bottom: 0;
	display: inline-block;
}

.video-title .LOH-branding p{
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	}

	.video-title .inplay-branding{
	float:right;
}

	.video-title .inplay-branding p:first-child{
		text-align: right;
		font-size: 10px;
		font-family: "Helvetica Neue Thin Italic";
		text-transform: lowercase;
		margin-top: 0;
		margin-bottom:0;
		line-height: 1;
	}

	.video-title .inplay-branding p:last-child{
		text-align: right;
		font-size: 13px;
		font-family: "Helvetica Neue Medium";
		text-transform: lowercase;
		margin-top: 0;
		margin-bottom:0;
		line-height: 1;
	}




.video-menu .half-menu{
	width: 50%;
	position:relative;
	display: inline-block;
}
.video-menu .left-menu{
	float: left;
	}

	.video-menu .right-menu{
	float: right;
	}

	.video-menu .playbutton{
	color: white;
	cursor: pointer;
}

.video-menu .playbutton:hover{
	color: $loh-blue;

	}

.video-menu .angle1 button{
	content: "Main Stage";
	float: right;
}

.video-menu .angle2 button{
	content: "Back Stage";
	float: left;
}

.video-menu .donateBtn{
	float: right;
}



.csBtn{
	// display:none;
}

.full-screen .csBtn{
	display: inline-block;
}

.full-screen .cs-hidden{
	// visibility: hidden;
	display: none !important;
}



.gc-prompt{
	position: absolute;
	background-color: rgba(21,21,21, 0.8);
	bottom: 100%;
	width: 100%;
	top: -40px;
	display: none;
}

.gc-prompt p{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	display: inline-block;
}

.submit-gc-btn{
	display: inline-block;
}

.gc-enter p{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	display: inline-block;
}

.gc-text{
	 -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


@media only screen 
and (max-width: $phone-landscape - 1px)  {


}


//  MOBILE - LANDSCAPE
@media only screen 
and (min-width: $phone-landscape) 
and (max-width: $tablet-portrait - 1px)  {

	

}

// TABLET - PORTRAIT
@media only screen 
and (min-width : $tablet-portrait) 
and (max-width : $tablet-landscape - 1px) {


}

