.csvideo {
  width: 100%;
  height: auto;
  position: relative; }

.video-area {
  display: inline-block;
  width: 100%; }

.video-player {
  height: 500px;
  display: inline-block;
  width: calc(100% - 304px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow: hidden; }

.akamai-media-player {
  z-index: 1 !important; }

#crowdsurfing-wrapper {
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.video-menu-wrapper {
  width: 100%;
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

.video-menu {
  width: 100%;
  background-color: rgba(21, 21, 21, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }

.full-screen .video-menu {
  top: 100%; }

.video-menu-wrapper:hover .video-menu, .video-menu:hover .video-menu {
  top: 0; }

.video-menu .angle1 button {
  content: "Main Stage"; }

.video-menu .angle2 button {
  content: "Back Stage"; }

.video-menu .playbutton {
  color: white;
  cursor: pointer; }

.video-menu .playbutton:hover {
  color: #358fe3; }

.csBtn {
  display: none; }

.full-screen .csBtn {
  display: inline-block; }

.full-screen .cs-hidden {
  visibility: hidden; }

.gc-prompt {
  position: absolute;
  background-color: rgba(21, 21, 21, 0.8);
  bottom: 100%;
  width: 100%;
  top: -40px;
  display: none; }

.gc-prompt p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  display: inline-block; }

.submit-gc-btn {
  display: inline-block; }

.gc-enter p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  display: inline-block; }

.gc-text {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }
