@import "social-icons";

$navheight: 50px;

nav {
	background: rgba(28, 31, 38, 1);
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: $navheight;
	top: 0px;
}

#navholder {
	float:right;
}

.links {
	height: $navheight;
	display: table-cell;
	vertical-align: middle;
}

.links li {
	display: inline;
	margin: 0 15px 0 0;
}

.links a {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin-top:8px;
}

.links a:visited {
	color: white;
}

.links a:hover {
	color: #358fe3;
	// border-bottom: 2px solid #358fe3;
}

.links li.current, .links li.current a {
	// border-bottom: 2px solid #358fe3;
	color: #358fe3;
}




